
.td_bike_dd{
    font-size: 14px;
    padding: 0px;
    color: $light_black;
    font-family: "montserrat-regular";
    border: solid 2px #656565;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    white-space: pre;
    overflow: hidden;
    &.selected{
        border: solid 2px #da291c;

        &:before{
            transform: rotateX(180deg);
        }
    }
    &:before{
        position:absolute;
        padding-right: 15px;
        right: 0;
        top: 50%;
        content: '\0043';
        color:$light_black;
        font-size: 14px;
        font-family: 'reicons';
        height: 20px;
        margin-top: -10px;
        line-height: 20px;
        background:#d5d5d5;
    }
}

.select_bike_drop{
    width: 100%;
    background:#212121;
    position: relative;
    display: none;

    .select_bike_drop_wrap{
        overflow: hidden;
        margin: 0px 5% 20px;
        padding-bottom: 30px;

            label{
                width: 25%;
                float: left;
                display: block;
                cursor: pointer;
                box-sizing: border-box;
                padding: 0 4%;
                overflow: hidden;
                position: relative;

                input[type="radio"]{
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    opacity: 0;
                    visibility: hidden;
                }

                img{
                    width: 100%;
                    display: block;
                }

                p{
                    font-size: 14px;
                    display: block;
                    text-align: center;
                    line-height: 40px;
                    color: $gray_bg;
                    position: relative;
                    transition: all 0.5s ease 0s;
                    margin: 0px;

                        &:after{
                            width:0px;
                            height: 1px;
                            background:#da291c;
                            position: absolute;
                            bottom: 0px;
                            left: 50%;
                            content: '';
                            transition: all 0.5s ease 0s;
                        }
                        &:before{
                            width:0px;
                            height: 1px;
                            background:#da291c;
                            position: absolute;
                            top: 0px;
                            left: 50%;
                            content: '';
                            transition: all 0.5s ease 0s;
                        }
                }

                &:hover, &.active{
                    p{
                        color:#da291c;

                        &:after{
                            width:100%;
                            left: 0%;
                        }
                        &:before{
                            width:100%;
                            left: 0%;
                        }
                    }
                }
            }
    }
    .bk_push_up{
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: -20px;
        background:#d5d5d5;
        box-shadow: 0px 3px 4px 0px #a5a5a5;
        text-align: center;
        cursor: pointer;


            &:hover{
                &:after{
                    color:$maroon;
                }
            }
        &:after{
            text-align:center;
            font-size: 14px;
            color: #212121;
            line-height: 40px;
            content: '\0043';
            font-family: 'reicons';
            transform: rotate(180deg);
            display: block;
        }
    }
    .bike_holder{
        width: 20%;
        float: left;
        margin: 0 2.5%;
        cursor: pointer;

        img{
            display: block;
            width: 100%;
        }

        p{
            font-size: 18px;
            display: block;
            text-align: center;
            color: $gray_bg;
            line-height: 55px;
            position: relative;

            &:before{
                width:50%;
                height: 1px;
                position: absolute;
                left: 50%;
                background:#da291c;
                top: 0px;
                content: '';
            }
            &:after{
                width:50%;
                height: 1px;
                position: absolute;
                left: 50%;
                background:#da291c;
                bottom: 0px;
                content: '';
            }
        }

    }
}
@media screen and (max-width: 1250px) {
    .select_bike_drop{
        .select_bike_drop_wrap{
            label {
                width: 33%;
                p {
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    
    .select_bike_drop {
        width: 90%;
        margin: 0 auto;
        border-top: 10px solid #d5d5d5;
    }
    
    .td_bike_dd {
        height: 42px;
        line-height: 42px;
    }
    .select_bike_drop{
        .select_bike_drop_wrap{
            label {
                width: 50%;
                padding: 0 6%;
            }
        }
    }
    .td_bike_dd {
        border-width: 1px;
    }
    .select_bike_drop .select_bike_drop_wrap{
        margin: 0px 0 20px;
    }
}