/*book a test ride*/
.btr-main{
    background:#d5d5d5;
    overflow:hidden;

    .container-mdm{
        box-shadow: 11px 5px 20px 4px rgba(102, 102, 102, 0.1), -11px 5px 20px 4px rgba(102, 102, 102, 0.1);
    }
}
.fix_slider_holder{
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    h1{
        width: 100%;
        text-align: center;
        padding: 0px;
        position: absolute;
        left: 0px;
        top: 19vw;
        text-align: center; 
    }
}
.book-test-ride-main {
    position: relative;
    z-index: 9;
    margin-top:33vw; 
    .carousel-btr-head {
        padding: 20px 0;
        border-bottom: solid 2px #8e8e8e;
        .inner-box {
            max-width: 80%;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            img {
                display: inline-block;
                width: auto;
            }
        }
        .slick-dots {
            display: none !important;
        }
    }
    .container-mdm {
        width: 90%; 
        max-width: 1660px;
        padding: 0;
        background: #d5d5d5;
        min-height: 500px; 

    }
    p {
        color: $light_black;
        font-size: 14px;
    }

    .inner-box span {
        display: inline-block;
        width: auto;
        font-size: 32px;
        color: #545454;
        padding-top: 1px;
    }
}
.book-test-ride {
    padding: 50px 0;
    text-align: center;
    .container-std {
        width: 90%;
    }
    .grid-two {
        margin: 40px 0;
        .grid-box {
            width: 43%;
            margin: 0px 3.5%;
        }
    }
}
.banner-book-test-ride {
    .disp-tbl-cel {
        vertical-align: top;
    }
    .re-title {
        position: relative;
        margin-top: 18%;
    }
}
.book_testride_form{
    width: 100%;
    padding-bottom: 20px;
}
.bk-tsrd-fm-hld{
    width: 90%;
    margin: 0px auto 20px;
    overflow: hidden;

    .input-box{
        width: 45%;
        float: left;
        margin: 0 2.5%;
    }
}
.bk-ts-rd-fm{
    width: 100%;
    overflow: hidden;
}

.dealer_dropdown{
    width: 90%;
    overflow: hidden;
    text-align: left;
    padding-bottom: 50px;
    margin:0px auto;
    display: none;

    label{
        width: calc(25% - 35px);
        display: inline-block;
        padding-left: 45px;
        box-sizing: border-box;
        cursor: pointer;
        margin-top: 50px;
        position: relative;
        margin-left: 30px;
        vertical-align: top;

        input[type="radio"]{
            position: absolute;
            left: 0px;
            top: 0px;
            opacity: 0;
            visibility: hidden;
        }

        &:after{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position: absolute;
            left: 0px;
            top: 0px;
            border:1px solid #000;
            content: '';
        }
        &:before{
            width: 17px;
            height: 17px;
            position: absolute;
            left: 4px;
            top: 4px;
            content: '';
            background: #da291c;
            transform: scale(0);
            transition: all 0.5s ease 0s;
            border-radius: 50%;
        }

        &.active{
            &:before{
            transform: scale(1);
            }
        }

        h3{
            font-size: 24px;
            color: #1f191a;
            line-height: 20px;
        }

        p{
            font-size: 18px;
            line-height: 24px;
            margin: 15px 0px 0px;
        }
    }
}

@media screen and (max-width: 1250px) {
     
    .book-test-ride {
        .container-std {
            width: 100%;
        }
        .book-test-ride .grid-two .grid-box {
            width: 45%;
            margin: 0px 2.5%;
        }
    }
    
    .dealer_dropdown{
        label {
            width: calc(33.33% - 35px);
        }
    }
}
@media screen and (max-width: 1000px) {
    .dealer_dropdown{
        label {
            width: calc(50% - 35px);
        }
    }
}
@media screen and (max-width: 767px) {
    .book-test-ride-main {
        .container-mdm {
            width: 100%;
            margin-top: 0px;
        }
        .grid-three .grid-box {
            width: 100%;
        }
    }
    
    .book-test-ride {
        padding: 30px 0;
        .grid-two {
            margin: 25px 0;
            .grid-box {
                width: 100%;
                margin: 0;
            }
        }
    }
    
    .bk-tsrd-fm-hld{
        margin: 0px auto;

        .input-box {
            width: 100%;
            margin:10px 0px 0px; 
        }
    }
    .book-test-ride{
        .custom-btn{
            margin-top: 20px;
        }
    }
    
    .dealer_dropdown{
        padding-bottom: 20px;
        label {
            width: 100%;
            margin: 20px 0px 0px;
            padding-left: 30px;

            &:before {
                width: 10px;
                height: 10px;
                left: 5px;
                top: 5px;
            }
            &:after {
                width: 20px;
                height: 20px;
            }
            h3 {
                font-size: 16px;
                line-height: 18px;
            }
            p {
                font-size: 15px;
                line-height: 19px;
                margin: 8px 0px 0px;
            }
        }
    }

    .book-test-ride-main{
        .ful-wid-btn-mobi{
            width: 90%;
            background: #000 !important;
            color: #FFF;
            margin-top:0px;
        }
    }
}