// datepicker-custom
.ui-datepicker {
	width: 410px;
	height: auto;
	background: $white;
	margin: 5px auto 0;
    padding: 20px;
	a {
		text-decoration: none;
		font-family: $ms_r;
    	font-weight: normal;
	}
	table {
		width: 100%;
	}
	thead {
		background-color: #f7f7f7;
		border-bottom: 1px solid #bbb;
	}
	th {
	    text-transform: uppercase;
	    font-size: 16px;
	    padding: 10px;
	    color: #5d5d5d;
	    background: #ffffff;
    	font-weight: normal;
	}
	tbody td {
    	padding: 7px;
	}
	tbody td:last-child {
		border-right: 0px;
	}
	tbody tr {
		border-bottom: 1px solid #bbb;
	}
	tbody tr:last-child {
		border-bottom: 0px;
	}
	td span, .ui-datepicker td a {
		display: inline-block;
		text-align: center;
		width: 30px;
		height: 30px;
		line-height: 30px;
		color: #666666;
		transition: ease all 0.6s;
    	font-weight: normal;
	}
	.ui-datepicker-unselectable.ui-state-disabled .ui-state-default {
	    background: $white;
	    color: #e9ecef;
	}
}
.ui-datepicker-header {
	background: $white;
    color: #5d5d5d;
    border-bottom: solid thin #dadbdd;
    padding: 5px 0 20px;
    margin: 0 15px 15px;
    text-align: center;
	a {
		font-family: $gs_m;
	}
	.ui-datepicker-title {
		select {
			border: none;
			font-family: $gs_m;
		    font-size: 23px;
		    outline: none;
		    color: #5d5d5d;
		    padding: 0px 15px;
		    margin: 0 15px;
		    background: none;
		    text-transform: none;
		    transition: all 0.6s ease;
		    outline: none;
    		appearance: none;
		    background: url('/dist/assets/images/svg/arrow-down.svg') no-repeat !important;
		    background-size: 10px !important;
		    background-position: 97% !important;
		}
	}
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: none;
}
.ui-datepicker-calendar .ui-state-default {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: $white;
    color: #dadbdd;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
	transition: ease all 0.6s;
}
.ui-datepicker-calendar .ui-state-hover {
	background: #dadbdd;
    color: $white;
}
.ui-datepicker-calendar .ui-state-active {
	background: #dadbdd;
    color: $white;
	position: relative;
	margin: -1px;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
@media screen and (max-width: 1250px) {
	.ui-datepicker {
    	width: 350px;
	    padding: 15px;
	}
	.ui-datepicker-header .ui-datepicker-title select {
	    font-size: 20px;
	    margin: 0 10px;
	}
	.ui-datepicker th {
	    font-size: 14px;
	    padding: 7px;
	}
	.ui-datepicker tbody td {
	    padding: 5px;
	}
	.ui-datepicker-calendar .ui-state-default {
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	}
}
@media screen and (max-width: 767px) {
	.ui-datepicker {
    	width: 285px;
	    padding: 10px;
	}
	.ui-datepicker-header .ui-datepicker-title select {
	    font-size: 18px;
	}
	.ui-datepicker th {
	    font-size: 12px;
	    padding: 5px;
	}
	.ui-datepicker tbody td {
	    padding: 5px;
	}
	.ui-datepicker-calendar .ui-state-default {
	    width: 20px;
	    height: 20px;
	    line-height: 20px;
    	font-size: 12px;
	}
	.ui-datepicker-header {
	    padding: 5px 0 10px;
	    margin: 0 10px 10px;
	}
	.ui-datepicker-header .ui-datepicker-title select {
	    font-size: 16px;
	}
}
// datepicker-custom