/*explore tags ride && Preview  [START]*/
.explore-tags-main {
    background: #1b1b1b;
    padding: 25px;
    color: $white;
    position: relative;
    .container-sml {
        max-width: 1300px;
    }
    a {
        color: $white;
    }
    .tags-head {
        width: 100%;
        display: inline-block;
        margin-bottom: 25px;
    }
    .tags-title, .tags-group, .tags-btn {
        width: auto;
        display: inline-block;
        vertical-align: middle;
        font-family: $gs_sb;
    }
    .tags-title {
        padding-right: 20px;
        color: #c9c9c9;
        font-size: 22px;
    }
    .tags-group {
        width: 70%;
        .tags {
            width: auto;
            display: inline-block;
            vertical-align: middle;
            padding: 0 15px;
            cursor: pointer;
            font-family: $gs_sb;
            font-size: 24px;
            transition: ease all 0.6s;
            &:hover {
                color: $maroon;
            }
        }
    }
    .tags-btn {
        position: absolute;
        right: 0;
        top: 0;
        .custom-btn {
            border-color: transparent;
            border-bottom: solid thin #ffffff;
            padding: 0px 25px 7px 0;
            font-family: $gs_sb;
            font-size: 20px;
            &:hover {
                background: transparent;
                color: $maroon;
                border-bottom-color: $maroon;
            }
            &:before {
                content: '\0043';
                right: 0;
                animation: initial;
                top: 5px;
            }
            &.tb-active {
                &:before {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .tags-all {
        display: none;
        margin: 15px 0 25px;
        width: 100%;
        .tags {
            margin: 15px 0;
        }
    }
}
.explore-tags-preview-main {
    .custom-btn {
        border-color: transparent;
        background: transparent;
        color: #c9c9c9;
    }
    .tags-head {
        text-align: center;
        margin-bottom: 35px;
        .tags {
            font-size: 34px;
            font-family: $gs_sb;
        }
    }
    .image-caption span {
        i {
            font-style: normal;
            transition: ease all 0.6s;
        }
    }
    .grid-item:hover {
        .image-caption span i {
            color: $maroon;
        }
    }
}
.tags-head-back {
    position: absolute;
    left: 15px;
    width: 240px;
    top: 30px;
    z-index: 9;
    .custom-btn {
        background: none;
        color: $white;
        &:hover {
            background: none;
            color: $maroon;
        }
        &:before {
            animation: initial !important;
        }
    }
}

.load-more-bottom {
    text-align: center;
    .custom-btn {
        border-bottom-color: $white;
        &:before {
            content: "\0043";
            animation: initial !important;
        }
        &:hover {
            color: $maroon;
            border-bottom-color: $maroon;
        }
    }
}
/*explore tags ride [END]*/
@media screen and (max-width: 1680px) {
    .tags-head-back {
        left: 0px;
    }
}
@media screen and (max-width: 1250px) {
    .explore-tags-main {
        .tags-title {
            padding-right: 15px;
            font-size: 18px;
        }
        .tags-group {
            width: 60%;
            .tags {
                padding: 0 5px;
                font-size: 16px;
            }
        }
        .tags-btn .custom-btn {
            font-size: 16px;
        }
        .tags-all {
            width: 100%;
        }
    }
    .explore-tags-preview-main .tags-head .tags {
        font-size: 28px;
    }
    .explore-tags-preview-main .tags-head {
        margin-bottom: 28px;
    }
    .tags-head-back .custom-btn {
        padding: 9px 25px 9px 25px;
        &:before {
            right: auto;
            left: 0;
        }
    }
    .explore-tags-main .tags-btn .custom-btn:before {
        font-size: 10px;
        top: 3px;
    }
}

@media screen and (max-width: 1023px) {
    .explore-tags-main {
        .tags-title {
            padding-right: 10px;
            font-size: 16px;
        }
        .tags-group {
            width: 65%;
            .tags {
                padding: 0 3px;
                font-size: 14px;
            }
        }
        .tags-btn .custom-btn {
            font-size: 14px;
        }
        .tags-all {
            width: 100%;
        }
    }
    .explore-tags-preview-main .image-caption span i {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .explore-tags-main {
        padding: 25px 0;
        .tags-title {
            padding-right: 0px;
            font-size: 18px;
            margin: 5px 0 25px;
        }
        .tags-group {
            width: 100%;
            .tags {
                font-size: 22px;
                margin: 5px 0;
            }
        }
        .tags-btn {
            right: 15px;
        }
        .tags-btn .custom-btn {
            font-size: 18px;
        }
        .tags-head {
            width: 100%;
        }
        .tags-all {
            margin: 0;
            .tags {
                margin: 5px 0;
            }
        }
    }
    .explore-tags-preview-main .tags-head .tags {
        font-size: 22px;
    }
    .explore-tags-preview-main .tags-head {
        margin-bottom: 22px;
        margin-top: 15px;
        text-align: left;
    }
    .explore-tags-preview-main {
        .image-caption {
            padding: 5px 5px;
        }
        .image-caption span, .image-caption a {
            font-size: 10px;
            margin-left: 10px;
            vertical-align: baseline;
            line-height: normal;
            i {
                display: block;
            }
        }
    }
    .explore-tags-main .tags-btn .custom-btn:before {
        top: 3px;
    }
    .explore-tags-main .tags-btn .custom-btn {
        padding: 0px 20px 7px 0;
    }
    .load-more-bottom {
        text-align: left;
        .custom-btn {
            padding: 10px 25px 10px 0;
            font-size: 18px;
            &:before {
                right: 0;
                bottom: 13px;
            }
        }
    }
    .explore-tags-main .tags-btn .custom-btn:hover {
        color: $white;
        border-bottom-color: $white;
    }
    .tags-head-back {
        position: relative;
        width: auto;
        top: 0;
    }
}