/*footer*/
footer {
    background: #e5e3e3;
    position: relative;
    width: 100%;
    float: left;
    z-index: 10;
    .f-title {
        font-size: 20px;
        color: $black;
        margin: 0 0 15px;
        a {
            color: $dark_gray;
        }
        .icon-arrow-down {
            display: none;
        }
    }
    a:hover {
        color: $black;
    }
}
footer .f-top, footer .f-middle, footer .f-bottom {
    width: 100%;
    float: left;
}
footer .f-middle .container-mdm {
    max-width: 85%;
}
.f-top {
	padding: 25px 0;
	p {
		margin: 0 20px 2px;
		font-size: 15px;
        color: $black;
	}
	.f-social-share {
		width: auto;
		display: inline-block;
		vertical-align: middle;
		float: none;
        a span {
            font-size: 25px;
        }
        a .icon-tw, a .icon-yt {
            font-size: 28px;
        }
        a {
            &:hover {
                .icon-fb {
                    color: #385699;
                }
                .icon-tw {
                    color: #22cbff;
                }
                .icon-gp {
                    color: #de4931; 
                }
                .icon-ig {
                    color: #32628a;
                }
            }
        }
	}
    .f-social-right {
        text-align: right;
        p {
            display: inline-block;
            vertical-align: middle;
        }
    }
    // @include desktop_mdm() {
    //     background: $maroon;
    // }    

}
.subscribe-box {
    width: 450px;
    overflow: hidden;
    position: relative;
    input {
    	width: 100%;
    	height: 100%;
    	float: left;
    	padding: 15px 28% 15px 20px;
        border:none;
        font-size: 15px;
        color: $black;
        border-radius: 0;
        font-family: $ms_r;
    }
    .custom-btn-02 {
	    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding-right: 25px;
        &:hover {
            background: $maroon;
        }
    }
}

.f-middle {
    display: inline-block;
    width: 100%;
    padding: 35px 0 30px;
    border-top: solid thin #bababa;
    border-bottom: solid thin #bababa;
}
.f-nav {
    width: 100%;
    display: inline-block;
    li {
        float: none;
        padding: 0 0px;
        &:first-child {
            padding-left: 0;
        }
         a {
            font-size: 13px;
            cursor: pointer;
            color: $black;
            line-height: 30px;
            &:hover {
                color: $maroon;
            }
        }
        .icon-arrow-down {
            font-size: 10px;
            padding-left: 7px;
            color: $black;
            &:before {
                transform: rotate(0deg);
                transition: 0.6s;
            }
        }
        &:hover {
            a, .icon-arrow-down {
                color: $maroon;
            }
        }
    }
}

.f-has-children {
    .f-nav-sub {
        margin: 0 10px 10px;
        display: none;
        li {
            a {
                font-size: 12px;
                line-height: 20px;
                color: $black;
            }
        }
    }
}
.f-has-children.active {
    a, .icon-arrow-down {
        color: $maroon;
    }
    .f-nav-sub li a {
        color: $black;
        &:hover {
            color: $maroon;
        }
    }
    .icon-arrow-down {
        &:before {
            transform: rotate(-180deg);
            color: $maroon;
        }
    }
    .f-nav-sub {
        display: block;
    }
}

.f-box {
    width: 14.28%;
    float: left;
}
.f-bottom {
	padding: 2px 0;
    p {
        color: #000000;
        font-size: 10px;
        margin: 0px;
    }
    .custom-nav {
        float: right;
        width: auto;
        li {
        padding: 4px 7px;
            a {
                font-size: 10px;
            }
        }
    }
}

/*scroll to top*/
// .scroll-top-start-box {
//     position: fixed;
//     bottom: 25px;
//     right: 25px;
//     z-index: 999;
//     opacity: 0;
//     visibility: hidden;
//     transition: ease all 0.6s;
//     .scroll-top-start {
//         display: inline-block;
//         cursor: pointer;
//     }
//     &.scroll-top-show {
//         opacity: 1;
//         visibility: visible;
//     }
// }
/*scroll to top*/

@media screen and (max-width: 1400px) {
    footer {
        .container-mdm {
            width: 95%;
        }
        .f-title {
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .f-box {
        width: 32%;
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 767px) {
    .f-top {
        .disp-tbl-cel:first-child {
            width: 100%;
            display: table-header-group;
        }
        .disp-tbl-cel:last-child {
            width: 100%;
            display: table-footer-group;
            text-align: left;
        }
        p {
            margin: 15px 0px 4px;
        }
        .f-social-right p {
            display: block;
            margin-bottom: 10px;
        }
    }
    .subscribe-box {
        width: 100%;
    }
    .f-middle {
        padding: 10px 0 0;
        border: none;
    }
    .f-bottom {
        padding: 0px 0 20px;
        .disp-tbl-cel {
            width: 100%;
            display: block;
        }
        .custom-nav {
            float: left;
            li a {
                font-size: 10px;
            }
        }
    }
    footer .f-title {
        margin: 0;
        .icon-arrow-down {
            display: inline-block;
            font-size: 12px;
            line-height: normal;
            padding-right: 10px;
            &:before {
                transform: rotate(0deg);
                transition: ease all 0.6s;
            }
        }
    }
    .f-box {
        width: 100%;
        .f-nav {
            display: none;
            margin: 10px 25px;
        }
        &.active {
            .f-nav {
                display: inline-block;
            }
            .f-title {
                color: $maroon;
                .icon-arrow-down {
                    color: $maroon;
                    &:before {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }
    footer .f-middle .container-mdm {
        max-width: 100%;
    }
    .subscribe-box .custom-btn-02 {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 600px) {
    .f-bottom {
        p {
            font-size: 12px;
        }
        .custom-nav li {
            padding: 2px 5px;
            &:before {
                top: 4px;
                height: 5px;
            }
            a {
                font-size: 8px;
            }
        }
    }
}