/*footer-secondary || All the pages*/
.footer-secondary {
    padding: 15px 0 5px;
    background: $light_black;
    z-index: 5;
    position: relative;
    img {
        height: 58px;
        display: inline-block;
        margin-bottom: 4px;
    }
    span {
        font-size: 55px;
        color: #939292;
    }
    h4 {
        color: #b4b2b2;
        font-size: 16px;
        margin-top: 10px;
    }
    .custom-btn.hvr-icon-01 {
        border-color: transparent;
        color: #b4b2b2;
        background: none;
        padding-right: 20px;
        padding-left: 0;
        &:hover {
            color: $maroon;
        }
        &:before {
            right: 0;
            margin-top: 5px;
            font-size: 10px;
        }
    }
    p {
        font-size: 14px;
        line-height: 16px;
        margin: 5px 0 0;
    }
}


@media screen and (max-width: 1400px) {
    .footer-secondary {
        .container-cus {
            max-width: 1200px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .footer-secondary {
        .grid-five .grid-box {
            width: 33.33%;
        }
    }
}
@media screen and (max-width: 767px) {
    .footer-secondary {
        .grid-five .grid-box {
            width: 50%;
            min-height: 140px;
        }
        .custom-btn {
            padding: 0;
            &:before {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .footer-secondary {
        padding: 0px;
        .container-cus {
            padding: 0;
        }
        .grid-five .grid-box {
            width: 50%;
            min-height: 140px;
            border-right: solid thin $black;
            border-bottom: solid thin $black;
        }
    }
}
@media screen and (max-width: 460px) {
    .footer-secondary {
        .grid-five .grid-box {
            min-height: 110px;
        }
    }
    .footer-secondary span {
        font-size: 35px;
    }
    .footer-secondary img {
        height: 35px;
        margin-top: 4px;
    }
    .footer-secondary .custom-btn.hvr-icon-01 {
        padding: 0px 15px 0px 15px;
    }
}