/*Header style || Need for all the pages by default*/
.header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    transition: 0.6s ease all;
    &.sticky {
        transform: translateY(-100%);
    }
}

.follow-sticky-header {
	transition: 0.6s ease all;
    .carousel {
        .slick-slide {
            padding: 20px 0;
            a {
                font-family: $gs-sb;
                font-size: 14px;
                text-transform: capitalize;
                color: $white;
                position: relative;
                padding: 0 25px;
                cursor: pointer;
                letter-spacing: 1px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    background: $white;
                    width: 2px;
                    height: 10px;
                }
                &:hover {
                    color: #d1291c;
                }
            }
            &:last-child {
                a:before {
                    display: none;
                }
            }
            &:first-child {
                a {
                    padding-left: 0;
                }
            }
            &.slick-current {
                a {
                    color: #d1291c;
                }
            }
        }
    }
}

.follow-sticky-header {
    background: #212121;
}
.follow-sticky-header.is-fixed {
    z-index: 99;
    transition: 300ms all ease-in-out;
    top: 0;
}

.follow-sticky-header.is-fixed.sticky-fs {
    top: 79px !important;
}
.follow-sticky-header.is-fixed.sticky-fs .fsh-left {
    margin-left: -240px;
}
.follow-sticky-header.is-fixed .fsh-left {
    margin-left: -0px;
}
.fsh-left {
    float: left;
    width: auto;
    margin-top: 15px;
    margin-left: -240px;
    transition: 0.4s ease all;
    .fsh-head {
        padding: 0 30px 0 0;
        color: $white;
        font-family: $gs-sb;
        font-size: 20px;
        text-transform: capitalize;
        letter-spacing: 1px;
    }
    img {
        width: 175px;
        vertical-align: middle;
        margin-right: 25px;
        display: inline-block;
    }
}
.fsh-right {
    float: left;
    width: auto;
}
.h-section {
    width: 100%;
}
.fsh-right .custom-nav { 
    li {
        padding: 0 25px;
        a {
            color: $white;
            padding: 19px 0;
            letter-spacing: 1px;
            &:hover {
                color: $maroon;
            }
        }
        &:before {
            width: 2px;
            background: $white;
        }
        &:first-child {
            padding-left: 0;
        }
    }
}
.follow-sticky-header {
    .nav-book-ride {
        width: auto;
        float: right;
        a {
            color: $white;
            padding-left: 0;
            padding-top: 18px;
            padding-bottom: 18px;
            font-size: 16px;
            text-transform: none;
            border-color: transparent;
            background: transparent;
            &:hover {
                color: $maroon;
                background: transparent;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .fsh-left {
        margin-left: -225px;
    }
    .fsh-right .custom-nav li {
        padding: 0 15px;
        a {
            font-size: 14px;
        }
    }
    .follow-sticky-header .nav-book-ride a {
        font-size: 13px;
    }
    .follow-sticky-header.is-fixed.sticky-fs {
        top: 62px !important;
    }
}

@media screen and (max-width: 1090px) {
	.fsh-left {
	    margin-left: 0;
	    .fsh-re {
		    display: none;
		}
	}
	.follow-sticky-header.is-fixed.sticky-fs .fsh-left {
	    margin-left: 0;
	}
	.header {
		width: 100%;
	    transition: 150ms all ease-in-out;
	}
}
@media screen and (max-width: 1024px) {
    .follow-sticky-header .carousel .slick-slide a {
        padding: 0 20px;
    }
}
@media screen and (max-width: 767px) {
    .header, .header.sticky {
        transform: initial;
        top: 0px;
    }
    .header.sticky {
        top: -50px;
    }
    .follow-sticky-header .carousel .slick-slide a:before {
        display: none;
    }
    .fsh-right .custom-nav li:before {
        display: none;
    }
    .fsh-right .custom-nav li a {
        padding: 10px 0;
        letter-spacing: 0.6px;
    }
    .fsh-left {
        margin: 0;
        img {
            width: 75px;
            margin-right: 15px;
        }
        .fsh-head {
            padding: 0 10px 0 0;
            font-size: 22px;
        }
        .fsh-re {
            display: none;
        }
    }
    .follow-sticky-header.is-fixed .fsh-left, .follow-sticky-header.is-fixed.sticky-fs .fsh-left {
        margin-left: 0;
    }
    .follow-sticky-header .carousel .slick-slide {
        padding: 15px 0;
        &.slick-current.slick-active {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 15px;
                right: 15px;
                bottom: 0;
                height: 1px;
                background: $maroon;
            }
            a {
                color: $maroon;
            }
        }
    }
    .follow-sticky-header .carousel .slick-slide a:hover {
        color: $white;
    }
    .nav-book-ride {
        display: none;
    }
    .follow-sticky-header .carousel .slick-slide a {
        font-size: 16px;
    }
    .follow-sticky-header .container-cus {
        padding-right: 0;
        max-width: 100%;
        width: 100%;
        white-space: nowrap;
    }
    .fsh-left, .fsh-right {
        display: inline-block;
        vertical-align: middle;
        float: none; 
    }
    .fsh-right {
        width: 100%;
    }
    .fsh-left {
        margin-top: 0px;
    }
    .follow-sticky-header.is-fixed.sticky-fs {
        top: 50px !important;
    }
    .secondary-sticky-header {
        .fsh-left {
            max-width: initial;
        }
    }
    .secondary-sticky-header {
        .fsh-left {
            margin-top: 8px;
        }
        .fsh-right {
            width: auto;
            float: right;
            padding-right: 15px;
            .nav-sticky-subpage {
                float: left;
                width: 100%;
                position: fixed;
                z-index: 99;
                background: $black;
                top: 92px;
                left: 0;
                transition: ease all 0.6s;
                opacity: 0;
                visibility: hidden;
                &.ns-sub-active {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .custom-nav li {
                float: left;
                width: 100%;
                padding: 0;
                a {
                    width: 100%;
                    display: inline-block;
                    padding: 30px 15px;
                    font-size: 13px;
                    color: $white;
                    border-bottom: solid thin $light_black;
                    &.active {
                        color: $maroon;
                    }
                }
            }
        }
        .custom-nav-trigger {
            color: $white;
            font-size: 12px;
            transform: rotate(90deg);
            cursor: pointer;
            padding: 14px 10px;
            &.c-nav-tr-act {
                transform: rotate(-90deg);
            }
        }
        &.is-fixed {
            .nav-sticky-subpage {
                top: 42px;
            }
        }
        &.sticky-fs {
            .nav-sticky-subpage {
                top: 92px;
            }
        }
	    .follow-sticky-header.is-fixed.sticky-fs {
	        top: 50px !important;
	    }
    }
    .secondary-sticky-header .fsh-left .fsh-head {
        font-size: 22px;
    }
    .follow-sticky-header .carousel .slick-slide a {
        font-size: 14px;
        padding: 0;
        margin: 0 15px;
        letter-spacing: 0.6px;
    }
}