/*main banner for all the pages*/
.re-banner {
    position: relative;
    width: 100%;
}
.banner-inner-img {
    position: relative;
    z-index: 0;
    line-height: 0;
    img {
        width: 100%;
    }
}
.banner-inner-txt {
    &.bg-gradient-lt {
        background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
    }
    &.bg-gradient-rt {
        background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    }
    &.bg-gradient-bt {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    }
    .txt-box {
        width: 350px;
        position: relative;
        z-index: 2;
        margin-left: 4%;
        p {
            color: $white;
            font-size: 14px;
            margin: 0px 0 20px;
        }
        .logo-re {
            width: 150px;
        }
        .logo-him {
            width: 250px;
            margin: 10px 0;
        }
        h3 {
            color: $white;
            margin-bottom: 15px;
        }
        .re-title {
            margin-bottom: 15px;
            p {
                margin-top: 15px;
            }
        }
        &.align-rt {
            float: right;
            margin-left: 0%;
            margin-right: 4%;
        }
    }
    .txt-box-mdm {
        width: 685px;
    }
    .txt-black {
        .re-title, p {
            color: $black;
        }
    }
}
.re-banner-caption {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 98%,rgba(0,0,0,0.74) 100%);
    p {
        color: $white;
        font-size: 12px;
    }
}
@media screen and (max-width: 900px) {
    .banner-inner-txt .txt-box {
        margin-left: 0;
    }
    .banner-inner-txt .txt-box.align-rt {
        margin-right: 0;
    }
}
@media screen and (max-width: 767px) {
    .txt-align-btm-mobi {
        .banner-inner-txt {
            .disp-tbl-cel {
                height: 100%;
                display: block;
            }
            .container-std, .txt-box {
                width: 100% !important;
                height: 100%;
                text-align: left;
                padding: 0;
                position: absolute;
                .re-title {
                    position: absolute;
                    bottom: 5px;
                    left: 15px;
                    width: 80%;
                    // &:before {
                    //     content: "\0041";
                    //     position: absolute;
                    //     right: 0;
                    //     font-family: 'Glyphter';
                    //     font-size: 13px;
                    // }
                    p {
                        display: block;
                    }
                }
                .icon-arrow-down {
                    font-size: 10px;
                    display: inline-block !important;
                    width: auto;
                    padding-left: 5px;
                    &:before {
                        transform: rotate(-90deg);
                    }
                }
                .custom-btn  {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: block;
                    text-indent: -999px;
                    z-index: 1;
                }
                p {
                    display: none;
                }
                img {
                    width: auto;
                    padding: 15px;
                    max-width: 150px;
                }
            }
        }
    }
    .txt-align-btm-mobi-black-strip {
        background: $black;
        display: block;
        .disp-tbl-cel {
            display: block;
            width: 100%;
        }
        .banner-inner-img {
            position: relative;
        }
        .banner-inner-txt {
            position: relative;
            background: $black;
            height: auto;
            .container-cus {
                padding: 0;
            }
            .txt-box {
                width: 100% !important;
                padding: 0 15px !important;
                .re-title {
                    font-size: 22px;
                    line-height: 22px;
                    margin: 15px 0 20px;
                }
                p {
                }
            }
        }
    }
    .banner-inner-txt {
        .txt-box {
            padding-bottom: 15px;
            .logo-re {
                width: 80px;
            }
            .logo-him {
                width: 120px;
                margin: 5px 0;
            }
        }
        .txt-box.align-rt {
            float: none;
        }
    }
    .banner-inner-txt .txt-box {
        width: 90%;
        p {
            font-size: 12px;
            line-height: 16px;
        }
    }
}