/*main nav*/
.nav-main {
    position: relative;
}
.nav {
    width: 100%;
    float: left;
    text-align: right;
    position: relative;
    background: #0a0a0a;
    .container-cus {
        position: static;
    }
}
.nav-primary {
    float: right;
    width: auto;
    &>li {
        display: inline-block;
        vertical-align: middle;
        .icon-arrow-down:before {
            transition: transform 0.6s ease;
        }
        &.active > a {
            color: $maroon;
            > span:before {
                transform: rotate(180deg);
            }
            svg path {
                fill: $maroon;
            }
        }
        svg path  {
            fill: $white;
        }
        &:hover > a {
            color: $maroon;
            svg path {
                fill: $maroon;
            }
        }
        &>a {
            color: $white;
            font-family: $gs_m;
            font-size: 16px;
            text-transform: capitalize;
            display: inline-block;
            padding: 26px 25px;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}

header {
    .icon-arrow-down {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 12px;
    }
    .icon-search {
        position: relative;
        display: inline-block;
        font-size: 20px;
        margin-top: 2px;
        cursor: pointer;
        cursor: pointer;
    }
}
.nav-secondary {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 80px;
    background: #c3c3c3;
    height: 95vh;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    transform: translateY(-15px);
    &>li {
        width: 100%;
        height: auto;
        float: left;
        text-align: left;
        border-bottom: 1px solid #c3c3c3;
        &>a {
            color: $black;
            font-family: $ms-r;
            font-size: 15px;
            text-transform: capitalize;
            display: inline-block;
            padding: 20px 25px;
            width: 20%;
            background: $white;
            transition: ease all 0.6s;
            &:hover {
                color: $black;
                background: #e1e1e1;
            }
        }
    }
    .has-children {
        background: #c3c3c3;
    }
}
.nav-ful-wid {
    .nav-children {
        width: 100%;
        left: 0;
    }
}
.nav-secondary.nav-dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    .has-sub-children {
        &>a {
            background: #c3c3c3;
            font-size: 14px;
        }
    }
}
.nav-children {
    position: absolute;
    width: 80%;
    left: 20%;
    top: 0;
    z-index: 1;
    display: none;
    background: $white;
    height: 100%;
    &.active {
        display: block;
    }
    li {
        border: none;
    }
}
.nav-grid-two, .nav-grid-three {
    li {
        width: 33.3333333%;
        float: left;
        border-left: none;
        border-top: none;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
}
.nav-grid-two {
    li {
        width: 50%;
    }
}
.nav-product-box {
    position: relative;
    .nav-product-bottom {
        text-align: center;
        top: auto;
        height: auto;
        background: $light_black;
        transform: translateY(65px);
        transition: all ease 0.25s;
        .nav-product-txt {
            padding: 20px 15px;
            h3 {
                font-size: 18px;
                color: $white;
            }
            p {
                font-size: 13px;
                color: $white;
                margin: 5px 0 20px;
            }
            .custom-btn {
                color: $white;
                &:hover {
                    color: $black;
                }
            }
        }
    }
    &:hover .nav-product-bottom {
        transform: translateY(0px);
    }
    .custom-btn {
        padding: 10px 30px;
    }
}
.nav-product-box {
    overflow: hidden;
    line-height: 0;
    img {
        transition: all ease 5s;
        transform: scale(1);
    }
    &:hover img {
        transform: scale(1.05);
    }
}
.logo {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    margin: auto;
    width: 200px;
    z-index: 5;
    display: inline-block;
}
.search-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background: #0a0a0a;
    transform: translateX(100%);
    transition: all ease 0.6s;
    opacity: 0;
    &.active {
        transform: translateX(0%);
        opacity: 1;
    }
    .input-field {
        height: 100%;
        width: 80%;
        font-size: 18px;
        background: none;
        border-color: transparent;
        color: $white;
        &:focus {
            border-color: transparent; 
        }
    }
}
.nav-search {
    position: relative;
    z-index: 7;
    .icon-search {
        display: inline-block;
    }
    .search-close {
        display: none;
        cursor: pointer;
        img {
            width: 24px;
            height: 24px;
        }
    }
    &.ns-icon {
        .icon-search {
            display: none;
        }
        .search-close {
            display: inline-block;
        }

    }
}

.nav-secondary .nav-product-box {
    opacity: 0;
    transition: all 400ms linear;
    transform: translate3d(-12px, 0px, 0px);
}
.nav-secondary.nav-dropdown .nav-product-box {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.nav-secondary.nav-dropdown li .nav-product-box {
    transition-delay: 0.1s;
}
.nav-secondary.nav-dropdown li:nth-child(1) .nav-product-box {
    transition-delay: 0.1s;
}
.nav-secondary.nav-dropdown li:nth-child(2) .nav-product-box {
    transition-delay: 0.3s;
}
.nav-secondary.nav-dropdown li:nth-child(3) .nav-product-box {
    transition-delay: 0.5s;
}
.nav-secondary.nav-dropdown li:nth-child(4) .nav-product-box {
    transition-delay: 0.7s;
}
.nav-secondary.nav-dropdown li:nth-child(5) .nav-product-box {
    transition-delay: 0.9s;
}
.nav-secondary.nav-dropdown li:nth-child(6) .nav-product-box {
    transition-delay: 1.1s;
}

body.body-scroll-stop {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 45px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    transition: background .3s;
    float: right;
    display: none;
     span {
        display: block;
        position: absolute;
        top: 25px;
        left: 0px;
        right: 0px;
        height: 2px;
        background: $white;
        transition: background 0s .3s;
        &::after, &::before {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            content: "";
            transition-duration: .3s, .3s;
            transition-delay: .3s, 0s;
        }
        &::before {
            top: -8px;
            transition-property: top, transform;
        }
         &::after {
            bottom: -8px;
            transition-property: bottom, transform;
        }
    }
} 

.nav-hamburger.is-active {
    span {
            background: 0 0;
        &::after, &::before {
                transition-delay: 0s, .3s;
        }
        &::before {
                top: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        }
        &::after {
                bottom: 0;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        }
    }
}

.nav-login {
    margin-left: 60px;
    a {
        color: $maroon !important;
        .icon-arrow-down {
            color: $white;
        }
    }
}
.nav-primary {
    .nav-login a, .nav-search a, .nav-globe a {
        padding: 26px 15px;
    }
    .nav-globe a {
        padding-right: 0 !important;
    }
}
.icon-globe {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    svg {
        width: 100%;
        height: 100%;
    }
}

.nav-primary li .nav-product-box a {
    padding: 0;
}

/*nav-head-mobi*/
.nav-primary .nav-head-mobi {
    display: none;
}
.nav-head-mobi {
    text-align: center;
    background: #121212;
    .disp-tbl {
        .disp-tbl-cel:first-child {
            border-right: solid thin #4b4b4b;
        }
    }
    .disp-tbl-cel {
        width: 50%;
        transition: ease all 0.3s;
    }
    .mobi-search-box {
        display: inline-block;
    }
    .mobi-top-story a {
        padding: 25px;
        display: inline-block;
        color: #bbbdbf;
        height: 68px;
    }
    .mobi-search {
        position: relative;
    }
    .icon-search, .icon-close {
        position: absolute;
        left: 35px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        color: #bbbdbf;
        font-size: 18px;
        background: none;
        outline: none;
        border: none;
        width: 28px;
        height: 22px;
    }
    .icon-close {
        left: auto;
        right: 15px;
        font-size: 12px;
        top: 10px;
        opacity: 0;
        visibility: hidden;
        transition: ease all 0.6s;
    }
    .input-field {
        background: none;
        border: none;
        padding-left: 30px;
        color: #bbbdbf;
        padding: 25px 25px;
        position: relative;
        font-size: 18px;
        font-family: $gs_r;
        width: 100px;
        &::-webkit-input-placeholder {
          color: #bbbdbf;
        }

        &:-moz-placeholder {
          color: #bbbdbf;
        }

        &::-moz-placeholder {
          color: #bbbdbf;
        }

        &:-ms-input-placeholder {
          color: #bbbdbf;
        }
    }
    &.focused {
        .mobi-top-story {
            width: 20%;
            span {
                display: none;
            }
        }
        .mobi-search {
            width: 80%;
        }
        .icon-search {
            left: 20px;
            right: auto;
            color: $white;
        }
        .icon-close {
            opacity: 1;
            visibility: visible;
        }
        .input-field {
            width: 100%;
            color: $white;
            &::-webkit-input-placeholder {
              color: $white;
            }

            &:-moz-placeholder {
              color: $white;
            }

            &::-moz-placeholder {
              color: $white;
            }

            &:-ms-input-placeholder {
              color: $white;
            }
        }
    }
}

.login-mobi {
    display: none;
    position: absolute;
    top: 0;
    right: 65px;
    font-size: 16px;
    color: #9b9c9d;
    line-height: 50px;
    visibility: hidden;
    opacity: 0;
    transition: ease all 0.3s;
    &.active {
        visibility: visible;
        opacity: 1;
    }
    .icon-arrow-down {
        color: #9b9c9d;
        padding-left: 5px;
        position: relative;
        vertical-align: top;
        left: 0;
        top: 3px;
    }
}

.nav-product-box .np-overlay {
    background: rgba(0, 0, 0, 0.73);
    z-index: 0;
    span {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 85px;
        left: 0;
        right: 0;
        margin: auto;
        height: 85px;
        font-size: 85px;
        color: #ffffff;
        text-align: center;
    }
}
.nav-product-box .nav-product-bottom .nav-product-txt h3 {
    font-family: $gs_m;
}

@media screen and (max-width: 1680px) {
    .nav-primary > li > a {
        padding: 26px 15px;
    }
    .nav-primary {
        .nav-login a, .nav-search a, .nav-globe a {
            padding: 26px 10px;
        }
    }
}
@media screen and (max-width: 1600px) {
    .nav-login {
        margin-left: 25px;
    }
    .nav-primary > li > a {
        font-size: 16px;
    }
    .nav-product-box .np-overlay .support-icons {
        top: 18%;
    }
    .nav-product-box .np-overlay .support-icons img {
        max-height: 60px;
    }
    .nav-grid-three li:nth-of-type(3) {
        .nav-product-box .np-overlay .support-icons img {
            max-height: 40px;
        }
    }
}
@media screen and (max-width: 1500px) {
    .nav-primary {
        & > li > a {
            padding: 26px 10px;
        }
        .nav-login a, .nav-search a, .nav-globe a {
            padding: 26px 7px;
        }
    }
    .nav-login {
        margin-left: 15px;
    }
}
@media screen and (max-width: 1350px) {
    .nav-primary > li > a {
        padding: 26px 8px;
        font-size: 14px;
    }
}
@media screen and (max-width: 1250px) {
    .nav-primary {
        & > li > a, .nav-login a, .nav-search a, .nav-globe a {
            padding: 21px 5px;
            font-size: 12px;
            letter-spacing: 0.5px;
        }
    }
    header .icon-arrow-down {
        margin-left: 3px;
        font-size: 11px;
    }
    .nav-login {
        margin-left: 10px;
    }
    .nav-children {
        width: 75%;
        left: 25%;
    }
    .nav-product-box {
        .custom-btn {
            padding: 8px 20px;
            font-size: 13px;
        }
        .nav-product-bottom {
            transform: translateY(0px);
            background: rgba(33, 33, 33, 0.85);
            h3 {
                font-size: 18px;
                margin-bottom: 10px;
            }
            p {
                font-size: 12px;
                line-height: normal;
                display: none;
            }
            .nav-product-txt {
                padding: 10px 15px;
            }
        }
    }
    .nav-secondary {
        top: 62px;
    }
    .nav-secondary > li > a {
        width: 25%;
    }
    header  {
        .icon-search {
            font-size: 18px;
        }
        .icon-globe {
            font-size: 17px;
        }
    }
    .nav-product-box .np-overlay span {
        bottom: 65px;
        font-size: 65px;
    }
}
@media screen and (max-width: 900px) {
    .nav-grid-three li {
        width: 50%;
    }
    .nav-secondary {
        top: 62px;
    }
    .nav-product-box .nav-product-bottom .nav-product-txt h3 {
        font-size: 18px;
    }
    .motorcycle-models {
        .nav-grid-two, .nav-grid-three {
            li {
                width: 50%;
            }
        }
        .nav-product-box .nav-product-bottom .nav-product-txt h3 {
            font-size: 18px;
        }
    }
    .nav-product-box .np-overlay span {
        bottom: 45px;
        font-size: 45px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .logo {
        width: 125px;
    }
    .nav-primary > li > a, .nav-login a, .nav-search a, .nav-globe a {
        padding: 22px 2px;
        font-size: 10px;
    }
    .nav-login {
        margin-left: 0px;
    }
    .icon-search, .icon-globe {
        font-size: 14px;
    }
    header .icon-arrow-down {
        margin-left: 3px;
        font-size: 8px;
    }
    header .icon-search, header .icon-globe {
        font-size: 16px;
    }
}
@media screen and (max-width: 767px) {
    .nav-top {
        display: none;
    }
    .nav {
        text-align: left;
        height: 50px;
    }
    .logo {
        width: 150px;
        position: relative;
        left: 0;
        top: 15px;
        transform: translateY(0%);
    }
    .nav-primary {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50px;
        right: 0;
        background: $light_black;
        overflow-y: scroll;
        z-index: 999;
        padding-bottom: 95px;
        &>li {
            width: 100%;
            &>a {
                width: 100%;
                font-size: 20px;
                padding: 20px 50px;
                position: relative;
                font-family: $gs_r;
            }
        }
    }
    .nav-children {
        width: 100%;
        left: 0;
        position: relative;
    }
    .nav-secondary {
        position: relative;
        top: 0;
        background: none;
        height: auto;
        transform: translateY(-0px);
        display: none;
        &>li {
            display: none;
            border-bottom: none;
            &.has-sub-children {
                display: block;
                &>a {
                    display: none;
                }
                .nav-children li {
                    display: block;
                }
            }
        }
        &.nav-dropdown {
            display: block;
        }
        .nav-product-box {
            img, .custom-btn {
                display: none;
            }
            .nav-product-bottom {
                background: $light_black;
                position: relative;
                text-align: left;
                .nav-product-txt {
                    padding: 8px 25px;
                    h3 {
                        font-size: 16px;
                        font-family: $gs_r;
                        letter-spacing: 1px;
                        margin-left: 25px;
                    }
                }
            }
        }
    }
    .nav-hamburger {
        display: block;
    }
    .nav-primary {
        .nav-login, .nav-search, .nav-globe {
            margin-left: 0;
            display: inline-block;
            float: none;
            width: auto;
        }
        .nav-login, .nav-search, .nav-globe {
            display: none;
        }
        .nav-head-mobi {
            display: block;
        }
    }
    .search-bar {
        z-index: 9;
        .input-field {
            font-size: 16px;
        }
    }
    .nav-grid-three li {
        width: 100%;
    }
    header .icon-arrow-down {
        margin-left: 0;
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 18px;
        color: #bbbdbf;
    }
    .nav-grid-two li, .nav-grid-three li {
        width: 100%;
    }
    .login-mobi {
        display: block;
    }
    .nav-primary li .nav-product-box a {
        padding: 0;
        display: inline-block;
        width: 100%;
    }
    .motorcycle-models {
        .nav-grid-two, .nav-grid-three {
            li {
                width: 100%;
            }
        }
    }
    .search-bar {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .nav-head-mobi .icon-search {
        left: 15px;
    }
    .nav-head-mobi.focused .icon-search {
        left: 0px;
    }
    .nav-head-mobi .mobi-top-story a {
        padding: 25px 15px;
    }
    .nav-head-mobi.focused .mobi-top-story {
        width: 15%;
    }
    .nav-head-mobi .input-field {
        font-size: 16px;
    }
}