/*sign up*/
.sign-up-main {
    background: #d5d5d5;
    .custom-radio input[type=radio].with-font:checked ~ label:before, .custom-checkbox input[type=checkbox].with-font:checked ~ label:before {
        border-color: $black;
    }
    .custom-radio input[type=radio].with-font:checked ~ label:after, .custom-checkbox input[type=checkbox].with-font:checked ~ label:after {
        background: $black;
    }
}

.banner-sign-up {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    .banner-inner-img {
        background: url('../assets/images/banner-signup.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .banner-inner-txt  {
        position: absolute;
        top: 31%;
        bottom: auto;
        height: auto;
        .re-title {
            position: relative;
            z-index: 5;
        }
    }
}

.sign-up-container {
    position: relative;
    z-index: 9;
    padding-top: 445px;
    .carousel-signup-head {
        padding: 20px 0;
        .inner-box {
            max-width: 80%;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            img, span {
                display: inline-block;
                width: auto;
                font-size: 32px;
                color: #545454;
                padding-top: 1px;
            }
        }
    }
    .container-mdm {
        width: 90%;
        max-width: 1660px;
        padding: 0;
        background: #d5d5d5;
        min-height: 500px;
        box-shadow: 11px 5px 20px 4px rgba(102, 102, 102, 0.1), -11px 5px 20px 4px rgba(102, 102, 102, 0.1);
    }
    h2 {
        font-size: 28px;
    }
    p {
        color: $black;
        font-size: 14px;
    }
}

.sign-up-form {
    padding: 50px 0;
    text-align: center;
    .container-std {
        width: 90%;
    }
    .grid-two {
        margin: 40px 0 0;
        .grid-box {
            width: 43%;
            margin: 0px 3.5%;
        }
    }
    .re-title {
        margin-top: -10%;
    }
}
.sign-up-bottom {
    h2 {
        margin: 60px 0 30px;
    }
}

.social-sign-up {
    margin-bottom: 60px;
    .fb, .fb:hover {
        background: #183392;
        border-color: #183392;
    }
    .gg, .gg:hover {
        background: #cf5252;
        border-color: #cf5252;
    }
    .tw, .tw:hover {
        background: #4fb9ee;
        border-color: #4fb9ee;
    }
    a {
        padding: 12px 35px 12px 15px;
        margin: 0 30px;
        font-size: 16px;
        &:hover {
            color: #ffffff;
        }
        &:before {  
            margin-top: 4px;
            right: 15px;
        }
    }
}
.input-box .show-password {
    position: absolute;
    top: 17px;
    right: 25px;
    font-size: 26px;
    cursor: pointer;
}
.sign-up-form .input-box p {
    color: #5d5d5d;
}

/*login*/
.divide-element {
    width: 100%;
    margin: 5px 0;
}
.login-form {
    padding: 10px 0 90px;
    text-align: left;
    h2 {
        margin-bottom: 35px;
    }
    .social-sign-up {
        a {
            padding: 12px 35px 12px 15px;
            margin: 8px 0px;
        }
        .divide-element:first-child {
            a {
                margin-top: 0;
            }
        }
    }
    .login-btn {
        background: $light_black;
        color: $white;
        min-width: 350px;
        padding: 21px 15px;
        &:before {
            right: auto;
            padding: 0 55px;
            margin-top: 5px;
            font-size: 10px;
        }
    }
    .pass-btn {
        margin-left: 70px;
        font-size: 14px;
        &:hover {
            color: $maroon;
        }
    }
}
.login-create-acc {
    width: 100%;
    float: left;
    text-align: center;
    h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }
}
//forgot-password-form
.forgot-password-form {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    .input-field {
        text-align: center;
    }
    .reset-btn {
        background: $light_black;
        color: $white;
        min-width: 350px;
        padding: 21px 15px;
        text-align: center;
        margin-bottom: 35px;
    }
    p {
        margin-bottom: 35px;
        color: #5d5d5d;
    }
    .input-box p {
        text-align: center;
    }
}
.login-link {
    color: $light_black;
    cursor: pointer;
    &:hover {
        color: $maroon;
    }
}
.check-mail-thank, .reset-pass-thank {
    display: none;
    a:hover {
        color: $maroon;
    }
}

@media screen and (max-width: 1680px) {
    .login-form .login-btn {
        min-width: 280px;
    }
    .login-form .pass-btn {
        margin-left: 30px;
    }
}
@media screen and (max-width: 1400px) {
    .login-form .login-btn {
        min-width: 250px;
    }
    .sign-up-container {
        padding-top: 300px;
    }
    .banner-sign-up .banner-inner-txt {
        top: 28%;
    }
}
@media screen and (max-width: 1300px) {
    .sign-up-container {
        padding-top: 240px;
    }
}
@media screen and (max-width: 1279px) {
    .login-form .login-btn {
        min-width: 200px;
    }
}
@media screen and (max-width: 1250px) {
    .sign-up-container {
        .container-std {
            width: 100%;
            max-width: 100%;
        }
    }
    .sign-up-form .grid-two .grid-box {
        width: 46%;
        margin: 0px 2%;
    }
    .sign-up-form {
        .input-field, .textarea-field, .select-field {
            padding: 15px 15px;
        }
        .input-box p {
            margin: 0 0 8px;
        }
    }
    .social-sign-up a {
        margin: 0 15px;
    }
    .social-sign-up {
        margin-bottom: 30px;
    }
    .sign-up-bottom h2 {
        margin: 30px 0 15px;
    }
    .sign-up-main h2 {
        font-size: 20px;
    }
    .input-box .show-password {
        top: 13px;
        right: 20px;
        font-size: 24px;
    }
}
@media screen and (max-width: 1199px) {
    .banner-sign-up .banner-inner-txt {
        top: 22%;
    }
    .sign-up-container {
        padding-top: 250px;
    }
}
@media screen and (max-width: 1023px) {
    .sign-up-form {
        padding: 25px 0 30px;
    }
    .social-sign-up a {
        margin: 5px 5px;
        min-width: 235px;
        font-size: 14px;
    }
    .carousel-signup-head .slick-dots {
        width: 100%;
        text-align: center;
        bottom: 0 !important;
    }
    .sign-up-form .input-box p {
        font-size: 14px;
    }
    .login-form .login-btn {
        min-width: 100%;
        padding: 15px 15px;
    }
    .login-form .pass-btn {
        margin-left: 0;
        display: inline-block;
        margin-top: 25px;
        line-height: normal;
    }
    .sign-up-main h2 {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .sign-up-container {
        padding-top: 500px;
    }
    .banner-sign-up .banner-inner-txt {
        top: 30%;
    }
}
@media screen and (max-width: 767px) {
    .sign-up-container {
        .container-mdm {
            width: 100%;
            margin-top: 0px;
        }
    }
    .sign-up-form {
        padding: 10px 0 30px;
        .grid-two {
            margin: 15px 0;
            .grid-box {
                width: 100%;
                margin: 0;
            }
        }
    }
    .banner-sign-up .re-title {
        margin-bottom: 0;
    }
    .sign-up-container .carousel-signup-head {
        padding: 20px 0 0;
    }
    .banner-sign-up .re-title {
        font-size: 22px;
    }
    .sign-up-main h2 {
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    .sign-up-form .custom-btn {
        padding: 12px 30px 12px 15px;
        min-width: 235px;
    }
    .banner-sign-up .banner-inner-img {
        height: 250px;
    }
    .banner-sign-up .banner-inner-txt {
        height: 250px;
        top: 20px;
    }
    .sign-up-container {
        padding-top: 200px;
    }
    .carousel-signup-head .slick-dots {
        width: 100% !important;
        text-align: center !important;
        right: 0 !important;
    }
    .sign-up-form .input-box p {
        font-size: 14px !important;
    }
    .login-form {
        text-align: center;
        padding-top: 0;
    }
    .login-form .login-btn {
        padding: 15px 15px;
        min-width: 100%;
        margin: 0 auto;
        display: block;
    }
    .login-form .pass-btn {
        line-height: normal;
        max-width: 150px;
        margin: 25px auto;
        display: block;
        text-align: center;
        font-size: 16px;
    }
    .forgot-password-form .reset-btn {
        margin-bottom: 25px;
        text-align: center !important;
    }
    .forgot-password-form p {
        margin-bottom: 25px;
    }
    .sign-up-form .custom-btn {
        padding: 25px 25px;
        min-width: 100%;
        background: #000000;
        color: #ffffff;
        text-align: left;
        font-size: 16px;
    }
    .login-form .login-btn:before {
        right: 0;
        padding: 0 15px;
        margin-top: 5px;
    }
    .login-link {
        font-size: 16px;
    }
    .social-sign-up {
        .fb, .fb:hover {
            background: #183392;
            border-color: #183392;
        }
        .gg, .gg:hover {
            background: #cf5252;
            border-color: #cf5252;
        }
        .tw, .tw:hover {
            background: #4fb9ee;
            border-color: #4fb9ee;
        }
    }
    .social-sign-up a, .login-form .social-sign-up a {
        margin: 5px 0px;
        padding: 25px 35px 25px 15px;
    }
    .login-form h2 {
        margin-bottom: 15px;
    }
    .banner-sign-up .re-title br {
        display: block;
    }
    .sign-up-container p {
        font-size: 16px;
    }
    .social-sign-up {
        margin-bottom: 0px;
    }
}
/*end of sign up*/

/*select a motorcycle*/
.signup-select-bike-container {
    .select_bike_drop {
        margin: 0 auto 50px;
        width: 100%;
    }
}
/*select a motorcycle*/