.td_bike_dd {
  font-size: 14px;
  padding: 0px;
  color: #212121;
  font-family: "montserrat-regular";
  border: solid 2px #656565;
  height: 60px;
  line-height: 60px;
  padding: 0px 20px;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  white-space: pre;
  overflow: hidden;
}

.td_bike_dd.selected {
  border: solid 2px #da291c;
}

.td_bike_dd.selected:before {
  -webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.td_bike_dd:before {
  position: absolute;
  padding-right: 15px;
  right: 0;
  top: 50%;
  content: '\0043';
  color: #212121;
  font-size: 14px;
  font-family: 'reicons';
  height: 20px;
  margin-top: -10px;
  line-height: 20px;
  background: #d5d5d5;
}

.select_bike_drop {
  width: 100%;
  background: #212121;
  position: relative;
  display: none;
}

.select_bike_drop .select_bike_drop_wrap {
  overflow: hidden;
  margin: 0px 5% 20px;
  padding-bottom: 30px;
}

.select_bike_drop .select_bike_drop_wrap label {
  width: 25%;
  float: left;
  display: block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 4%;
  overflow: hidden;
  position: relative;
}

.select_bike_drop .select_bike_drop_wrap label input[type="radio"] {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  visibility: hidden;
}

.select_bike_drop .select_bike_drop_wrap label img {
  width: 100%;
  display: block;
}

.select_bike_drop .select_bike_drop_wrap label p {
  font-size: 14px;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #d5d5d5;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin: 0px;
}

.select_bike_drop .select_bike_drop_wrap label p:after {
  width: 0px;
  height: 1px;
  background: #da291c;
  position: absolute;
  bottom: 0px;
  left: 50%;
  content: '';
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.select_bike_drop .select_bike_drop_wrap label p:before {
  width: 0px;
  height: 1px;
  background: #da291c;
  position: absolute;
  top: 0px;
  left: 50%;
  content: '';
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.select_bike_drop .select_bike_drop_wrap label:hover p, .select_bike_drop .select_bike_drop_wrap label.active p {
  color: #da291c;
}

.select_bike_drop .select_bike_drop_wrap label:hover p:after, .select_bike_drop .select_bike_drop_wrap label.active p:after {
  width: 100%;
  left: 0%;
}

.select_bike_drop .select_bike_drop_wrap label:hover p:before, .select_bike_drop .select_bike_drop_wrap label.active p:before {
  width: 100%;
  left: 0%;
}

.select_bike_drop .bk_push_up {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -20px;
  background: #d5d5d5;
  -webkit-box-shadow: 0px 3px 4px 0px #a5a5a5;
     -moz-box-shadow: 0px 3px 4px 0px #a5a5a5;
          box-shadow: 0px 3px 4px 0px #a5a5a5;
  text-align: center;
  cursor: pointer;
}

.select_bike_drop .bk_push_up:hover:after {
  color: #da291c;
}

.select_bike_drop .bk_push_up:after {
  text-align: center;
  font-size: 14px;
  color: #212121;
  line-height: 40px;
  content: '\0043';
  font-family: 'reicons';
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  display: block;
}

.select_bike_drop .bike_holder {
  width: 20%;
  float: left;
  margin: 0 2.5%;
  cursor: pointer;
}

.select_bike_drop .bike_holder img {
  display: block;
  width: 100%;
}

.select_bike_drop .bike_holder p {
  font-size: 18px;
  display: block;
  text-align: center;
  color: #d5d5d5;
  line-height: 55px;
  position: relative;
}

.select_bike_drop .bike_holder p:before {
  width: 50%;
  height: 1px;
  position: absolute;
  left: 50%;
  background: #da291c;
  top: 0px;
  content: '';
}

.select_bike_drop .bike_holder p:after {
  width: 50%;
  height: 1px;
  position: absolute;
  left: 50%;
  background: #da291c;
  bottom: 0px;
  content: '';
}

@media screen and (max-width: 1250px) {
  .select_bike_drop .select_bike_drop_wrap label {
    width: 33%;
  }
  .select_bike_drop .select_bike_drop_wrap label p {
    font-size: 14px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .select_bike_drop {
    width: 90%;
    margin: 0 auto;
    border-top: 10px solid #d5d5d5;
  }
  .td_bike_dd {
    height: 42px;
    line-height: 42px;
  }
  .select_bike_drop .select_bike_drop_wrap label {
    width: 50%;
    padding: 0 6%;
  }
  .td_bike_dd {
    border-width: 1px;
  }
  .select_bike_drop .select_bike_drop_wrap {
    margin: 0px 0 20px;
  }
}
