/*categories*/
.categories-box .categories-inner-img {
  position: relative;
  z-index: 0;
  line-height: 0;
}

.categories-box .categories-inner-txt {
  background: rgba(0, 0, 0, 0.39);
}

.categories-box .categories-inner-txt .txt-box {
  width: 280px;
  margin: 0 auto;
}

.categories-box .categories-inner-txt .txt-box h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: "guardiansans-medium";
}

.categories-box .categories-inner-txt .txt-box p {
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 1250px) {
  .categories-box .categories-inner-txt .txt-box .custom-btn {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
  .categories-box .categories-inner-txt .txt-box h3 {
    font-size: 32px;
    line-height: 32px;
  }
  .categories-box .categories-inner-txt .txt-box p {
    font-size: 12px;
    line-height: 14px;
  }
  .categories-main .grid-three .grid-box {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .categories-main .grid-three .grid-box {
    width: 100%;
  }
}

/*end of categories*/
