/*Colours section || showcase-bike*/
.showcase-bike-main .carousel-showcase-bike {
  border-top: solid thin #424242;
  border-bottom: solid thin #424242;
  padding: 30px 0;
}

.showcase-bike-thumb {
  width: 100%;
  padding: 25px 0 35px;
  text-align: center;
}

.showcase-bike-thumb a {
  max-width: 177px;
  display: inline-block;
  margin: 0 50px;
}

.showcase-bike-thumb img {
  max-width: 100%;
}

.carousel-showcase-bike .slick-slide img {
  max-width: 100%;
  display: inline-block;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s;
  opacity: 0.9;
  -webkit-transform: scale(0.7);
     -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
       -o-transform: scale(0.7);
          transform: scale(0.7);
}

.carousel-showcase-bike .slick-center img {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.sb-thumb-inner {
  padding-top: 25px;
  display: inline-block;
  width: 100%;
}

.sb-thumb-inner h4 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "montserrat-regular";
}

.sb-thumb-inner p {
  margin-top: 15px;
  color: #ffffff;
}

.carousel-colours-thumb .carousel-item {
  text-align: center;
}

.carousel-colours-thumb .carousel-item img {
  display: inline-block;
  max-width: 150px;
  width: 100%;
}

.carousel-colours-thumb .slick-current p {
  color: #da291c;
}

section#colors {
  margin-top: -1px;
}

/*end of showcase-bike*/
@media screen and (max-width: 1700px) {
  .showcase-bike-thumb a {
    max-width: 150px;
    margin: 0 30px;
  }
}

@media screen and (max-width: 1250px) {
  .showcase-bike-thumb a {
    margin: 0 25px;
  }
  .showcase-bike-thumb a img {
    width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .carousel-showcase-bike .slick-dots li {
    background: #323232 !important;
  }
  .carousel-showcase-bike .slick-dots li.slick-active {
    background: #da291c !important;
  }
  .showcase-bike-thumb .inner-image {
    padding: 15px;
  }
  .carousel-colours-nested .slick-dots {
    width: 100% !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 767px) {
  .showcase-bike-main .carousel-showcase-bike {
    padding: 0px 0;
  }
  .showcase-bike-thumb {
    padding: 0px 0 15px;
  }
  .showcase-bike-thumb a {
    margin: 0 15px;
  }
  .showcase-bike-thumb a img {
    width: 75px;
  }
  .carousel-colours-thumb .carousel-item img {
    max-width: 150px;
  }
}

@media screen and (max-width: 460px) {
  .showcase-bike-thumb a {
    margin: 0 10px;
  }
  .showcase-bike-thumb a img {
    width: 50px;
  }
}

@media screen and (max-width: 399px) {
  .carousel-colours-thumb .carousel-item img {
    max-width: 135px;
  }
}
