/*common styles || Need for all the page || This is should be keep first in the list of styles || 
Reset, Heading, Containers, Grids, Social icons, Source&online Videos, Popup, Carousel and Sub Section Styles...*/
/**
    * @name fonts
    * @desc Used for setting available font types
            used with all elements that spread
            across the entire app.
**/
@font-face {
  font-family: 'montserrat-regular';
  src: url("../assets/fonts/montserrat-regular.eot");
  src: url("../assets/fonts/montserrat-regular.eot#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-regular.woff") format("woff"), url("../assets/fonts/montserrat-regular.ttf") format("truetype"), url("../assets/fonts/montserrat-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src: url("../assets/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-Bold.otf") format("opentype"), url("../assets/fonts/Montserrat-Bold.woff") format("woff"), url("../assets/fonts/Montserrat-Bold.ttf") format("truetype"), url("../assets/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'guardiansans-regular';
  src: url("../assets/fonts/guardiansans-regular.eot");
  src: url("../assets/fonts/guardiansans-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/guardiansans-regular.woff") format("woff"), url("../assets/fonts/guardiansans-regular.ttf") format("truetype"), url("../assets/fonts/guardiansans-regular.svg#entypo") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'guardiansans-medium';
  src: url("../assets/fonts/guardiansans-medium.eot");
  src: url("../assets/fonts/guardiansans-medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/guardiansans-medium.woff") format("woff"), url("../assets/fonts/guardiansans-medium.ttf") format("truetype"), url("../assets/fonts/guardiansans-medium.svg#entypo") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'guardiansans-semibold';
  src: url("../assets/fonts/guardiansans-semibold.eot");
  src: url("../assets/fonts/guardiansans-semibold.eot#iefix") format("embedded-opentype"), url("../assets/fonts/guardiansans-semibold.woff") format("woff"), url("../assets/fonts/guardiansans-semibold.ttf") format("truetype"), url("../assets/fonts/guardiansans-semibold.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'reicons';
  src: url("../assets/fonts/re-icons.eot");
  src: url("../assets/fonts/re-icons.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/re-icons.woff") format("woff"), url("../assets/fonts/re-icons.ttf") format("truetype"), url("../assets/fonts/re-icons.svg#re-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='icon-']:before {
  display: inline-block;
  font-family: 'reicons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-forward:before {
  content: '\0041';
}

.icon-button-arrow:before {
  content: '\0042';
}

.icon-arrow-down:before {
  content: '\0043';
}

.icon-search:before {
  content: '\0044';
}

.icon-globe:before {
  content: '\0045';
}

.icon-fb:before {
  content: '\0046';
}

.icon-tw:before {
  content: '\0047';
}

.icon-yt:before {
  content: '\0048';
}

.icon-ig:before {
  content: '\0049';
}

.icon-hand-point:before {
  content: '\004a';
}

.icon-map-store-point:before {
  content: '\004b';
}

.icon-thread:before {
  content: '\004c';
}

.icon-ride-out:before {
  content: '\004d';
}

.icon-star:before {
  content: '\004e';
}

.icon-star-filled:before {
  content: '\004f';
}

.icon-date:before {
  content: '\0050';
}

.icon-play:before {
  content: '\0051';
}

.icon-download:before {
  content: '\0052';
}

.icon-destination:before {
  content: '\0053';
}

.icon-distance:before {
  content: '\0054';
}

.icon-duration:before {
  content: '\0055';
}

.icon-origin:before {
  content: '\0056';
}

.icon-price:before {
  content: '\0057';
}

.icon-terrain:before {
  content: '\0058';
}

.icon-re-store-point:before {
  content: '\0059';
}

.icon-re-service-point:before {
  content: '\005a';
}

.icon-after_sales:before {
  content: '\0061';
}

.icon-country_side:before {
  content: '\0062';
}

.icon-customisation:before {
  content: '\0063';
}

.icon-desert:before {
  content: '\0064';
}

.icon-dirt_track:before {
  content: '\0065';
}

.icon-highway:before {
  content: '\0066';
}

.icon-off_road:before {
  content: '\0067';
}

.icon-members:before {
  content: '\0068';
}

.icon-motorcycle:before {
  content: '\0069';
}

.icon-motorcycle_maintainance:before {
  content: '\006a';
}

.icon-new_to_motorcycling:before {
  content: '\006b';
}

.icon-post:before {
  content: '\006c';
}

.icon-ios-person:before {
  content: '\006d';
}

.icon-time:before {
  content: '\006e';
}

.icon-eye:before {
  content: '\006f';
}

.icon-close:before {
  content: '\0070';
}

.icon-visible:before {
  content: '\0071';
}

.icon-invisible:before {
  content: '\0072';
}

.icon-ribbon:before {
  content: '\0073';
}

.icon-call:before {
  content: '\0074';
}

.icon-chat:before {
  content: '\0075';
}

.icon-faq:before {
  content: '\0076';
}

.icon-forum:before {
  content: '\0077';
}

.icon-mail:before {
  content: '\0078';
}

.icon-rsa:before {
  content: '\0079';
}

@font-face {
  font-family: "icons-new-re";
  src: url("../assets/fonts/icons-new-re.eot");
  src: url("../assets/fonts/icons-new-re.eot?#iefix") format("eot"), url("../assets/fonts/icons-new-re.woff") format("woff"), url("../assets/fonts/icons-new-re.ttf") format("truetype"), url("../assets/fonts/icons-new-re.svg#icons-new-re") format("svg");
}

.icon__re:before {
  font-family: "icons-new-re";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
}

.icon__re-arrow-down:before {
  content: "\E001";
}

.icon__re-arrow-forward:before {
  content: "\E002";
}

.icon__re-button-arrow:before {
  content: "\E003";
}

.icon__re-call:before {
  content: "\E004";
}

.icon__re-fb:before {
  content: "\E005";
}

.icon__re-hand-point:before {
  content: "\E006";
}

.icon__re-in:before {
  content: "\E007";
}

.icon__re-map-route:before {
  content: "\E008";
}

.icon__re-map-store-point:before {
  content: "\E009";
}

.icon__re-motorcycle:before {
  content: "\E00A";
}

.icon__re-ride-out:before {
  content: "\E00B";
}

.icon__re-seartch:before {
  content: "\E00C";
}

.icon__re-service:before {
  content: "\E00D";
}

.icon__re-twitter:before {
  content: "\E00E";
}

.icon__re-world:before {
  content: "\E00F";
}

.icon__re-xxxmotorcycle:before {
  content: "\E010";
}

.icon__re-yt:before {
  content: "\E011";
}

/**
    * @name colors
    * @desc Used for management for colors to be
            used with all elements that spread
            across the entire app.
**/
/**
    * @name helpers
    * @desc SASS helper classes that can be
            extended to apply basic styles
**/
/**
    * @name zindices
    * @desc Used for management for z-index to be
            used with all elements that spread
            across the entire app.
**/
/**
    * @name breakpoints
    * @desc Used for setting breakpoint mixins
            used with all elements that spread
            across the entire app.
**/
/**
    * @name tranisition
    * @desc Used for management for transitions to be
            used with all elements that spread
            across the entire app.
**/
/*animations*/
.slide-left {
  opacity: 0;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transform: translate3d(-35px, 0px, 0px);
     -moz-transform: translate3d(-35px, 0px, 0px);
          transform: translate3d(-35px, 0px, 0px);
}

.slide-left.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.slide-right {
  opacity: 0;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transform: translate3d(35px, 0px, 0px);
     -moz-transform: translate3d(35px, 0px, 0px);
          transform: translate3d(35px, 0px, 0px);
}

.slide-right.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.slide-up {
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transform: translate3d(0px, 35px, 0px);
     -moz-transform: translate3d(0px, 35px, 0px);
          transform: translate3d(0px, 35px, 0px);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.slide-up.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.fade-in {
  opacity: 0;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.fade-in.in-view {
  opacity: 1;
}

/**/
.carousel .slick-track .carousel-item .animation-element {
  -webkit-transition-delay: .1s;
     -moz-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.carousel .slick-track .carousel-item:nth-child(1) .animation-element {
  -webkit-transition-delay: .3s;
     -moz-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.carousel .slick-track .carousel-item:nth-child(2) .animation-element {
  -webkit-transition-delay: .5s;
     -moz-transition-delay: .5s;
       -o-transition-delay: .5s;
          transition-delay: .5s;
}

.carousel .slick-track .carousel-item:nth-child(3) .animation-element {
  -webkit-transition-delay: .7s;
     -moz-transition-delay: .7s;
       -o-transition-delay: .7s;
          transition-delay: .7s;
}

.carousel .slick-track .carousel-item:nth-child(4) .animation-element {
  -webkit-transition-delay: .9s;
     -moz-transition-delay: .9s;
       -o-transition-delay: .9s;
          transition-delay: .9s;
}

.carousel .slick-track .carousel-item:nth-child(5) .animation-element {
  -webkit-transition-delay: 1.1s;
     -moz-transition-delay: 1.1s;
       -o-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.carousel .slick-track .carousel-item:nth-child(6) .animation-element {
  -webkit-transition-delay: 1.3s;
     -moz-transition-delay: 1.3s;
       -o-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.icons-discrib .grid-five .grid-box:nth-child(1) .animation-element {
  -webkit-transition-delay: .1s;
     -moz-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.icons-discrib .grid-five .grid-box:nth-child(2) .animation-element {
  -webkit-transition-delay: .3s;
     -moz-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.icons-discrib .grid-five .grid-box:nth-child(3) .animation-element {
  -webkit-transition-delay: .5s;
     -moz-transition-delay: .5s;
       -o-transition-delay: .5s;
          transition-delay: .5s;
}

.icons-discrib .grid-five .grid-box:nth-child(4) .animation-element {
  -webkit-transition-delay: .7s;
     -moz-transition-delay: .7s;
       -o-transition-delay: .7s;
          transition-delay: .7s;
}

.icons-discrib .grid-five .grid-box:nth-child(5) .animation-element {
  -webkit-transition-delay: .9s;
     -moz-transition-delay: .9s;
       -o-transition-delay: .9s;
          transition-delay: .9s;
}

.icons-discrib .grid-five .grid-box:nth-child(6) .animation-element {
  -webkit-transition-delay: 1.1s;
     -moz-transition-delay: 1.1s;
       -o-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

/**
    * @name animations
    * @desc Used for setting animations and animation
            properties used with all elements that
            spread across the entire app.
**/
/**
    * @name typography
    * @desc Used for setting various font properties
            used with common elements that spread
            across the entire app.
**/
a {
  text-decoration: none;
  -webkit-transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  outline: 0;
}

a:hover, a:focus, a:active {
  outline: 0;
}

i, .icon {
  display: inline-block;
  vertical-align: middle;
}

h1, h2, h3, h4, p, a {
  font-weight: normal;
}

h1 span, h1 a, h1 i, h1 .icon, h2 span, h2 a, h2 i, h2 .icon, h3 span, h3 a, h3 i, h3 .icon, h4 span, h4 a, h4 i, h4 .icon, p span, p a, p i, p .icon, a span, a a, a i, a .icon {
  font-size: inherit;
  line-height: inherit;
}

h1 span, h1 a, h2 span, h2 a, h3 span, h3 a, h4 span, h4 a, p span, p a, a span, a a {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1 span + i, h1 span + .icon, h1 a + i, h1 a + .icon, h2 span + i, h2 span + .icon, h2 a + i, h2 a + .icon, h3 span + i, h3 span + .icon, h3 a + i, h3 a + .icon, h4 span + i, h4 span + .icon, h4 a + i, h4 a + .icon {
  margin-left: 0.5em;
}

@media (max-width: 767px) {
  h1 span + i, h1 span + .icon, h1 a + i, h1 a + .icon, h2 span + i, h2 span + .icon, h2 a + i, h2 a + .icon, h3 span + i, h3 span + .icon, h3 a + i, h3 a + .icon, h4 span + i, h4 span + .icon, h4 a + i, h4 a + .icon {
    display: block;
    margin-left: 0;
    margin-top: 0.5em;
  }
}

h1 i + a, h1 i + span, h1 .icon + a, h1 .icon + span, h2 i + a, h2 i + span, h2 .icon + a, h2 .icon + span, h3 i + a, h3 i + span, h3 .icon + a, h3 .icon + span, h4 i + a, h4 i + span, h4 .icon + a, h4 .icon + span {
  margin-left: 0.5em;
}

@media (max-width: 767px) {
  h1 i + a, h1 i + span, h1 .icon + a, h1 .icon + span, h2 i + a, h2 i + span, h2 .icon + a, h2 .icon + span, h3 i + a, h3 i + span, h3 .icon + a, h3 .icon + span, h4 i + a, h4 i + span, h4 .icon + a, h4 .icon + span {
    display: block;
    margin-left: 0;
    margin-top: 0.5em;
  }
}

li span + i, li span + .icon, li a + i, li a + .icon, p span + i, p span + .icon, p a + i, p a + .icon, a span + i, a span + .icon, a a + i, a a + .icon {
  margin-left: 0.65em;
}

li i, li .icon, p i, p .icon, a i, a .icon {
  -webkit-transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

li i + a, li i + span, li .icon + a, li .icon + span, p i + a, p i + span, p .icon + a, p .icon + span, a i + a, a i + span, a .icon + a, a .icon + span {
  margin-left: 0.65em;
}

/**
    * @name layout
    * @desc Used for specifying basic layout styles
            used with common elements that spread
            spread across the entire app.
**/
/**
  	* @name button
  	* @desc Styles for the button module.
**/
.button {
  cursor: pointer;
}

/*button group*/
.custom-btn, .custom-btn-02 {
  font-family: "montserrat-regular";
  font-size: 14px;
  text-align: center;
  line-height: normal;
  display: inline-block;
  padding: 9px 40px 9px 25px;
  color: #ffffff;
  font-weight: normal;
  border: solid thin #ffffff;
  cursor: pointer;
  text-transform: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  outline: none;
  text-transform: none;
  background: none;
  letter-spacing: normal;
  position: relative;
  background: rgba(255, 255, 255, 0);
}

.custom-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/* Icon Wobble Horizontal */
.hvr-icon-01 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
     -moz-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
     -moz-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.hvr-icon-01:before {
  content: "\0041";
  position: absolute;
  right: 15px;
  padding: 0 1px;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  margin-top: 3px;
  font-size: 13px;
}

.hvr-icon-01:hover:before, .hvr-icon-01:focus:before, .hvr-icon-01:active:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
     -moz-animation-name: hvr-icon-wobble-horizontal;
       -o-animation-name: hvr-icon-wobble-horizontal;
          animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
       -o-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  33.3% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  49.95% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  66.6% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-moz-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -moz-transform: translateX(2px);
         transform: translateX(2px);
  }
  33.3% {
    -moz-transform: translateX(-1px);
         transform: translateX(-1px);
  }
  49.95% {
    -moz-transform: translateX(1px);
         transform: translateX(1px);
  }
  66.6% {
    -moz-transform: translateX(-1px);
         transform: translateX(-1px);
  }
  83.25% {
    -moz-transform: translateX(1px);
         transform: translateX(1px);
  }
  100% {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
}

@-o-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -o-transform: translateX(2px);
       transform: translateX(2px);
  }
  33.3% {
    -o-transform: translateX(-1px);
       transform: translateX(-1px);
  }
  49.95% {
    -o-transform: translateX(1px);
       transform: translateX(1px);
  }
  66.6% {
    -o-transform: translateX(-1px);
       transform: translateX(-1px);
  }
  83.25% {
    -o-transform: translateX(1px);
       transform: translateX(1px);
  }
  100% {
    -o-transform: translateX(0);
       transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(2px);
       -moz-transform: translateX(2px);
         -o-transform: translateX(2px);
            transform: translateX(2px);
  }
  33.3% {
    -webkit-transform: translateX(-1px);
       -moz-transform: translateX(-1px);
         -o-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  49.95% {
    -webkit-transform: translateX(1px);
       -moz-transform: translateX(1px);
         -o-transform: translateX(1px);
            transform: translateX(1px);
  }
  66.6% {
    -webkit-transform: translateX(-1px);
       -moz-transform: translateX(-1px);
         -o-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
       -moz-transform: translateX(1px);
         -o-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Icon Down */
.hvr-icon-back {
  padding: 9px 25px 9px 40px;
}

.hvr-icon-back:before {
  right: auto;
  left: 15px;
  -webkit-transform: translateZ(0) rotate(180deg);
     -moz-transform: translateZ(0) rotate(180deg);
          transform: translateZ(0) rotate(180deg);
}

/* Icon Down */
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
     -moz-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
     -moz-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
}

.hvr-icon-down:before {
  content: "\0041";
  position: absolute;
  right: 15px;
  padding: 0 1px;
  -webkit-transform: translateZ(0) rotate(90deg);
     -moz-transform: translateZ(0) rotate(90deg);
          transform: translateZ(0) rotate(90deg);
  margin-top: 3px;
  font-size: 13px;
}

.hvr-icon-down:hover:before, .hvr-icon-down:focus:before, .hvr-icon-down:active:before {
  -webkit-animation-name: hvr-icon-down;
     -moz-animation-name: hvr-icon-down;
       -o-animation-name: hvr-icon-down;
          animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
     -moz-animation-duration: 0.75s;
       -o-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
     -moz-animation-timing-function: ease-out;
       -o-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%, 50%, 100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
  25%, 75% {
    -webkit-transform: translateY(3px) rotate(90deg);
            transform: translateY(3px) rotate(90deg);
  }
}
@-moz-keyframes hvr-icon-down {
  0%, 50%, 100% {
    -moz-transform: translateY(0) rotate(90deg);
         transform: translateY(0) rotate(90deg);
  }
  25%, 75% {
    -moz-transform: translateY(3px) rotate(90deg);
         transform: translateY(3px) rotate(90deg);
  }
}
@-o-keyframes hvr-icon-down {
  0%, 50%, 100% {
    -o-transform: translateY(0) rotate(90deg);
       transform: translateY(0) rotate(90deg);
  }
  25%, 75% {
    -o-transform: translateY(3px) rotate(90deg);
       transform: translateY(3px) rotate(90deg);
  }
}
@keyframes hvr-icon-down {
  0%, 50%, 100% {
    -webkit-transform: translateY(0) rotate(90deg);
       -moz-transform: translateY(0) rotate(90deg);
         -o-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
  25%, 75% {
    -webkit-transform: translateY(3px) rotate(90deg);
       -moz-transform: translateY(3px) rotate(90deg);
         -o-transform: translateY(3px) rotate(90deg);
            transform: translateY(3px) rotate(90deg);
  }
}

.border-black {
  border: solid thin #000000;
}

.border-white {
  border: solid thin #ffffff;
}

.custom-btn-02 {
  background: #000000;
  font-family: "montserrat-regular";
  color: #ffffff;
  text-transform: capitalize;
}

.cb-black {
  color: #000000;
  border: solid thin #000000;
}

.cb-black:hover {
  background: #000000;
  color: #ffffff;
}

.download-btn:before {
  content: "\0052";
  font-weight: bold;
}

.cb-bt-bdr {
  border-color: transparent;
  border-bottom-color: #ffffff;
  padding: 10px 25px 10px 0;
}

.cb-bt-bdr:before {
  right: 0;
}

.cb-bt-bdr:hover {
  background: transparent;
  color: #ffffff;
}

/*end of button group*/
/*form's*/
.input-field, .textarea-field, .select-field {
  font-family: "montserrat-regular";
  font-size: 14px;
  color: #212121;
  width: 100%;
  height: auto;
  border: solid 2px #656565;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background: #d5d5d5;
  padding: 20px 20px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.select-field {
  background: url("/dist/assets/images/svg/arrow-down.svg") no-repeat !important;
  -moz-background-size: 15px !important;
       background-size: 15px !important;
  background-position: 97% !important;
}

.select-box .select-field {
  background: none !important;
}

.select-box:before {
  content: '\0043';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  font-family: 'reicons';
  font-size: 14px;
  height: 14px;
  line-height: normal;
}

::-webkit-input-placeholder {
  color: #a7a7a7;
}

:-moz-placeholder {
  color: #a7a7a7;
}

::-moz-placeholder {
  color: #a7a7a7;
}

:-ms-input-placeholder {
  color: #a7a7a7;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
  background: #cecece;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none !important;
}

select {
  -moz-outline: none;
}

select {
  -moz-appearance: none !important;
}

::-ms-clear {
  width: 0;
  height: 0;
}

::-ms-reveal {
  width: 0;
  height: 0;
}

/*border effect*/
.input-box {
  position: relative;
  line-height: 0px;
  margin-bottom: 20px;
  text-align: left;
}

.input-field ~ .focus-border:before,
.input-field ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #da291c;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}

.input-field ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.input-field ~ .focus-border i:before,
.input-field ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #da291c;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}

.input-field ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.input-field:focus ~ .focus-border:before,
.input-field:focus ~ .focus-border:after {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.input-field:focus ~ .focus-border i:before,
.input-field:focus ~ .focus-border i:after {
  height: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

/*checkbox*/
.input-box p {
  font-size: 14px;
  margin: 0 0 18px;
}

.custom-radio {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.custom-radio label, .custom-checkbox label {
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 0px;
  position: relative;
}

.custom-radio input[type=radio].with-font,
.custom-checkbox input[type=checkbox].with-font {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.custom-radio input[type=radio].with-font ~ label:before,
.custom-checkbox input[type=checkbox].with-font ~ label:before {
  content: "";
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: solid thin #656565;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.custom-radio input[type=radio].with-font ~ label:after,
.custom-checkbox input[type=checkbox].with-font ~ label:after {
  content: "";
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(218, 41, 28, 0);
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 2px;
  bottom: 0;
  margin: auto;
}

.custom-radio input[type=radio].with-font:checked ~ label:before,
.custom-checkbox input[type=checkbox].with-font:checked ~ label:before {
  border-color: #da291c;
}

.custom-radio input[type=radio].with-font:checked ~ label:after,
.custom-checkbox input[type=checkbox].with-font:checked ~ label:after {
  background: #da291c;
}

.custom-radio label {
  color: #555555;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
}

.custom-radio label.active, .custom-checkbox label.active {
  color: #ef5994;
}

.custom-radio span {
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .custom-radio input[type=radio].with-font ~ label:before, .custom-checkbox input[type=checkbox].with-font ~ label:before {
    width: 15px;
    height: 15px;
  }
  .custom-radio input[type=radio].with-font ~ label:after, .custom-checkbox input[type=checkbox].with-font ~ label:after {
    width: 7px;
    height: 7px;
    left: 4px;
  }
  .custom-radio label {
    color: #555555;
    font-size: 14px;
    cursor: pointer;
    text-transform: capitalize;
  }
  .hvr-icon-01:before {
    font-size: 14px;
    right: 15px;
  }
  .custom-radio {
    margin-right: 15px;
  }
}

.input-box .input-error {
  color: #da291c !important;
  font-size: 12px !important;
  padding: 0 !important;
  margin: 5px 0 0px !important;
}

/*end of form's*/
/*reset||layout*/
*, :after, :before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

body, html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  font-family: "montserrat-regular";
  overflow-x: hidden;
  font-weight: normal;
  background: #ffffff;
}

p {
  font-family: "montserrat-regular" !important;
  color: #212020;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "guardiansans-semibold";
  color: #000000;
}

a {
  text-decoration: none;
  color: #212020;
}

img {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a, img, div {
  outline: none !important;
}

.clear {
  clear: both;
}

.re-title, h1 {
  font-size: 34px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 5px;
}

.re-title-head {
  padding: 40px 0 15px;
  text-align: center;
}

.re-title-head .re-title {
  color: #000000;
}

.re-title-head .re-title.bord-btm {
  border-bottom: solid thin #000000;
  padding-bottom: 25px;
}

h2 {
  font-size: 26px;
  line-height: 26px;
}

h3 {
  font-size: 22px;
  line-height: 22px;
}

h4 {
  font-size: 18px;
  line-height: 18px;
}

h4 {
  font-size: 16px;
  line-height: 16px;
}

.wrapper-contents {
  margin-top: 79.45px;
}

.container-cus {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.container-cus:before, .container-cus:after {
  content: '';
  display: table;
  clear: both;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container-ful {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.container-std {
  max-width: 95%;
}

.container-mdm {
  max-width: 80%;
}

.container-sml {
  max-width: 70%;
}

.disp-tbl {
  width: 100%;
  height: 100%;
  display: table;
}

.disp-tbl-cel {
  display: table-cell;
  vertical-align: middle;
}

.disp-tbl-block {
  display: block;
}

.posi-abso {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.wid-25 {
  width: 25%;
}

.wid-30 {
  width: 30%;
}

.wid-33 {
  width: 33.33%;
}

.wid-40 {
  width: 40%;
}

.wid-50 {
  width: 50%;
}

.wid-60 {
  width: 60%;
}

.wid-70 {
  width: 70%;
}

.wid-75 {
  width: 75%;
}

.wid-100 {
  width: 100%;
}

.box-circle {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.img-responsive {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-maroon {
  color: #da291c;
  font-style: normal;
}

.txt-maroon-dark {
  color: #c62b1e;
  font-style: normal;
}

.bg-black {
  background: #000000;
}

.bg-light-black {
  background: #212121;
}

.bg-white {
  background: #ffffff;
}

.bg-gray {
  background: #e5e3e3;
}

.bg-light-gray {
  background: #f2f2f2;
}

.mobi-767 {
  display: none !important;
}

.desk-767 {
  display: inline-block !important;
}

.re-title-head.desk-767 {
  display: block !important;
}

.no-border {
  border: none;
}

.scale-image {
  overflow: hidden;
  line-height: 0;
}

.scale-image img {
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.scale-image:hover img {
  -webkit-transform: scale(1.02);
     -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
}

.overlay-black {
  background: rgba(0, 0, 0, 0.47);
}

/*grid boxes*/
.grid-two, .grid-three, .grid-four, .grid-five, .grid-six, .grid-seven {
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.grid-two .grid-box, .grid-three .grid-box, .grid-four .grid-box, .grid-five .grid-box, .grid-six .grid-box, .grid-seven .grid-box {
  float: left;
  position: relative;
}

.grid-two .grid-box .inner-box, .grid-three .grid-box .inner-box, .grid-four .grid-box .inner-box, .grid-five .grid-box .inner-box, .grid-six .grid-box .inner-box, .grid-seven .grid-box .inner-box {
  padding: 15px;
}

.grid-two .grid-box {
  width: 50%;
}

.grid-three .grid-box {
  width: 33.33%;
}

.grid-four .grid-box {
  width: 25%;
}

.grid-five .grid-box {
  width: 20%;
}

.grid-six .grid-box {
  width: 16.66%;
}

.grid-seven .grid-box {
  width: 14.28%;
}

/*end of grid boxes*/
/*social*/
.social-share {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: auto;
  float: none;
}

.social-share li {
  width: auto;
  display: inline-block;
  margin-left: 10px;
}

.social-share li a svg {
  width: 25px;
  height: 25px;
  fill: #222021;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.social-share li.tw a svg {
  width: 30px;
}

.social-share li.fb a:hover svg {
  fill: #204385;
}

.social-share li.tw a:hover svg {
  fill: #27aae1;
}

.social-share li.ig a:hover svg {
  fill: #6a453b;
}

.social-share li.yt a:hover svg {
  fill: #d32322;
}

/*end of social*/
/*custom nav*/
.custom-nav {
  width: 100%;
  float: left;
}

.custom-nav li {
  float: left;
  padding: 0 10px;
  margin: 0;
  position: relative;
}

.custom-nav li a {
  font-size: 16px;
  cursor: pointer;
  color: #000000;
  display: inline-block;
}

.custom-nav li a:hover {
  color: #da291c;
}

.custom-nav li a.active {
  color: #da291c;
}

.custom-nav li.active a {
  color: #da291c;
}

.custom-nav-bord-rt li:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #000000;
  width: 1px;
  height: 10px;
}

.custom-nav-bord-rt li:first-child {
  padding-left: 0;
}

.custom-nav-bord-rt li:last-child {
  padding-right: 0;
}

.custom-nav-bord-rt li:last-child:before {
  display: none;
}

/*end of custom nav*/
.video-source, .video-online {
  position: relative;
  width: 100%;
  float: left;
}

.video-source .video-box {
  width: 100%;
  height: 92vh;
  position: relative;
}

.video-source .video-box video {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.video-online .video-box {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  top: -50px;
  left: 0%;
}

.video-online .video-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

/*popup*/
.custom-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 999;
}

.custom-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.custom-popup-container {
  display: table;
  width: 100%;
  height: 100%;
}

.custom-popup-container .custom-popup-middle {
  display: table-cell;
  vertical-align: middle;
}

.custom-popup-container .custom-popup-inner {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-50px);
     -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
       -o-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  -moz-transition-property: transform, -moz-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform, -moz-transform, -o-transform;
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.is-visible .custom-popup-container .custom-popup-inner {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

.custom-popup-container .custom-popup-close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: #ffffff url("../images/icon-close.png") no-repeat;
  background-position: 50% 50%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  border: solid 2px #ffffff;
}

.custom-popup-container .custom-popup-close:hover {
  border: solid 2px #236823;
}

.custom-popup-inner h3 {
  font-size: 35px;
  text-transform: none;
  font-family: 'FuturaStd-Condensed';
  letter-spacing: normal;
}

/*end of custom popup*/
/*video-play-overlay*/
.video-play-overlay, .video-play-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-play-overlay {
  z-index: 9;
  background: rgba(0, 0, 0, 0.25);
}

.video-play-overlay .video-play-btn {
  width: 100px;
  height: 100px;
  font-size: 100px;
  margin: auto;
  cursor: pointer;
}

.video-play-overlay .video-play-btn .icon-play {
  color: #ffffff;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}

.video-play-overlay .video-play-btn .icon-play:hover {
  color: #da291c;
}

.video-option .re-title {
  position: relative;
  padding-bottom: 15px;
}

.video-option .re-title:before {
  position: absolute;
  bottom: 0px;
  right: auto;
  left: -480px;
  margin: auto;
  content: '';
  height: 1px;
  width: 820px;
  background: #ffffff;
}

.video-option .video-play-overlay .video-play-btn {
  bottom: 90px;
}

/*end of video-play-overlay*/
.bg-gradient-lt {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
}

.bg-gradient-rt {
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.25)));
  background: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -moz-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -o-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
}

.bg-gradient-bt {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
}

/*gradient background for banner text. ***** incuding 'overlay-txt' class use the any one of these class to align 'left','right','bottom'*/
.bg-gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.bg-gradient.left {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.75)), to(transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
}

.bg-gradient.right {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
}

.bg-gradient.bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
}

/*end of gradient*/
/*carousel - buttons - dots*/
.carousel .slick-slide {
  outline: none;
}

.carousel .slick-slide img {
  display: block;
  max-width: 100%;
}

.carousel .slick-slide .banner-inner-img img {
  width: 100%;
}

.carousel .slick-slide .banner-inner-txt img {
  width: auto;
}

/*buttons*/
.carousel .slick-prev, .carousel .slick-next {
  width: 80px;
  height: 80px;
  border: none;
  background: none;
  margin: 10px;
  display: inline-block;
  margin: auto;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
  z-index: 9;
  border: solid thin #c9a864;
}

.carousel .slick-prev:before, .carousel .slick-next:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 8px;
}

.carousel .slick-prev:before {
  background: url("../images/icon-arrow-left.png") no-repeat;
  background-position: 0 0;
}

.carousel .slick-next:before {
  background: url("../images/icon-arrow-right.png") no-repeat;
  background-position: 0 0;
}

.carousel .slick-prev:hover:before, .carousel .slick-next:hover:before {
  background-position: 0 -10px;
}

.carousel .slick-prev, .carousel .slick-next {
  left: 0;
  right: auto;
  top: auto;
  bottom: 10%;
}

.carousel .slick-next {
  left: 90px;
}

.carousel .slick-prev.slick-disabled, .carousel .slick-next.slick-disabled, .carousel .slick-prev.slick-disabled:hover, .carousel .slick-next.slick-disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}

.carousel .slick-prev.slick-disabled:hover, .carousel .slick-next.slick-disabled:hover {
  background: rgba(218, 181, 113, 0.5);
}

.carousel div {
  outline: none;
  font-size: 0;
}

.carousel .slick-prev:focus, .carousel .slick-next:focus {
  background: none;
}

.carousel .slick-prev:hover, .carousel .slick-next:hover {
  border: solid thin #84a197;
}

/*dots*/
.carousel .slick-dots {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  text-align: center;
}

.carousel .slick-dots li {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin: 0 8px;
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #212121;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  outline: none;
  border: none;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.carousel .slick-dots li button {
  display: none;
}

.carousel .slick-dots li:hover {
  background: #da291c;
}

.carousel .slick-dots li.slick-active {
  background: #da291c;
}

/* progress bar */
.wrapper-slider-progress {
  position: relative;
}

.slider-progress {
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.slider-progress .progress {
  width: 0%;
  height: 3px;
  background: #86754d;
  position: relative;
}

.slick-slide > div {
  font-size: 0;
}

/**/
.carousel-item {
  position: relative;
}

.scroll-down-box {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(98%, rgba(0, 0, 0, 0.74)), to(rgba(0, 0, 0, 0.74)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.74) 98%, rgba(0, 0, 0, 0.74) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.74) 98%, rgba(0, 0, 0, 0.74) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.74) 98%, rgba(0, 0, 0, 0.74) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.74) 98%, rgba(0, 0, 0, 0.74) 100%);
}

.scroll-down-box .scroll-down-inner {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.scroll-down-box a {
  cursor: pointer;
}

.scroll-down-box img {
  display: inline-block;
}

.floating {
  -webkit-animation: floating 0.6s ease-in-out alternate infinite;
     -moz-animation: floating 0.6s ease-in-out alternate infinite;
       -o-animation: floating 0.6s ease-in-out alternate infinite;
          animation: floating 0.6s ease-in-out alternate infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-moz-keyframes floating {
  0% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
  }
  50% {
    -moz-transform: translateY(5px);
         transform: translateY(5px);
  }
  100% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
  }
}

@-o-keyframes floating {
  0% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
  }
  50% {
    -o-transform: translateY(5px);
       transform: translateY(5px);
  }
  100% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
         -o-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.floating-delay {
  -webkit-animation: floating_delay 1s ease-in-out alternate infinite;
     -moz-animation: floating_delay 1s ease-in-out alternate infinite;
       -o-animation: floating_delay 1s ease-in-out alternate infinite;
          animation: floating_delay 1s ease-in-out alternate infinite;
}

@-webkit-keyframes floating_delay {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-moz-keyframes floating_delay {
  0% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
  }
  30% {
    -moz-transform: translateY(5px);
         transform: translateY(5px);
  }
  60% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
  }
  100% {
    -moz-transform: translateY(0px);
         transform: translateY(0px);
  }
}

@-o-keyframes floating_delay {
  0% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
  }
  30% {
    -o-transform: translateY(5px);
       transform: translateY(5px);
  }
  60% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
  }
  100% {
    -o-transform: translateY(0px);
       transform: translateY(0px);
  }
}

@keyframes floating_delay {
  0% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
         -o-transform: translateY(5px);
            transform: translateY(5px);
  }
  60% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/**/
.sub-section {
  width: 100%;
}

.sub-section:before {
  content: '';
  display: block;
  clear: both;
}

.sub-section .re-title {
  font-size: 34px;
  line-height: 38px;
}

.sub-section.padding-none {
  padding: 0;
}

.sub-section.bg-light-black {
  padding-bottom: 0px;
}

.sub-section.bg-light-black .re-title-head .re-title {
  color: #ffffff;
}

/*image caption [START]*/
.image-caption {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 20px;
  color: #ffffff;
  text-align: right;
}

.image-caption span, .image-caption a {
  vertical-align: middle;
  font-size: 12px;
  margin-left: 10px;
  display: inline-block;
  color: #ffffff;
}

.image-caption a {
  font-size: 25px;
}

.image-caption svg {
  width: 24px;
}

.image-caption svg path {
  fill: #ffffff;
}

/*image caption [END]*/
/*YouTube video play popup [START]*/
#YouTube-player {
  display: none;
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  left: 0;
  top: 0;
  z-index: 999999;
}

#YouTube-player .yt-play-box {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#YouTube-player iframe {
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

#YouTube-player .yt-close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 30px;
  line-height: normal;
  color: #ffffff;
  z-index: 9;
  cursor: pointer;
  padding: 5px 25px;
}

#YouTube-player .yt-close:hover {
  color: #da291c;
}

/*YouTube video play popup [END]*/
/*google map*/
.map {
  width: 100%;
  height: 700px;
}

.map #map-canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .map {
    height: 600px;
  }
}

@media screen and (max-width: 1300px) {
  .map {
    height: 550px;
  }
}

@media screen and (max-width: 767px) {
  .map {
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .map {
    height: 350px;
  }
}

/*google map*/
.mobile-link-only {
  pointer-events: none;
}

.list-auto {
  width: 100%;
  display: inline-block;
}

.list-auto li {
  width: auto;
  display: inline-block;
  margin-right: 25px;
}

.list-auto li img, .list-auto li span {
  vertical-align: middle;
  display: inline-block;
}

.list-auto li span {
  padding-left: 20px;
}

/*masonry [START]*/
.masonry-grid {
  width: 100%;
}

/* clear fix */
.masonry-grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.masonry-grid .grid-sizer,
.masonry-grid .grid-item {
  width: 33.33%;
}

.masonry-grid .grid-sizer.grid-02,
.masonry-grid .grid-item.grid-02 {
  width: 66.66%;
}

.masonry-grid .grid-sizer.grid-01,
.masonry-grid .grid-item.grid-01 {
  width: 100%;
}

.masonry-grid .grid-item {
  float: left;
  position: relative;
  overflow: hidden;
}

.masonry-grid .grid-item img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.masonry-grid .grid-item:hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

/*caption*/
.masonry-grid .grid-item .posi-abso {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  text-align: center;
}

.masonry-grid .grid-item .tag-name {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "guardiansans-semibold";
  font-size: 32px;
  color: #ffffff;
}

/*rating display*/
.rating-star-main {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}

.rating-star-box, .rating-star-filled {
  text-align: left;
  font-size: 0;
}

.rating-star-box span, .rating-star-filled span {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 2px;
}

.rating-star-box {
  text-align: left;
}

.rating-star-box span {
  background: url("../assets/images/svg/star.svg") no-repeat;
}

.rating-star-filled {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
}

.rating-star-filled span {
  background: url("../assets/images/svg/star-filled.svg") no-repeat;
}

.view-all-features {
  padding-bottom: 15px;
}

@media screen and (max-width: 1250px) {
  .wrapper-contents {
    margin-top: 62px;
  }
  .gallery-caption {
    padding: 10px 15px;
  }
  .gallery-caption span, .gallery-caption a {
    font-size: 10px;
    margin-left: 5px;
  }
  .gallery-caption .gallery-caption svg {
    width: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .masonry-grid .grid-item .tag-name {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .masonry-grid .grid-sizer,
  .masonry-grid .grid-item {
    width: 50%;
  }
  .masonry-grid .grid-sizer.grid-02,
  .masonry-grid .grid-item.grid-02 {
    width: 50%;
  }
  .masonry-grid .grid-item .tag-name {
    font-size: 22px;
  }
  .carousel-gallery-dealership {
    display: none;
  }
  .rating-star-main {
    width: 70px;
  }
  .rating-star-box span, .rating-star-filled span {
    width: 12px;
    height: 12px;
    margin: 0 1px;
  }
  .carousel-showcase-bike .slick-slide img {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    padding-top: 15px;
  }
  .masonry-grid .grid-item .tag-name {
    font-size: 18px;
  }
  .image-caption {
    padding: 10px 10px;
  }
  .image-caption span, .image-caption a {
    font-size: 8px;
    margin-left: 5px;
  }
}

/*masonry [END]*/
/*scroll*/
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #5b5b5b;
}

body::-webkit-scrollbar-thumb {
  background-color: #212121;
  outline: none;
}

.video-caption-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
}

.video-caption-bottom h3 {
  color: #ffffff;
  letter-spacing: 0.5px;
}

.video-caption-bottom p {
  color: #dadada;
  margin: 5px 0 0;
}

.footer-secondary {
  z-index: 5;
  position: relative;
}

@media screen and (max-width: 1700px) {
  .list-auto li span {
    padding-left: 10px;
  }
}

@media screen and (max-width: 1500px) {
  .re-title, h1 {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
  }
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
  .sub-section .re-title {
    font-size: 30px;
    line-height: 30px;
  }
  .banner-inner-txt .txt-box p {
    font-size: 13px;
    line-height: 20px;
  }
  .list-auto li {
    margin-right: 15px;
  }
  .list-auto li span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1400px) {
  .container-mdm {
    max-width: 90%;
  }
  .banner-inner-txt .txt-box .logo-re {
    width: 100px;
  }
  .banner-inner-txt .txt-box .logo-him {
    width: 150px;
  }
  .sub-section .re-title {
    font-size: 28px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1250px) {
  .video-play-overlay .video-play-btn {
    width: 80px;
    height: 80px;
    font-size: 80px;
  }
  h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .custom-btn, .custom-btn-02 {
    padding: 10px 30px 10px 15px;
  }
  .hvr-icon-01:before {
    right: 10px;
  }
  .list-auto li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .carousel .slick-dots li {
    margin: 0 5px;
  }
  .hvr-icon-back {
    padding: 9px 25px 9px 40px;
  }
  .hvr-icon-back:before {
    right: auto;
    left: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .re-title-head {
    padding: 25px 0 10px;
  }
  .sub-section .re-title {
    font-size: 26px;
    line-height: 26px;
  }
  .grid-seven .grid-box {
    width: 25%;
    margin-bottom: 15px;
  }
  .carousel .slick-track .carousel-item .animation-element {
    -webkit-transition-delay: initial !important;
       -moz-transition-delay: initial !important;
         -o-transition-delay: initial !important;
            transition-delay: initial !important;
    -webkit-transform: initial;
       -moz-transform: initial;
        -ms-transform: initial;
         -o-transform: initial;
            transform: initial;
    opacity: 1;
    visibility: visible;
  }
  .select-field {
    background-position: 95% !important;
  }
  .image-caption a {
    font-size: 20px;
    vertical-align: bottom;
    line-height: normal;
  }
}

@media screen and (max-width: 1023px) {
  .re-banner .container-mdm {
    max-width: 100%;
  }
  .re-banner .banner-inner-txt .txt-box {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .desk-767 {
    display: none !important;
  }
  .mobi-767 {
    display: block !important;
    width: 100%;
    max-width: initial;
  }
  .mobile-link-only {
    pointer-events: auto;
  }
  .container-std, .container-mdm {
    max-width: 100%;
  }
  .custom-btn, .custom-btn-02 {
    font-size: 12px;
  }
  .re-title, h1 {
    font-size: 24px;
    line-height: 26px;
  }
  .re-title br, h1 br {
    display: none;
  }
  .custom-btn, .custom-btn-02 {
    padding: 7px 30px 7px 15px;
  }
  .custom-btn.hvr-icon-01:before, .custom-btn-02.hvr-icon-01:before {
    font-size: 10px;
  }
  .input-field, .textarea-field, .select-field {
    font-size: 14px;
    border: solid 1px #8e8e8e;
    padding: 12px 15px;
  }
  .wrapper-contents {
    margin-top: 50px;
  }
  .container-std {
    width: 100%;
  }
  .carousel .slick-dots li {
    margin: 0 5px;
  }
  .scroll-down-box img {
    width: 15px;
  }
  .scroll-down-box .scroll-down-inner {
    bottom: 60px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
  .re-title-head {
    padding: 25px 0 10px;
  }
  .re-title, .sub-section .re-title {
    font-size: 22px;
    line-height: normal;
  }
  .carousel-grid-three .slick-dots, .carousel-grid-four .slick-dots {
    position: relative;
    bottom: 0;
    padding: 15px;
  }
  .carousel .slick-dots {
    bottom: 10px;
    right: 10px;
    text-align: right;
    width: auto;
    left: auto;
  }
  .carousel .slick-dots li {
    border: none;
    background: #000000;
    border: solid thin #212121;
    position: relative;
    width: 10px;
    height: 10px;
  }
  .carousel .slick-dots li:hover, .carousel .slick-dots li.slick-active {
    background: #da291c;
    border-color: #da291c;
  }
  .grid-seven .grid-box {
    width: 33.33%;
  }
  .hvr-icon-back {
    padding: 9px 25px 9px 40px;
  }
  .hvr-icon-back:before {
    right: auto;
    left: 10px;
  }
  .video-play-overlay .video-play-btn {
    width: 50px;
    height: 50px;
    font-size: 50px;
  }
  .carousel-sections-mobile {
    background: #000000;
  }
  .carousel-sections-mobile .re-banner {
    display: block;
  }
  .carousel-sections-mobile .re-banner .disp-tbl-cel {
    display: block;
    width: 100%;
  }
  .carousel-sections-mobile .banner-inner-txt {
    position: relative;
    background: #000000;
  }
  .carousel-sections-mobile .banner-inner-txt .container-cus {
    padding: 0;
  }
  .carousel-sections-mobile .banner-inner-txt .txt-box {
    text-align: center;
    width: 95%;
  }
  .carousel-sections-mobile .banner-inner-txt .txt-box .re-title {
    font-size: 24px;
    line-height: 24px;
    margin: 15px 0 10px;
  }
  .carousel-sections-mobile .banner-inner-txt .txt-box p {
    font-size: 12px;
    line-height: 16px;
    background: #D5D5D5;
    color: #000000;
    padding: 20px;
  }
  .ful-wid-btn-mobi {
    width: 100%;
    border-color: #ffffff;
    background: #ffffff !important;
    padding: 25px 25px;
    text-align: left;
    font-size: 18px;
    color: #000000;
  }
  .ful-wid-btn-mobi:before {
    right: 15px !important;
    font-size: 14px;
    margin-top: 5px;
  }
  .sub-section .scroll-down-box {
    display: none;
  }
  .slider-progress {
    height: 3px;
  }
  .slider-progress .progress {
    height: 3px;
  }
  .re-banner .bg-gradient-lt, .re-banner .bg-gradient-rt {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  }
  #YouTube-player .yt-close {
    font-size: 18px;
  }
  body::-webkit-scrollbar {
    width: 3px;
  }
  body::-webkit-scrollbar-track {
    background-color: #5b5b5b;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #212121;
    outline: none;
  }
  .ui-datepicker {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.35);
       -moz-box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.35);
            box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.35);
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .re-title, h1 {
    font-size: 22px;
    line-height: 30px;
  }
  .grid-seven .grid-box {
    width: 50%;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .custom-nav li {
    padding: 0 5px;
  }
}

/*collections*/
.collections {
  width: 100%;
  float: left;
  text-align: center;
}

.collections .grid-three {
  border-bottom: solid 10px #86754d;
}

.collections .grid-three .grid-box {
  padding: 30px 0;
}

.collections .collections-inner-img {
  height: 303px;
  position: relative;
}

.collections .collections-inner-img img {
  position: absolute;
  left: 0;
  right: 15%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.collections .collections-inner-txt .custom-btn {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.divide-border .grid-box {
  border-right: solid 2px #e5e3e3;
}

.divide-border .grid-box:last-child {
  border-right: none;
}

/*end of collections*/
