.ui-datepicker {
  width: 410px;
  height: auto;
  background: #ffffff;
  margin: 5px auto 0;
  padding: 20px;
}

.ui-datepicker a {
  text-decoration: none;
  font-family: "montserrat-regular";
  font-weight: normal;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
  color: #5d5d5d;
  background: #ffffff;
  font-weight: normal;
}

.ui-datepicker tbody td {
  padding: 7px;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker .ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  -webkit-transition: ease all 0.6s;
  -o-transition: ease all 0.6s;
  -moz-transition: ease all 0.6s;
  transition: ease all 0.6s;
  font-weight: normal;
}

.ui-datepicker .ui-datepicker-unselectable.ui-state-disabled .ui-state-default {
  background: #ffffff;
  color: #e9ecef;
}

.ui-datepicker-header {
  background: #ffffff;
  color: #5d5d5d;
  border-bottom: solid thin #dadbdd;
  padding: 5px 0 20px;
  margin: 0 15px 15px;
  text-align: center;
}

.ui-datepicker-header a {
  font-family: "guardiansans-medium";
}

.ui-datepicker-header .ui-datepicker-title select {
  border: none;
  font-family: "guardiansans-medium";
  font-size: 23px;
  outline: none;
  color: #5d5d5d;
  padding: 0px 15px;
  margin: 0 15px;
  background: none;
  text-transform: none;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../assets/images/svg/arrow-down.svg") no-repeat !important;
  -moz-background-size: 10px !important;
       background-size: 10px !important;
  background-position: 97% !important;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: none;
}

.ui-datepicker-calendar .ui-state-default {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #ffffff;
  color: #dadbdd;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  text-align: center;
  -webkit-transition: ease all 0.6s;
  -o-transition: ease all 0.6s;
  -moz-transition: ease all 0.6s;
  transition: ease all 0.6s;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #dadbdd;
  color: #ffffff;
}

.ui-datepicker-calendar .ui-state-active {
  background: #dadbdd;
  color: #ffffff;
  position: relative;
  margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

@media screen and (max-width: 1250px) {
  .ui-datepicker {
    width: 350px;
    padding: 15px;
  }
  .ui-datepicker-header .ui-datepicker-title select {
    font-size: 20px;
    margin: 0 10px;
  }
  .ui-datepicker th {
    font-size: 14px;
    padding: 7px;
  }
  .ui-datepicker tbody td {
    padding: 5px;
  }
  .ui-datepicker-calendar .ui-state-default {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .ui-datepicker {
    width: 285px;
    padding: 10px;
  }
  .ui-datepicker-header .ui-datepicker-title select {
    font-size: 18px;
  }
  .ui-datepicker th {
    font-size: 12px;
    padding: 5px;
  }
  .ui-datepicker tbody td {
    padding: 5px;
  }
  .ui-datepicker-calendar .ui-state-default {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
  .ui-datepicker-header {
    padding: 5px 0 10px;
    margin: 0 10px 10px;
  }
  .ui-datepicker-header .ui-datepicker-title select {
    font-size: 16px;
  }
}
