/*whats-new*/
.whats-new-main .container-cus {
  max-width: 1724px;
}

.whats-new-main .re-title-head {
  padding-bottom: 40px;
}

.whats-new-main .re-title-head .container-cus {
  border-bottom: solid thin #878787;
  max-width: 1624px;
}

.whats-new-main .whats-new-box {
  position: relative;
  margin-bottom: 50px;
}

.whats-new-main .whats-new-box:after {
  content: '';
  height: 1px;
  background: #878787;
  position: absolute;
  bottom: 0;
  left: 50px;
  right: 50px;
}

.whats-new-main .whats-new-box .grid-box {
  padding-bottom: 50px;
}

.whats-new-main .whats-new-box .grid-box .inner-box {
  padding: 0 50px;
}

.whats-new-main .whats-new-box .grid-box .inner-box .inner-image {
  overflow: hidden;
}

.whats-new-main .whats-new-box .grid-box .inner-box .inner-content {
  padding-top: 20px;
}

.whats-new-main .whats-new-box .grid-box .inner-box .inner-content h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.whats-new-main .whats-new-box .grid-box .inner-box .inner-content p {
  margin: 0 0 35px;
  color: #000000;
}

.whats-new-main .whats-new-box .grid-box .inner-box .inner-content .list-auto {
  margin-bottom: 35px;
}

.whats-new-main .whats-new-box .grid-box .inner-box .inner-content .list-auto li span {
  color: #5d5d5d;
  font-size: 14px;
}

.whats-new-main .whats-new-box .grid-box .inner-box .inner-content .list-auto li i {
  font-size: 23px;
  font-style: normal;
}

.whats-new-main .whats-new-box .grid-box .inner-box .inner-content .list-auto li .icon-time {
  color: #959494;
}

.store-facility {
  margin: 20px 0 15px;
}

.store-facility .store-point {
  display: inline-block;
  margin-right: 50px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 40px;
  color: #c62b1e;
}

.store-facility .store-point p {
  color: #c62b1e;
  margin: 0;
}

.store-facility .store-point img {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  display: inline-block;
  height: 60px;
}

.store-facility .store-point.deactive {
  color: #a3a3a3;
}

.store-facility .store-point.deactive p {
  color: #a3a3a3;
}

.store-facility .store-point.deactive img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.3;
}

.load-more {
  margin-bottom: 60px;
  text-align: center;
}

.load-more a {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0;
  min-width: inherit;
  background: none;
}

.load-more a:hover {
  background: none;
  color: #000000;
}

.load-more a:before {
  right: 0;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: initial !important;
     -moz-animation: initial !important;
       -o-animation: initial !important;
          animation: initial !important;
}

@media screen and (max-width: 1700px) {
  .whats-new-main .whats-new-box .grid-box .inner-box {
    padding: 0 30px;
  }
  .whats-new-main .whats-new-box .grid-box .inner-box .inner-content p {
    margin: 0 0 20px;
  }
  .whats-new-main .whats-new-box .grid-box .inner-box .inner-content .list-auto {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1500px) {
  .whats-new-main .whats-new-box .grid-box .inner-box .inner-content h2 {
    font-size: 26px;
  }
  .store-facility .store-point {
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .whats-new-box .list-auto li {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1250px) {
  .whats-new-main .whats-new-box .grid-box .inner-box .inner-content h2 {
    font-size: 22px;
  }
  .whats-new-main .whats-new-box {
    margin-bottom: 35px;
  }
  .whats-new-main .whats-new-box .grid-box {
    padding-bottom: 35px;
  }
  .whats-new-main .whats-new-box .grid-box .inner-box {
    padding: 0 15px;
  }
  .store-facility .store-point img {
    height: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .whats-new-box .grid-box {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .whats-new-main .whats-new-box {
    margin-bottom: 25px;
  }
  .whats-new-main .whats-new-box .grid-box {
    padding-bottom: 25px;
    width: 100%;
  }
  .whats-new-main .whats-new-box .grid-box .inner-image img {
    width: 100%;
  }
  .whats-new-main .whats-new-box .grid-box .inner-box .inner-content .list-auto {
    margin-bottom: 15px;
  }
  .whats-new-main .whats-new-box .grid-box .inner-box .inner-content .list-auto li {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .whats-new-main .whats-new-box:after {
    display: none;
  }
  .whats-new-main .whats-new-box {
    margin-bottom: 0;
  }
  .store-facility .store-point {
    margin-right: 15px;
    margin-bottom: 0px;
    font-size: 35px;
  }
  .store-facility .store-point .store-point img {
    height: 30px;
  }
  .store-facility {
    margin: 15px 0 10px;
  }
  .load-more a {
    padding-left: 15px;
  }
  .load-more a:hover {
    color: #000000;
  }
  .load-more {
    margin-bottom: 0;
  }
}
