/*dealers head profile || dealers-rating-details*/
.dealers-rating-details {
  padding: 35px 0 25px;
}

.dealers-rating-details h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.dealers-rating-details h1, .dealers-rating-details p {
  color: #000000;
}

.dealers-rating-details .rating-star-main {
  margin-left: 10px;
}

.dealers-rating-details .rating-point {
  font-size: 16px;
  padding-left: 5px;
  padding-top: 5px;
}

.dealers-rating-details .grid-two .grid-box:first-child {
  width: 450px;
}

.dealers-rating-details .grid-two .grid-box:last-child {
  width: auto;
}

.dealers-rating-details .store-facility .store-point {
  margin-right: 40px;
  height: 42px;
}

.dealers-rating-details .disp-tbl {
  margin-bottom: 30px;
}

.dealers-rating-details .review-desc {
  width: 430px;
  float: right;
}

.dealers-rating-details .review-desc .r-name {
  font-size: 20px;
}

.dealers-rating-details .button-group {
  margin-top: 15px;
}

.dealers-rating-details .button-group .custom-btn {
  margin-right: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1500px) {
  .store-facility .store-point {
    margin-right: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .store-facility {
    margin: 15px 0 10px;
  }
  .dealers-rating-details .store-facility .store-point {
    margin-right: 25px;
  }
  .dealers-rating-details .rating-point {
    padding-top: 0px;
  }
}
