/*dealers-list*/
.search-head {
  margin: 25px 0 45px;
  border-bottom: solid thin #878787;
}

.search-head .input-box {
  position: relative;
  margin-bottom: 0;
}

.search-head .input-field {
  border: none;
  font-size: 36px;
  color: #c7c7c7;
  padding: 10px 60px;
  background: transparent;
  font-family: "guardiansans-regular";
}

.search-head .input-field::-webkit-input-placeholder {
  color: #c7c7c7;
}

.search-head .input-field:-moz-placeholder {
  color: #c7c7c7;
}

.search-head .input-field::-moz-placeholder {
  color: #c7c7c7;
}

.search-head .input-field:-ms-input-placeholder {
  color: #c7c7c7;
}

.search-head .icon-search {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 35px;
  font-size: 30px;
  color: #c7c7c7;
}

.dealers-list-main .dealers-list-box {
  position: relative;
  margin-bottom: 60px;
}

.dealers-list-main .dealers-list-box:after {
  content: '';
  height: 1px;
  background: #878787;
  position: absolute;
  bottom: 0;
  left: 65px;
  right: 65px;
}

.dealers-list-main .dealers-list-box .grid-box {
  padding-bottom: 60px;
}

.dealers-list-main .dealers-list-box .grid-box .inner-box {
  padding: 0 65px;
}

.dealers-list-main .dealers-list-box .grid-box .inner-box .inner-image {
  overflow: hidden;
}

.dealers-list-main .dealers-list-box .grid-box .inner-box .inner-txt {
  padding-top: 20px;
}

.dealers-list-main .dealers-list-box .grid-box .inner-box .inner-txt .addr-box {
  min-height: 40px;
  margin-bottom: 10px;
}

.dealers-list-main .dealers-list-box .grid-box .inner-box .inner-txt h2 {
  margin-bottom: 10px;
}

.dealers-list-main .dealers-list-box .grid-box .inner-box .inner-txt p {
  margin: 0;
}

.dealers-list-main .dealers-list-box .grid-box .inner-box .inner-txt .disp-tbl-cel {
  vertical-align: top;
}

.store-facility {
  margin: 20px 0 15px;
}

.store-facility .store-point {
  display: inline-block;
  margin-right: 50px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 40px;
  color: #c62b1e;
}

.store-facility .store-point p {
  color: #c62b1e;
  margin: 0;
}

.store-facility .store-point img {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  display: inline-block;
  height: 60px;
}

.store-facility .store-point.deactive {
  color: #a3a3a3;
}

.store-facility .store-point.deactive p {
  color: #a3a3a3;
}

.store-facility .store-point.deactive img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.3;
}

.load-more {
  margin-bottom: 60px;
  text-align: center;
}

.load-more a {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0;
  min-width: inherit;
  background: none;
}

.load-more a:hover {
  background: none;
  color: #000000;
}

.load-more a:before {
  right: 0;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: initial !important;
     -moz-animation: initial !important;
       -o-animation: initial !important;
          animation: initial !important;
}

@media screen and (max-width: 1700px) {
  .dealers-list-main .dealers-list-box .grid-box .inner-box {
    padding: 0 45px;
  }
}

@media screen and (max-width: 1500px) {
  .dealers-list-box .grid-box .inner-box .inner-txt p {
    font-size: 14px;
    line-height: normal;
  }
  .store-facility .store-point {
    margin-right: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .dealers-list-main .dealers-list-box .grid-box .inner-box {
    padding: 0 15px;
  }
  .dealers-list-main .container-std {
    max-width: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .dealers-list-box {
    margin-bottom: 35px;
  }
  .dealers-list-box .grid-box {
    padding-bottom: 35px;
  }
  .dealers-list-box .grid-box .inner-box .inner-txt .disp-tbl-cel {
    display: block;
    width: 100%;
    text-align: left;
  }
  .store-facility .store-point img {
    height: 40px;
  }
  .search-head {
    margin: 15px 0;
  }
  .search-head .input-field {
    font-size: 24px;
    padding: 10px 20px 10px 40px;
  }
  .search-head .icon-search {
    height: 20px;
    font-size: 20px;
  }
  .dealers-list-main .dealers-list-box .grid-box .inner-box .inner-txt .disp-tbl-cel.txt-right p {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .dealers-list-main .dealers-list-box .grid-box {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .search-head {
    margin: 15px 0;
  }
  .search-head .input-field {
    font-size: 16px;
    padding: 10px 20px 10px 40px;
  }
  .search-head .icon-search {
    width: 15px;
    height: 15px;
  }
  .dealers-list-main .dealers-list-box .grid-box {
    width: 100%;
  }
  .dealers-list-main .dealers-list-box .grid-box .inner-image img {
    width: 100%;
  }
  .dealers-list-box .grid-box .inner-box .inner-txt p {
    font-size: 13px;
  }
  .dealers-list-box {
    margin-bottom: 0;
  }
  .dealers-list-box:after {
    display: none;
  }
  .load-more {
    margin-bottom: 0;
  }
  .load-more .container-std {
    padding: 0;
  }
  .load-more a {
    padding-left: 25px;
    border-color: transparent;
  }
  .store-facility .store-point {
    margin-right: 15px;
    margin-bottom: 0px;
    font-size: 35px;
  }
  .store-facility .store-point .store-point img {
    height: 30px;
  }
  .store-facility {
    margin: 15px 0 10px;
  }
  .load-more a {
    padding-left: 15px;
  }
  .load-more a:hover {
    color: #000000;
  }
  .dealers-list-main .dealers-list-box .grid-box {
    padding-bottom: 30px;
  }
  .load-more {
    margin-bottom: 0;
  }
  .dealers-list-main .dealers-list-box {
    margin-bottom: 0px;
  }
  .store-facility {
    margin: 15px 0 10px;
  }
  .store-facility .store-point {
    margin-right: 25px;
  }
}

@media screen and (max-width: 600px) {
  .search-head .input-field {
    font-size: 12px;
    padding: 10px 20px 10px 25px;
  }
  .search-head .icon-search {
    width: 15px;
    height: 15px;
    font-size: 15px;
  }
}
