/*explore tags ride && Preview  [START]*/
.explore-tags-main {
  background: #1b1b1b;
  padding: 25px;
  color: #ffffff;
  position: relative;
}

.explore-tags-main .container-sml {
  max-width: 1300px;
}

.explore-tags-main a {
  color: #ffffff;
}

.explore-tags-main .tags-head {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
}

.explore-tags-main .tags-title, .explore-tags-main .tags-group, .explore-tags-main .tags-btn {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  font-family: "guardiansans-semibold";
}

.explore-tags-main .tags-title {
  padding-right: 20px;
  color: #c9c9c9;
  font-size: 22px;
}

.explore-tags-main .tags-group {
  width: 70%;
}

.explore-tags-main .tags-group .tags {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  cursor: pointer;
  font-family: "guardiansans-semibold";
  font-size: 24px;
  -webkit-transition: ease all 0.6s;
  -o-transition: ease all 0.6s;
  -moz-transition: ease all 0.6s;
  transition: ease all 0.6s;
}

.explore-tags-main .tags-group .tags:hover {
  color: #da291c;
}

.explore-tags-main .tags-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.explore-tags-main .tags-btn .custom-btn {
  border-color: transparent;
  border-bottom: solid thin #ffffff;
  padding: 0px 25px 7px 0;
  font-family: "guardiansans-semibold";
  font-size: 20px;
}

.explore-tags-main .tags-btn .custom-btn:hover {
  background: transparent;
  color: #da291c;
  border-bottom-color: #da291c;
}

.explore-tags-main .tags-btn .custom-btn:before {
  content: '\0043';
  right: 0;
  -webkit-animation: initial;
     -moz-animation: initial;
       -o-animation: initial;
          animation: initial;
  top: 5px;
}

.explore-tags-main .tags-btn .custom-btn.tb-active:before {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.explore-tags-main .tags-all {
  display: none;
  margin: 15px 0 25px;
  width: 100%;
}

.explore-tags-main .tags-all .tags {
  margin: 15px 0;
}

.explore-tags-preview-main .custom-btn {
  border-color: transparent;
  background: transparent;
  color: #c9c9c9;
}

.explore-tags-preview-main .tags-head {
  text-align: center;
  margin-bottom: 35px;
}

.explore-tags-preview-main .tags-head .tags {
  font-size: 34px;
  font-family: "guardiansans-semibold";
}

.explore-tags-preview-main .image-caption span i {
  font-style: normal;
  -webkit-transition: ease all 0.6s;
  -o-transition: ease all 0.6s;
  -moz-transition: ease all 0.6s;
  transition: ease all 0.6s;
}

.explore-tags-preview-main .grid-item:hover .image-caption span i {
  color: #da291c;
}

.tags-head-back {
  position: absolute;
  left: 15px;
  width: 240px;
  top: 30px;
  z-index: 9;
}

.tags-head-back .custom-btn {
  background: none;
  color: #ffffff;
}

.tags-head-back .custom-btn:hover {
  background: none;
  color: #da291c;
}

.tags-head-back .custom-btn:before {
  -webkit-animation: initial !important;
     -moz-animation: initial !important;
       -o-animation: initial !important;
          animation: initial !important;
}

.load-more-bottom {
  text-align: center;
}

.load-more-bottom .custom-btn {
  border-bottom-color: #ffffff;
}

.load-more-bottom .custom-btn:before {
  content: "\0043";
  -webkit-animation: initial !important;
     -moz-animation: initial !important;
       -o-animation: initial !important;
          animation: initial !important;
}

.load-more-bottom .custom-btn:hover {
  color: #da291c;
  border-bottom-color: #da291c;
}

/*explore tags ride [END]*/
@media screen and (max-width: 1680px) {
  .tags-head-back {
    left: 0px;
  }
}

@media screen and (max-width: 1250px) {
  .explore-tags-main .tags-title {
    padding-right: 15px;
    font-size: 18px;
  }
  .explore-tags-main .tags-group {
    width: 60%;
  }
  .explore-tags-main .tags-group .tags {
    padding: 0 5px;
    font-size: 16px;
  }
  .explore-tags-main .tags-btn .custom-btn {
    font-size: 16px;
  }
  .explore-tags-main .tags-all {
    width: 100%;
  }
  .explore-tags-preview-main .tags-head .tags {
    font-size: 28px;
  }
  .explore-tags-preview-main .tags-head {
    margin-bottom: 28px;
  }
  .tags-head-back .custom-btn {
    padding: 9px 25px 9px 25px;
  }
  .tags-head-back .custom-btn:before {
    right: auto;
    left: 0;
  }
  .explore-tags-main .tags-btn .custom-btn:before {
    font-size: 10px;
    top: 3px;
  }
}

@media screen and (max-width: 1023px) {
  .explore-tags-main .tags-title {
    padding-right: 10px;
    font-size: 16px;
  }
  .explore-tags-main .tags-group {
    width: 65%;
  }
  .explore-tags-main .tags-group .tags {
    padding: 0 3px;
    font-size: 14px;
  }
  .explore-tags-main .tags-btn .custom-btn {
    font-size: 14px;
  }
  .explore-tags-main .tags-all {
    width: 100%;
  }
  .explore-tags-preview-main .image-caption span i {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .explore-tags-main {
    padding: 25px 0;
  }
  .explore-tags-main .tags-title {
    padding-right: 0px;
    font-size: 18px;
    margin: 5px 0 25px;
  }
  .explore-tags-main .tags-group {
    width: 100%;
  }
  .explore-tags-main .tags-group .tags {
    font-size: 22px;
    margin: 5px 0;
  }
  .explore-tags-main .tags-btn {
    right: 15px;
  }
  .explore-tags-main .tags-btn .custom-btn {
    font-size: 18px;
  }
  .explore-tags-main .tags-head {
    width: 100%;
  }
  .explore-tags-main .tags-all {
    margin: 0;
  }
  .explore-tags-main .tags-all .tags {
    margin: 5px 0;
  }
  .explore-tags-preview-main .tags-head .tags {
    font-size: 22px;
  }
  .explore-tags-preview-main .tags-head {
    margin-bottom: 22px;
    margin-top: 15px;
    text-align: left;
  }
  .explore-tags-preview-main .image-caption {
    padding: 5px 5px;
  }
  .explore-tags-preview-main .image-caption span, .explore-tags-preview-main .image-caption a {
    font-size: 10px;
    margin-left: 10px;
    vertical-align: baseline;
    line-height: normal;
  }
  .explore-tags-preview-main .image-caption span i, .explore-tags-preview-main .image-caption a i {
    display: block;
  }
  .explore-tags-main .tags-btn .custom-btn:before {
    top: 3px;
  }
  .explore-tags-main .tags-btn .custom-btn {
    padding: 0px 20px 7px 0;
  }
  .load-more-bottom {
    text-align: left;
  }
  .load-more-bottom .custom-btn {
    padding: 10px 25px 10px 0;
    font-size: 18px;
  }
  .load-more-bottom .custom-btn:before {
    right: 0;
    bottom: 13px;
  }
  .explore-tags-main .tags-btn .custom-btn:hover {
    color: #ffffff;
    border-bottom-color: #ffffff;
  }
  .tags-head-back {
    position: relative;
    width: auto;
    top: 0;
  }
}
