/*footer*/
footer {
  background: #e5e3e3;
  position: relative;
  width: 100%;
  float: left;
  z-index: 10;
}

footer .f-title {
  font-size: 20px;
  color: #000000;
  margin: 0 0 15px;
}

footer .f-title a {
  color: #4f4f4f;
}

footer .f-title .icon-arrow-down {
  display: none;
}

footer a:hover {
  color: #000000;
}

footer .f-top, footer .f-middle, footer .f-bottom {
  width: 100%;
  float: left;
}

footer .f-middle .container-mdm {
  max-width: 85%;
}

.f-top {
  padding: 25px 0;
}

.f-top p {
  margin: 0 20px 2px;
  font-size: 15px;
  color: #000000;
}

.f-top .f-social-share {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.f-top .f-social-share a span {
  font-size: 25px;
}

.f-top .f-social-share a .icon-tw, .f-top .f-social-share a .icon-yt {
  font-size: 28px;
}

.f-top .f-social-share a:hover .icon-fb {
  color: #385699;
}

.f-top .f-social-share a:hover .icon-tw {
  color: #22cbff;
}

.f-top .f-social-share a:hover .icon-gp {
  color: #de4931;
}

.f-top .f-social-share a:hover .icon-ig {
  color: #32628a;
}

.f-top .f-social-right {
  text-align: right;
}

.f-top .f-social-right p {
  display: inline-block;
  vertical-align: middle;
}

.subscribe-box {
  width: 450px;
  overflow: hidden;
  position: relative;
}

.subscribe-box input {
  width: 100%;
  height: 100%;
  float: left;
  padding: 15px 28% 15px 20px;
  border: none;
  font-size: 15px;
  color: #000000;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  font-family: "montserrat-regular";
}

.subscribe-box .custom-btn-02 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 25px;
}

.subscribe-box .custom-btn-02:hover {
  background: #da291c;
}

.f-middle {
  display: inline-block;
  width: 100%;
  padding: 35px 0 30px;
  border-top: solid thin #bababa;
  border-bottom: solid thin #bababa;
}

.f-nav {
  width: 100%;
  display: inline-block;
}

.f-nav li {
  float: none;
  padding: 0 0px;
}

.f-nav li:first-child {
  padding-left: 0;
}

.f-nav li a {
  font-size: 13px;
  cursor: pointer;
  color: #000000;
  line-height: 30px;
}

.f-nav li a:hover {
  color: #da291c;
}

.f-nav li .icon-arrow-down {
  font-size: 10px;
  padding-left: 7px;
  color: #000000;
}

.f-nav li .icon-arrow-down:before {
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}

.f-nav li:hover a, .f-nav li:hover .icon-arrow-down {
  color: #da291c;
}

.f-has-children .f-nav-sub {
  margin: 0 10px 10px;
  display: none;
}

.f-has-children .f-nav-sub li a {
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.f-has-children.active a, .f-has-children.active .icon-arrow-down {
  color: #da291c;
}

.f-has-children.active .f-nav-sub li a {
  color: #000000;
}

.f-has-children.active .f-nav-sub li a:hover {
  color: #da291c;
}

.f-has-children.active .icon-arrow-down:before {
  -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #da291c;
}

.f-has-children.active .f-nav-sub {
  display: block;
}

.f-box {
  width: 14.28%;
  float: left;
}

.f-bottom {
  padding: 2px 0;
}

.f-bottom p {
  color: #000000;
  font-size: 10px;
  margin: 0px;
}

.f-bottom .custom-nav {
  float: right;
  width: auto;
}

.f-bottom .custom-nav li {
  padding: 4px 7px;
}

.f-bottom .custom-nav li a {
  font-size: 10px;
}

/*scroll to top*/
/*scroll to top*/
@media screen and (max-width: 1400px) {
  footer .container-mdm {
    width: 95%;
  }
  footer .f-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .f-box {
    width: 32%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .f-top .disp-tbl-cel:first-child {
    width: 100%;
    display: table-header-group;
  }
  .f-top .disp-tbl-cel:last-child {
    width: 100%;
    display: table-footer-group;
    text-align: left;
  }
  .f-top p {
    margin: 15px 0px 4px;
  }
  .f-top .f-social-right p {
    display: block;
    margin-bottom: 10px;
  }
  .subscribe-box {
    width: 100%;
  }
  .f-middle {
    padding: 10px 0 0;
    border: none;
  }
  .f-bottom {
    padding: 0px 0 20px;
  }
  .f-bottom .disp-tbl-cel {
    width: 100%;
    display: block;
  }
  .f-bottom .custom-nav {
    float: left;
  }
  .f-bottom .custom-nav li a {
    font-size: 10px;
  }
  footer .f-title {
    margin: 0;
  }
  footer .f-title .icon-arrow-down {
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    padding-right: 10px;
  }
  footer .f-title .icon-arrow-down:before {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: ease all 0.6s;
    -o-transition: ease all 0.6s;
    -moz-transition: ease all 0.6s;
    transition: ease all 0.6s;
  }
  .f-box {
    width: 100%;
  }
  .f-box .f-nav {
    display: none;
    margin: 10px 25px;
  }
  .f-box.active .f-nav {
    display: inline-block;
  }
  .f-box.active .f-title {
    color: #da291c;
  }
  .f-box.active .f-title .icon-arrow-down {
    color: #da291c;
  }
  .f-box.active .f-title .icon-arrow-down:before {
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  footer .f-middle .container-mdm {
    max-width: 100%;
  }
  .subscribe-box .custom-btn-02 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .f-bottom p {
    font-size: 12px;
  }
  .f-bottom .custom-nav li {
    padding: 2px 5px;
  }
  .f-bottom .custom-nav li:before {
    top: 4px;
    height: 5px;
  }
  .f-bottom .custom-nav li a {
    font-size: 8px;
  }
}
