/*Header style || Need for all the pages by default*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: 0.6s ease all;
  -o-transition: 0.6s ease all;
  -moz-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.header.sticky {
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
}

.follow-sticky-header {
  -webkit-transition: 0.6s ease all;
  -o-transition: 0.6s ease all;
  -moz-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.follow-sticky-header .carousel .slick-slide {
  padding: 20px 0;
}

.follow-sticky-header .carousel .slick-slide a {
  font-family: "guardiansans-semibold";
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  position: relative;
  padding: 0 25px;
  cursor: pointer;
  letter-spacing: 1px;
}

.follow-sticky-header .carousel .slick-slide a:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
  width: 2px;
  height: 10px;
}

.follow-sticky-header .carousel .slick-slide a:hover {
  color: #d1291c;
}

.follow-sticky-header .carousel .slick-slide:last-child a:before {
  display: none;
}

.follow-sticky-header .carousel .slick-slide:first-child a {
  padding-left: 0;
}

.follow-sticky-header .carousel .slick-slide.slick-current a {
  color: #d1291c;
}

.follow-sticky-header {
  background: #212121;
}

.follow-sticky-header.is-fixed {
  z-index: 99;
  -webkit-transition: 300ms all ease-in-out;
  -o-transition: 300ms all ease-in-out;
  -moz-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  top: 0;
}

.follow-sticky-header.is-fixed.sticky-fs {
  top: 79px !important;
}

.follow-sticky-header.is-fixed.sticky-fs .fsh-left {
  margin-left: -240px;
}

.follow-sticky-header.is-fixed .fsh-left {
  margin-left: -0px;
}

.fsh-left {
  float: left;
  width: auto;
  margin-top: 15px;
  margin-left: -240px;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.fsh-left .fsh-head {
  padding: 0 30px 0 0;
  color: #ffffff;
  font-family: "guardiansans-semibold";
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.fsh-left img {
  width: 175px;
  vertical-align: middle;
  margin-right: 25px;
  display: inline-block;
}

.fsh-right {
  float: left;
  width: auto;
}

.h-section {
  width: 100%;
}

.fsh-right .custom-nav li {
  padding: 0 25px;
}

.fsh-right .custom-nav li a {
  color: #ffffff;
  padding: 19px 0;
  letter-spacing: 1px;
}

.fsh-right .custom-nav li a:hover {
  color: #da291c;
}

.fsh-right .custom-nav li:before {
  width: 2px;
  background: #ffffff;
}

.fsh-right .custom-nav li:first-child {
  padding-left: 0;
}

.follow-sticky-header .nav-book-ride {
  width: auto;
  float: right;
}

.follow-sticky-header .nav-book-ride a {
  color: #ffffff;
  padding-left: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 16px;
  text-transform: none;
  border-color: transparent;
  background: transparent;
}

.follow-sticky-header .nav-book-ride a:hover {
  color: #da291c;
  background: transparent;
}

@media screen and (max-width: 1250px) {
  .fsh-left {
    margin-left: -225px;
  }
  .fsh-right .custom-nav li {
    padding: 0 15px;
  }
  .fsh-right .custom-nav li a {
    font-size: 14px;
  }
  .follow-sticky-header .nav-book-ride a {
    font-size: 13px;
  }
  .follow-sticky-header.is-fixed.sticky-fs {
    top: 62px !important;
  }
}

@media screen and (max-width: 1090px) {
  .fsh-left {
    margin-left: 0;
  }
  .fsh-left .fsh-re {
    display: none;
  }
  .follow-sticky-header.is-fixed.sticky-fs .fsh-left {
    margin-left: 0;
  }
  .header {
    width: 100%;
    -webkit-transition: 150ms all ease-in-out;
    -o-transition: 150ms all ease-in-out;
    -moz-transition: 150ms all ease-in-out;
    transition: 150ms all ease-in-out;
  }
}

@media screen and (max-width: 1024px) {
  .follow-sticky-header .carousel .slick-slide a {
    padding: 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .header, .header.sticky {
    -webkit-transform: initial;
       -moz-transform: initial;
        -ms-transform: initial;
         -o-transform: initial;
            transform: initial;
    top: 0px;
  }
  .header.sticky {
    top: -50px;
  }
  .follow-sticky-header .carousel .slick-slide a:before {
    display: none;
  }
  .fsh-right .custom-nav li:before {
    display: none;
  }
  .fsh-right .custom-nav li a {
    padding: 10px 0;
    letter-spacing: 0.6px;
  }
  .fsh-left {
    margin: 0;
  }
  .fsh-left img {
    width: 75px;
    margin-right: 15px;
  }
  .fsh-left .fsh-head {
    padding: 0 10px 0 0;
    font-size: 22px;
  }
  .fsh-left .fsh-re {
    display: none;
  }
  .follow-sticky-header.is-fixed .fsh-left, .follow-sticky-header.is-fixed.sticky-fs .fsh-left {
    margin-left: 0;
  }
  .follow-sticky-header .carousel .slick-slide {
    padding: 15px 0;
  }
  .follow-sticky-header .carousel .slick-slide.slick-current.slick-active {
    position: relative;
  }
  .follow-sticky-header .carousel .slick-slide.slick-current.slick-active:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 1px;
    background: #da291c;
  }
  .follow-sticky-header .carousel .slick-slide.slick-current.slick-active a {
    color: #da291c;
  }
  .follow-sticky-header .carousel .slick-slide a:hover {
    color: #ffffff;
  }
  .nav-book-ride {
    display: none;
  }
  .follow-sticky-header .carousel .slick-slide a {
    font-size: 16px;
  }
  .follow-sticky-header .container-cus {
    padding-right: 0;
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
  }
  .fsh-left, .fsh-right {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .fsh-right {
    width: 100%;
  }
  .fsh-left {
    margin-top: 0px;
  }
  .follow-sticky-header.is-fixed.sticky-fs {
    top: 50px !important;
  }
  .secondary-sticky-header .fsh-left {
    max-width: initial;
  }
  .secondary-sticky-header .fsh-left {
    margin-top: 8px;
  }
  .secondary-sticky-header .fsh-right {
    width: auto;
    float: right;
    padding-right: 15px;
  }
  .secondary-sticky-header .fsh-right .nav-sticky-subpage {
    float: left;
    width: 100%;
    position: fixed;
    z-index: 99;
    background: #000000;
    top: 92px;
    left: 0;
    -webkit-transition: ease all 0.6s;
    -o-transition: ease all 0.6s;
    -moz-transition: ease all 0.6s;
    transition: ease all 0.6s;
    opacity: 0;
    visibility: hidden;
  }
  .secondary-sticky-header .fsh-right .nav-sticky-subpage.ns-sub-active {
    opacity: 1;
    visibility: visible;
  }
  .secondary-sticky-header .fsh-right .custom-nav li {
    float: left;
    width: 100%;
    padding: 0;
  }
  .secondary-sticky-header .fsh-right .custom-nav li a {
    width: 100%;
    display: inline-block;
    padding: 30px 15px;
    font-size: 13px;
    color: #ffffff;
    border-bottom: solid thin #212121;
  }
  .secondary-sticky-header .fsh-right .custom-nav li a.active {
    color: #da291c;
  }
  .secondary-sticky-header .custom-nav-trigger {
    color: #ffffff;
    font-size: 12px;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
    cursor: pointer;
    padding: 14px 10px;
  }
  .secondary-sticky-header .custom-nav-trigger.c-nav-tr-act {
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .secondary-sticky-header.is-fixed .nav-sticky-subpage {
    top: 42px;
  }
  .secondary-sticky-header.sticky-fs .nav-sticky-subpage {
    top: 92px;
  }
  .secondary-sticky-header .follow-sticky-header.is-fixed.sticky-fs {
    top: 50px !important;
  }
  .secondary-sticky-header .fsh-left .fsh-head {
    font-size: 22px;
  }
  .follow-sticky-header .carousel .slick-slide a {
    font-size: 14px;
    padding: 0;
    margin: 0 15px;
    letter-spacing: 0.6px;
  }
}
