.latest-news-box {
  position: relative;
}

.latest-news-box .latest-news-img {
  position: relative;
  z-index: 0;
  font-size: 0;
}

.latest-news-box .latest-news-txt {
  width: auto;
  height: auto;
  top: auto;
  left: 30px;
  bottom: 20px;
}

.latest-news-box .latest-news-txt h2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
}

.latest-news-box .latest-news-txt .custom-btn {
  padding: 5px 30px 5px 20px;
  font-size: 12px;
}

.latest-news-box .latest-news-txt .custom-btn:before {
  font-size: 10px;
}

.latest-news-box img {
  width: 100%;
}

.carousel-latest-news .slick-slide, .carousel-grid-four .slick-slide {
  position: relative;
}

.carousel-latest-news .slick-dots, .carousel-grid-four .slick-dots {
  background: #000000;
  position: relative;
  bottom: 0;
  padding: 5px 0 10px;
}

.carousel-latest-news .slick-dots li button, .carousel-grid-four .slick-dots li button {
  width: 10px;
  height: 10px;
}

.carousel-latest-news .slick-dots li.slick-active button, .carousel-grid-four .slick-dots li.slick-active button {
  background: #ffffff;
}

@media screen and (max-width: 1400px) {
  .latest-news-box .latest-news-txt h2 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 1250px) {
  .latest-news-box .latest-news-txt .custom-btn {
    padding: 7px 30px 7px 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .latest-news-main {
    background: #000000;
  }
  .latest-news-box .latest-news-txt {
    left: 0;
    bottom: 0;
    position: relative;
    padding: 10px 15px;
  }
  .latest-news-box .latest-news-txt a {
    display: none;
  }
  .latest-news-box .latest-news-txt h2 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .latest-news-box .latest-news-txt h2 br {
    display: none;
  }
}
