/*main banner for all the pages*/
.re-banner {
  position: relative;
  width: 100%;
}

.banner-inner-img {
  position: relative;
  z-index: 0;
  line-height: 0;
}

.banner-inner-img img {
  width: 100%;
}

.banner-inner-txt.bg-gradient-lt {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
}

.banner-inner-txt.bg-gradient-rt {
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.25)));
  background: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -moz-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -o-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
  background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.25) 100%);
}

.banner-inner-txt.bg-gradient-bt {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
}

.banner-inner-txt .txt-box {
  width: 350px;
  position: relative;
  z-index: 2;
  margin-left: 4%;
}

.banner-inner-txt .txt-box p {
  color: #ffffff;
  font-size: 14px;
  margin: 0px 0 20px;
}

.banner-inner-txt .txt-box .logo-re {
  width: 150px;
}

.banner-inner-txt .txt-box .logo-him {
  width: 250px;
  margin: 10px 0;
}

.banner-inner-txt .txt-box h3 {
  color: #ffffff;
  margin-bottom: 15px;
}

.banner-inner-txt .txt-box .re-title {
  margin-bottom: 15px;
}

.banner-inner-txt .txt-box .re-title p {
  margin-top: 15px;
}

.banner-inner-txt .txt-box.align-rt {
  float: right;
  margin-left: 0%;
  margin-right: 4%;
}

.banner-inner-txt .txt-box-mdm {
  width: 685px;
}

.banner-inner-txt .txt-black .re-title, .banner-inner-txt .txt-black p {
  color: #000000;
}

.re-banner-caption {
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(98%, transparent), to(rgba(0, 0, 0, 0.74)));
  background: -webkit-linear-gradient(top, transparent 0%, transparent 98%, rgba(0, 0, 0, 0.74) 100%);
  background: -moz-linear-gradient(top, transparent 0%, transparent 98%, rgba(0, 0, 0, 0.74) 100%);
  background: -o-linear-gradient(top, transparent 0%, transparent 98%, rgba(0, 0, 0, 0.74) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 98%, rgba(0, 0, 0, 0.74) 100%);
}

.re-banner-caption p {
  color: #ffffff;
  font-size: 12px;
}

@media screen and (max-width: 900px) {
  .banner-inner-txt .txt-box {
    margin-left: 0;
  }
  .banner-inner-txt .txt-box.align-rt {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .txt-align-btm-mobi .banner-inner-txt .disp-tbl-cel {
    height: 100%;
    display: block;
  }
  .txt-align-btm-mobi .banner-inner-txt .container-std, .txt-align-btm-mobi .banner-inner-txt .txt-box {
    width: 100% !important;
    height: 100%;
    text-align: left;
    padding: 0;
    position: absolute;
  }
  .txt-align-btm-mobi .banner-inner-txt .container-std .re-title, .txt-align-btm-mobi .banner-inner-txt .txt-box .re-title {
    position: absolute;
    bottom: 5px;
    left: 15px;
    width: 80%;
  }
  .txt-align-btm-mobi .banner-inner-txt .container-std .re-title p, .txt-align-btm-mobi .banner-inner-txt .txt-box .re-title p {
    display: block;
  }
  .txt-align-btm-mobi .banner-inner-txt .container-std .icon-arrow-down, .txt-align-btm-mobi .banner-inner-txt .txt-box .icon-arrow-down {
    font-size: 10px;
    display: inline-block !important;
    width: auto;
    padding-left: 5px;
  }
  .txt-align-btm-mobi .banner-inner-txt .container-std .icon-arrow-down:before, .txt-align-btm-mobi .banner-inner-txt .txt-box .icon-arrow-down:before {
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .txt-align-btm-mobi .banner-inner-txt .container-std .custom-btn, .txt-align-btm-mobi .banner-inner-txt .txt-box .custom-btn {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    text-indent: -999px;
    z-index: 1;
  }
  .txt-align-btm-mobi .banner-inner-txt .container-std p, .txt-align-btm-mobi .banner-inner-txt .txt-box p {
    display: none;
  }
  .txt-align-btm-mobi .banner-inner-txt .container-std img, .txt-align-btm-mobi .banner-inner-txt .txt-box img {
    width: auto;
    padding: 15px;
    max-width: 150px;
  }
  .txt-align-btm-mobi-black-strip {
    background: #000000;
    display: block;
  }
  .txt-align-btm-mobi-black-strip .disp-tbl-cel {
    display: block;
    width: 100%;
  }
  .txt-align-btm-mobi-black-strip .banner-inner-img {
    position: relative;
  }
  .txt-align-btm-mobi-black-strip .banner-inner-txt {
    position: relative;
    background: #000000;
    height: auto;
  }
  .txt-align-btm-mobi-black-strip .banner-inner-txt .container-cus {
    padding: 0;
  }
  .txt-align-btm-mobi-black-strip .banner-inner-txt .txt-box {
    width: 100% !important;
    padding: 0 15px !important;
  }
  .txt-align-btm-mobi-black-strip .banner-inner-txt .txt-box .re-title {
    font-size: 22px;
    line-height: 22px;
    margin: 15px 0 20px;
  }
  .banner-inner-txt .txt-box {
    padding-bottom: 15px;
  }
  .banner-inner-txt .txt-box .logo-re {
    width: 80px;
  }
  .banner-inner-txt .txt-box .logo-him {
    width: 120px;
    margin: 5px 0;
  }
  .banner-inner-txt .txt-box.align-rt {
    float: none;
  }
  .banner-inner-txt .txt-box {
    width: 90%;
  }
  .banner-inner-txt .txt-box p {
    font-size: 12px;
    line-height: 16px;
  }
}
