/*view-all-features*/
.features-all-main .view-all-features {
  padding-bottom: 30px;
}

.features-all-main .view-all-features .custom-btn {
  padding-left: 0;
  padding-right: 20px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom-width: 2px;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

.features-all-main .view-all-features .custom-btn:before {
  right: 0;
  content: "\0043";
  -webkit-animation: initial;
     -moz-animation: initial;
       -o-animation: initial;
          animation: initial;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

.features-all-main .view-all-features .view-less-feature-btn:before {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.features-all-main .view-all-features .view-all-feature-btn .f-txt-show {
  display: inline-block;
}

.features-all-main .view-all-features .view-all-feature-btn .f-txt-hide {
  display: none;
}

.features-all-main .view-all-features .view-all-feature-btn.f-open .f-txt-show {
  display: none;
}

.features-all-main .view-all-features .view-all-feature-btn.f-open .f-txt-hide {
  display: inline-block;
}

.features-all-main .feature-container-hide {
  display: none;
}

.re-video-wrap .banner-inner-img {
  position: static;
}

.re-video-wrap .video-play-overlay {
  background: transparent;
}

.motorcycle-slider .re-banner .banner-inner-txt .txt-box {
  text-align: center;
}

.motorcycle-slider .slick-slide .banner-inner-txt img {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .features-all-main .feature-container-hide {
    display: block !important;
  }
  .features-all-main .view-all-feature-btn {
    display: none;
  }
  .features-all-main .view-less-feature-btn {
    display: none;
  }
  .re-video-wrap {
    background: #000000;
    display: block;
  }
  .re-video-wrap .disp-tbl-cel {
    display: block;
    width: 100%;
  }
  .re-video-wrap .banner-inner-img {
    position: relative;
  }
  .re-video-wrap .banner-inner-txt {
    position: relative;
    background: #000000;
    height: auto;
  }
  .re-video-wrap .banner-inner-txt .container-cus {
    padding: 0;
  }
  .re-video-wrap .banner-inner-txt .txt-box {
    width: 100% !important;
    padding: 0 15px !important;
  }
  .re-video-wrap .banner-inner-txt .txt-box .re-title {
    font-size: 22px;
    line-height: 22px;
    margin: 15px 0 10px;
  }
  .motorcycle-slider .re-banner .banner-inner-txt .txt-box {
    text-align: left;
  }
  .motorcycle-slider .slick-slide .banner-inner-txt img {
    display: block;
  }
}
