/*main nav*/
.nav-main {
  position: relative;
}

.nav {
  width: 100%;
  float: left;
  text-align: right;
  position: relative;
  background: #0a0a0a;
}

.nav .container-cus {
  position: static;
}

.nav-primary {
  float: right;
  width: auto;
}

.nav-primary > li {
  display: inline-block;
  vertical-align: middle;
}

.nav-primary > li .icon-arrow-down:before {
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: -o-transform 0.6s ease;
  -moz-transition: transform 0.6s ease, -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease, -moz-transform 0.6s ease, -o-transform 0.6s ease;
}

.nav-primary > li.active > a {
  color: #da291c;
}

.nav-primary > li.active > a > span:before {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-primary > li.active > a svg path {
  fill: #da291c;
}

.nav-primary > li svg path {
  fill: #ffffff;
}

.nav-primary > li:hover > a {
  color: #da291c;
}

.nav-primary > li:hover > a svg path {
  fill: #da291c;
}

.nav-primary > li > a {
  color: #ffffff;
  font-family: "guardiansans-medium";
  font-size: 16px;
  text-transform: capitalize;
  display: inline-block;
  padding: 26px 25px;
  letter-spacing: 1px;
  cursor: pointer;
}

header .icon-arrow-down {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
}

header .icon-search {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 2px;
  cursor: pointer;
  cursor: pointer;
}

.nav-secondary {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 80px;
  background: #c3c3c3;
  height: 95vh;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(-15px);
     -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
       -o-transform: translateY(-15px);
          transform: translateY(-15px);
}

.nav-secondary > li {
  width: 100%;
  height: auto;
  float: left;
  text-align: left;
  border-bottom: 1px solid #c3c3c3;
}

.nav-secondary > li > a {
  color: #000000;
  font-family: "montserrat-regular";
  font-size: 15px;
  text-transform: capitalize;
  display: inline-block;
  padding: 20px 25px;
  width: 20%;
  background: #ffffff;
  -webkit-transition: ease all 0.6s;
  -o-transition: ease all 0.6s;
  -moz-transition: ease all 0.6s;
  transition: ease all 0.6s;
}

.nav-secondary > li > a:hover {
  color: #000000;
  background: #e1e1e1;
}

.nav-secondary .has-children {
  background: #c3c3c3;
}

.nav-ful-wid .nav-children {
  width: 100%;
  left: 0;
}

.nav-secondary.nav-dropdown {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.nav-secondary.nav-dropdown .has-sub-children > a {
  background: #c3c3c3;
  font-size: 14px;
}

.nav-children {
  position: absolute;
  width: 80%;
  left: 20%;
  top: 0;
  z-index: 1;
  display: none;
  background: #ffffff;
  height: 100%;
}

.nav-children.active {
  display: block;
}

.nav-children li {
  border: none;
}

.nav-grid-two li, .nav-grid-three li {
  width: 33.3333333%;
  float: left;
  border-left: none;
  border-top: none;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.nav-grid-two li {
  width: 50%;
}

.nav-product-box {
  position: relative;
}

.nav-product-box .nav-product-bottom {
  text-align: center;
  top: auto;
  height: auto;
  background: #212121;
  -webkit-transform: translateY(65px);
     -moz-transform: translateY(65px);
      -ms-transform: translateY(65px);
       -o-transform: translateY(65px);
          transform: translateY(65px);
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.nav-product-box .nav-product-bottom .nav-product-txt {
  padding: 20px 15px;
}

.nav-product-box .nav-product-bottom .nav-product-txt h3 {
  font-size: 18px;
  color: #ffffff;
}

.nav-product-box .nav-product-bottom .nav-product-txt p {
  font-size: 13px;
  color: #ffffff;
  margin: 5px 0 20px;
}

.nav-product-box .nav-product-bottom .nav-product-txt .custom-btn {
  color: #ffffff;
}

.nav-product-box .nav-product-bottom .nav-product-txt .custom-btn:hover {
  color: #000000;
}

.nav-product-box:hover .nav-product-bottom {
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.nav-product-box .custom-btn {
  padding: 10px 30px;
}

.nav-product-box {
  overflow: hidden;
  line-height: 0;
}

.nav-product-box img {
  -webkit-transition: all ease 5s;
  -o-transition: all ease 5s;
  -moz-transition: all ease 5s;
  transition: all ease 5s;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.nav-product-box:hover img {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}

.logo {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  width: 200px;
  z-index: 5;
  display: inline-block;
}

.search-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: #0a0a0a;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  transition: all ease 0.6s;
  opacity: 0;
}

.search-bar.active {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.search-bar .input-field {
  height: 100%;
  width: 80%;
  font-size: 18px;
  background: none;
  border-color: transparent;
  color: #ffffff;
}

.search-bar .input-field:focus {
  border-color: transparent;
}

.nav-search {
  position: relative;
  z-index: 7;
}

.nav-search .icon-search {
  display: inline-block;
}

.nav-search .search-close {
  display: none;
  cursor: pointer;
}

.nav-search .search-close img {
  width: 24px;
  height: 24px;
}

.nav-search.ns-icon .icon-search {
  display: none;
}

.nav-search.ns-icon .search-close {
  display: inline-block;
}

.nav-secondary .nav-product-box {
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transition: all 400ms linear;
  -webkit-transform: translate3d(-12px, 0px, 0px);
     -moz-transform: translate3d(-12px, 0px, 0px);
          transform: translate3d(-12px, 0px, 0px);
}

.nav-secondary.nav-dropdown .nav-product-box {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.nav-secondary.nav-dropdown li .nav-product-box {
  -webkit-transition-delay: 0.1s;
     -moz-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-secondary.nav-dropdown li:nth-child(1) .nav-product-box {
  -webkit-transition-delay: 0.1s;
     -moz-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-secondary.nav-dropdown li:nth-child(2) .nav-product-box {
  -webkit-transition-delay: 0.3s;
     -moz-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-secondary.nav-dropdown li:nth-child(3) .nav-product-box {
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.nav-secondary.nav-dropdown li:nth-child(4) .nav-product-box {
  -webkit-transition-delay: 0.7s;
     -moz-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.nav-secondary.nav-dropdown li:nth-child(5) .nav-product-box {
  -webkit-transition-delay: 0.9s;
     -moz-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.nav-secondary.nav-dropdown li:nth-child(6) .nav-product-box {
  -webkit-transition-delay: 1.1s;
     -moz-transition-delay: 1.1s;
       -o-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

body.body-scroll-stop {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: none;
     -moz-border-radius: none;
          border-radius: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;
  float: right;
  display: none;
}

.nav-hamburger span {
  display: block;
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: #ffffff;
  -webkit-transition: background 0s .3s;
  -o-transition: background 0s .3s;
  -moz-transition: background 0s .3s;
  transition: background 0s .3s;
}

.nav-hamburger span::after, .nav-hamburger span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
  -webkit-transition-duration: .3s, .3s;
     -moz-transition-duration: .3s, .3s;
       -o-transition-duration: .3s, .3s;
          transition-duration: .3s, .3s;
  -webkit-transition-delay: .3s, 0s;
     -moz-transition-delay: .3s, 0s;
       -o-transition-delay: .3s, 0s;
          transition-delay: .3s, 0s;
}

.nav-hamburger span::before {
  top: -8px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, -o-transform;
  -moz-transition-property: top, transform, -moz-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform, -moz-transform, -o-transform;
}

.nav-hamburger span::after {
  bottom: -8px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  -o-transition-property: bottom, -o-transform;
  -moz-transition-property: bottom, transform, -moz-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform, -moz-transform, -o-transform;
}

.nav-hamburger.is-active span {
  background: 0 0;
}

.nav-hamburger.is-active span::after, .nav-hamburger.is-active span::before {
  -webkit-transition-delay: 0s, .3s;
     -moz-transition-delay: 0s, .3s;
       -o-transition-delay: 0s, .3s;
          transition-delay: 0s, .3s;
}

.nav-hamburger.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
       transform: rotate(45deg);
}

.nav-hamburger.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
       transform: rotate(-45deg);
}

.nav-login {
  margin-left: 60px;
}

.nav-login a {
  color: #da291c !important;
}

.nav-login a .icon-arrow-down {
  color: #ffffff;
}

.nav-primary .nav-login a, .nav-primary .nav-search a, .nav-primary .nav-globe a {
  padding: 26px 15px;
}

.nav-primary .nav-globe a {
  padding-right: 0 !important;
}

.icon-globe {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.icon-globe svg {
  width: 100%;
  height: 100%;
}

.nav-primary li .nav-product-box a {
  padding: 0;
}

/*nav-head-mobi*/
.nav-primary .nav-head-mobi {
  display: none;
}

.nav-head-mobi {
  text-align: center;
  background: #121212;
}

.nav-head-mobi .disp-tbl .disp-tbl-cel:first-child {
  border-right: solid thin #4b4b4b;
}

.nav-head-mobi .disp-tbl-cel {
  width: 50%;
  -webkit-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.nav-head-mobi .mobi-search-box {
  display: inline-block;
}

.nav-head-mobi .mobi-top-story a {
  padding: 25px;
  display: inline-block;
  color: #bbbdbf;
  height: 68px;
}

.nav-head-mobi .mobi-search {
  position: relative;
}

.nav-head-mobi .icon-search, .nav-head-mobi .icon-close {
  position: absolute;
  left: 35px;
  right: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #bbbdbf;
  font-size: 18px;
  background: none;
  outline: none;
  border: none;
  width: 28px;
  height: 22px;
}

.nav-head-mobi .icon-close {
  left: auto;
  right: 15px;
  font-size: 12px;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: ease all 0.6s;
  -o-transition: ease all 0.6s;
  -moz-transition: ease all 0.6s;
  transition: ease all 0.6s;
}

.nav-head-mobi .input-field {
  background: none;
  border: none;
  padding-left: 30px;
  color: #bbbdbf;
  padding: 25px 25px;
  position: relative;
  font-size: 18px;
  font-family: "guardiansans-regular";
  width: 100px;
}

.nav-head-mobi .input-field::-webkit-input-placeholder {
  color: #bbbdbf;
}

.nav-head-mobi .input-field:-moz-placeholder {
  color: #bbbdbf;
}

.nav-head-mobi .input-field::-moz-placeholder {
  color: #bbbdbf;
}

.nav-head-mobi .input-field:-ms-input-placeholder {
  color: #bbbdbf;
}

.nav-head-mobi.focused .mobi-top-story {
  width: 20%;
}

.nav-head-mobi.focused .mobi-top-story span {
  display: none;
}

.nav-head-mobi.focused .mobi-search {
  width: 80%;
}

.nav-head-mobi.focused .icon-search {
  left: 20px;
  right: auto;
  color: #ffffff;
}

.nav-head-mobi.focused .icon-close {
  opacity: 1;
  visibility: visible;
}

.nav-head-mobi.focused .input-field {
  width: 100%;
  color: #ffffff;
}

.nav-head-mobi.focused .input-field::-webkit-input-placeholder {
  color: #ffffff;
}

.nav-head-mobi.focused .input-field:-moz-placeholder {
  color: #ffffff;
}

.nav-head-mobi.focused .input-field::-moz-placeholder {
  color: #ffffff;
}

.nav-head-mobi.focused .input-field:-ms-input-placeholder {
  color: #ffffff;
}

.login-mobi {
  display: none;
  position: absolute;
  top: 0;
  right: 65px;
  font-size: 16px;
  color: #9b9c9d;
  line-height: 50px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.login-mobi.active {
  visibility: visible;
  opacity: 1;
}

.login-mobi .icon-arrow-down {
  color: #9b9c9d;
  padding-left: 5px;
  position: relative;
  vertical-align: top;
  left: 0;
  top: 3px;
}

.nav-product-box .np-overlay {
  background: rgba(0, 0, 0, 0.73);
  z-index: 0;
}

.nav-product-box .np-overlay span {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 85px;
  left: 0;
  right: 0;
  margin: auto;
  height: 85px;
  font-size: 85px;
  color: #ffffff;
  text-align: center;
}

.nav-product-box .nav-product-bottom .nav-product-txt h3 {
  font-family: "guardiansans-medium";
}

@media screen and (max-width: 1680px) {
  .nav-primary > li > a {
    padding: 26px 15px;
  }
  .nav-primary .nav-login a, .nav-primary .nav-search a, .nav-primary .nav-globe a {
    padding: 26px 10px;
  }
}

@media screen and (max-width: 1600px) {
  .nav-login {
    margin-left: 25px;
  }
  .nav-primary > li > a {
    font-size: 16px;
  }
  .nav-product-box .np-overlay .support-icons {
    top: 18%;
  }
  .nav-product-box .np-overlay .support-icons img {
    max-height: 60px;
  }
  .nav-grid-three li:nth-of-type(3) .nav-product-box .np-overlay .support-icons img {
    max-height: 40px;
  }
}

@media screen and (max-width: 1500px) {
  .nav-primary > li > a {
    padding: 26px 10px;
  }
  .nav-primary .nav-login a, .nav-primary .nav-search a, .nav-primary .nav-globe a {
    padding: 26px 7px;
  }
  .nav-login {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1350px) {
  .nav-primary > li > a {
    padding: 26px 8px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1250px) {
  .nav-primary > li > a, .nav-primary .nav-login a, .nav-primary .nav-search a, .nav-primary .nav-globe a {
    padding: 21px 5px;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  header .icon-arrow-down {
    margin-left: 3px;
    font-size: 11px;
  }
  .nav-login {
    margin-left: 10px;
  }
  .nav-children {
    width: 75%;
    left: 25%;
  }
  .nav-product-box .custom-btn {
    padding: 8px 20px;
    font-size: 13px;
  }
  .nav-product-box .nav-product-bottom {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    background: rgba(33, 33, 33, 0.85);
  }
  .nav-product-box .nav-product-bottom h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .nav-product-box .nav-product-bottom p {
    font-size: 12px;
    line-height: normal;
    display: none;
  }
  .nav-product-box .nav-product-bottom .nav-product-txt {
    padding: 10px 15px;
  }
  .nav-secondary {
    top: 62px;
  }
  .nav-secondary > li > a {
    width: 25%;
  }
  header .icon-search {
    font-size: 18px;
  }
  header .icon-globe {
    font-size: 17px;
  }
  .nav-product-box .np-overlay span {
    bottom: 65px;
    font-size: 65px;
  }
}

@media screen and (max-width: 900px) {
  .nav-grid-three li {
    width: 50%;
  }
  .nav-secondary {
    top: 62px;
  }
  .nav-product-box .nav-product-bottom .nav-product-txt h3 {
    font-size: 18px;
  }
  .motorcycle-models .nav-grid-two li, .motorcycle-models .nav-grid-three li {
    width: 50%;
  }
  .motorcycle-models .nav-product-box .nav-product-bottom .nav-product-txt h3 {
    font-size: 18px;
  }
  .nav-product-box .np-overlay span {
    bottom: 45px;
    font-size: 45px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .logo {
    width: 125px;
  }
  .nav-primary > li > a, .nav-login a, .nav-search a, .nav-globe a {
    padding: 22px 2px;
    font-size: 10px;
  }
  .nav-login {
    margin-left: 0px;
  }
  .icon-search, .icon-globe {
    font-size: 14px;
  }
  header .icon-arrow-down {
    margin-left: 3px;
    font-size: 8px;
  }
  header .icon-search, header .icon-globe {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .nav-top {
    display: none;
  }
  .nav {
    text-align: left;
    height: 50px;
  }
  .logo {
    width: 150px;
    position: relative;
    left: 0;
    top: 15px;
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  .nav-primary {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    right: 0;
    background: #212121;
    overflow-y: scroll;
    z-index: 999;
    padding-bottom: 95px;
  }
  .nav-primary > li {
    width: 100%;
  }
  .nav-primary > li > a {
    width: 100%;
    font-size: 20px;
    padding: 20px 50px;
    position: relative;
    font-family: "guardiansans-regular";
  }
  .nav-children {
    width: 100%;
    left: 0;
    position: relative;
  }
  .nav-secondary {
    position: relative;
    top: 0;
    background: none;
    height: auto;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    display: none;
  }
  .nav-secondary > li {
    display: none;
    border-bottom: none;
  }
  .nav-secondary > li.has-sub-children {
    display: block;
  }
  .nav-secondary > li.has-sub-children > a {
    display: none;
  }
  .nav-secondary > li.has-sub-children .nav-children li {
    display: block;
  }
  .nav-secondary.nav-dropdown {
    display: block;
  }
  .nav-secondary .nav-product-box img, .nav-secondary .nav-product-box .custom-btn {
    display: none;
  }
  .nav-secondary .nav-product-box .nav-product-bottom {
    background: #212121;
    position: relative;
    text-align: left;
  }
  .nav-secondary .nav-product-box .nav-product-bottom .nav-product-txt {
    padding: 8px 25px;
  }
  .nav-secondary .nav-product-box .nav-product-bottom .nav-product-txt h3 {
    font-size: 16px;
    font-family: "guardiansans-regular";
    letter-spacing: 1px;
    margin-left: 25px;
  }
  .nav-hamburger {
    display: block;
  }
  .nav-primary .nav-login, .nav-primary .nav-search, .nav-primary .nav-globe {
    margin-left: 0;
    display: inline-block;
    float: none;
    width: auto;
  }
  .nav-primary .nav-login, .nav-primary .nav-search, .nav-primary .nav-globe {
    display: none;
  }
  .nav-primary .nav-head-mobi {
    display: block;
  }
  .search-bar {
    z-index: 9;
  }
  .search-bar .input-field {
    font-size: 16px;
  }
  .nav-grid-three li {
    width: 100%;
  }
  header .icon-arrow-down {
    margin-left: 0;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 18px;
    color: #bbbdbf;
  }
  .nav-grid-two li, .nav-grid-three li {
    width: 100%;
  }
  .login-mobi {
    display: block;
  }
  .nav-primary li .nav-product-box a {
    padding: 0;
    display: inline-block;
    width: 100%;
  }
  .motorcycle-models .nav-grid-two li, .motorcycle-models .nav-grid-three li {
    width: 100%;
  }
  .search-bar {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .nav-head-mobi .icon-search {
    left: 15px;
  }
  .nav-head-mobi.focused .icon-search {
    left: 0px;
  }
  .nav-head-mobi .mobi-top-story a {
    padding: 25px 15px;
  }
  .nav-head-mobi.focused .mobi-top-story {
    width: 15%;
  }
  .nav-head-mobi .input-field {
    font-size: 16px;
  }
}
