/*now trending*/
.quick-links-box {
  width: 340px;
  position: fixed;
  top: 40%;
  right: -340px;
  background: rgba(74, 73, 74, 0.8);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
  z-index: 10;
}

.quick-links-box.open {
  right: 0px;
}

.quick-links-box .quick-links ul {
  margin: 0;
  list-style-type: none;
}

.quick-links-box .quick-links ul li {
  width: 100%;
}

.quick-links-box .quick-links ul li a {
  width: 100%;
  display: inline-block;
  padding: 23px 35px 23px 25px;
  font-family: "guardiansans-medium";
  font-size: 16px;
  text-transform: none;
  color: #ffffff;
  border-bottom: solid thin #444444;
  letter-spacing: 2px;
  font-weight: normal;
  background: rgba(10, 10, 10, 0.6);
  -webkit-transition: ease all 0.5s;
  -o-transition: ease all 0.5s;
  -moz-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.quick-links-box .quick-links ul li a:hover {
  background: rgba(10, 10, 10, 0.8);
}

.quick-links-box .quick-links ul li a span {
  width: 9px;
  height: 13px;
  display: inline-block;
  background: url(../images/arw_head.png) center center no-repeat;
  -moz-background-size: 100%;
       background-size: 100%;
  position: relative;
  top: 3px;
  margin-left: 7px;
  float: right;
}

.quick-links-box .quick-links ul li:last-child a {
  border-bottom: none;
  font-family: "guardiansans-regular";
  font-size: 15px;
}

.quick-links-box .btn-custom {
  width: 100%;
}

.quick-links-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  left: -50px;
  padding: 45px 14px 45px 13px;
  background: rgba(10, 10, 10, 0.85);
  text-transform: none;
}

.quick-links-btn .custom-btn {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
     -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
       -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
          transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  padding: 0 15px 0 0px;
  width: 155px;
  color: #da291c !important;
  font-family: "guardiansans-semibold";
  font-size: 16px;
  letter-spacing: 1px;
}

.quick-links-btn .custom-btn:hover {
  background: none;
}

.quick-links-btn .custom-btn:before {
  right: 3px;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  background: none;
  color: #ffffff !important;
  -webkit-animation: initial !important;
     -moz-animation: initial !important;
       -o-animation: initial !important;
          animation: initial !important;
}

/*end of top-story-box*/
@media screen and (max-width: 1250px) {
  .quick-links-box {
    top: 21%;
  }
}

@media screen and (max-width: 900px) {
  .quick-links-box {
    width: 175px;
    top: 41%;
    right: -175px;
  }
  .quick-links-box .quick-links ul li a {
    padding: 13px 15px 13px 15px;
    font-size: 12px;
    letter-spacing: 1.5px;
  }
  .quick-links-box .quick-links ul li:last-child a {
    border-bottom: none;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
  .quick-links-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    left: -40px;
  }
  .quick-links-btn .custom-btn {
    letter-spacing: 1.5px;
    font-size: 12px;
  }
  .quick-links-btn .custom-btn:before, .quick-links-btn .custom-btn:hover:before {
    right: 15px;
    font-size: 10px;
  }
  .quick-links-box {
    top: 15%;
  }
}

@media screen and (max-width: 767px) {
  .quick-links-box {
    top: 40%;
  }
  .quick-links-btn .custom-btn:hover, .quick-links-btn .custom-btn:focus {
    color: #da291c;
  }
  .quick-links-btn .custom-btn:before {
    color: #ffffff;
  }
  .quick-links-box {
    display: none;
  }
}
