/*reviewers-feedback*/
.reviewers-main {
  background: #e8e8e8;
  padding-bottom: 40px;
}

.reviewers-main .re-title-head {
  padding-bottom: 40px;
}

.reviewers-main .re-title-head .container-cus {
  border-bottom: solid thin #878787;
  max-width: 1624px;
}

.reviewers-main .reviewers-box {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 40px;
  overflow: hidden;
}

.reviewers-main .reviewers-box h3, .reviewers-main .reviewers-box h4, .reviewers-main .reviewers-box p {
  color: #000000;
}

.reviewers-main .reviewers-box .reviewers-left {
  width: 380px;
  float: left;
  text-align: center;
}

.reviewers-main .reviewers-box .reviewers-left img {
  display: inline-block;
}

.reviewers-main .reviewers-box .reviewers-left .rating-point {
  font-size: 16px;
  padding-top: 2px;
}

.reviewers-main .reviewers-box .reviewers-right {
  width: 720px;
  float: left;
}

.reviewers-main .reviewers-box .reviewers-right h3 {
  margin-bottom: 25px;
}

.reviewers-main .reviewers-box .reviewers-right h4 {
  text-transform: uppercase;
  font-size: 14px;
}

.reviewers-main .reviewers-box .reviewers-right p {
  margin: 5px 0 15px;
  font-size: 14px;
}

@media screen and (max-width: 1199px) {
  .reviewers-main .reviewers-box .reviewers-right {
    width: 570px;
  }
}

@media screen and (max-width: 1023px) {
  .reviewers-main .reviewers-box {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .reviewers-main .reviewers-box .reviewers-left, .reviewers-main .reviewers-box .reviewers-right {
    width: 100%;
  }
  .reviewers-main .reviewers-box .reviewers-left {
    margin-bottom: 25px;
    text-align: center;
  }
  .reviewers-main .reviewers-box .reviewers-right {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .reviewers-main .reviewers-box .reviewers-left .rating-point {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 5px;
  }
}
