/*rides&&events*/
.rides-events {
  text-align: center;
}

.rides-events h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .rides-events .grid-two .grid-box {
    width: 100%;
  }
  .rides-events .posi-abso {
    position: relative;
  }
  .rides-events .carousel .slick-dots {
    display: none !important;
  }
  .rides-events .ful-wid-btn-mobi {
    border-left-color: #a5a5a5;
  }
}
