/*Rides around you*/
.all-rides-map-view-main .map-view-ride-map {
  width: 100%;
}

.all-rides-map-view-main .map-view-ride-map iframe, .all-rides-map-view-main .map-view-ride-map .map {
  width: 100%;
  height: 750px;
}

.all-rides-map-view-main .map-view-ride-map img {
  height: 100%;
}

.all-rides-map-view-main .map #map-canvas {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

.map-view-ride {
  max-width: 600px;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  background: #ffffff;
}

.map-view-ride .inner-txt {
  padding: 25px;
}

.map-view-ride .mvr-left, .map-view-ride .mvr-middle, .map-view-ride .mvr-right {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.map-view-ride .mvr-left img, .map-view-ride .mvr-middle img, .map-view-ride .mvr-right img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}

.map-view-ride .mvr-left {
  width: 82px;
}

.map-view-ride .mvr-middle {
  width: 50%;
  padding-left: 15px;
}

.map-view-ride .mvr-middle h3 {
  color: #000000;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}

.map-view-ride .mvr-middle ul {
  padding: 5px 0;
}

.map-view-ride .mvr-middle ul a {
  font-size: 10px;
  padding: 10px 0;
}

.map-view-ride:after {
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 86px 0 86px 50px;
  border-color: transparent #f2f2f2;
  line-height: 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.map-view-ride:hover {
  max-width: 700px;
  background: #f2f2f2;
}

.map-view-ride:hover .mvr-left {
  width: 123px;
}

.map-view-ride:hover h3 {
  font-size: 24px;
}

.map-view-ride:hover:after {
  visibility: visible;
  opacity: 1;
}

.map-view-ride.selected {
  max-width: 700px;
  background: #f2f2f2;
}

.map-view-ride.selected .mvr-left {
  width: 123px;
}

.map-view-ride.selected:after {
  visibility: visible;
  opacity: 1;
}

.map-view-ride.selected h3 {
  font-size: 24px;
}

.button-view-all-ride {
  margin: 0;
  text-align: center;
  padding: 15px 0;
  max-width: 600px;
  background: #f2f2f2;
}

.button-view-all-ride:after {
  display: none;
  width: 600px;
}

@media screen and (max-width: 1250px) {
  .map-view-ride, .button-view-all-ride {
    max-width: 500px;
    width: 90%;
  }
  .map-view-ride.selected {
    max-width: 600px;
    width: 90%;
  }
  .map-view-ride:hover h3, .map-view-ride.selected h3 {
    font-size: 22px;
  }
  .map-view-ride:hover .mvr-left, .map-view-ride.selected .mvr-left {
    width: 100px;
  }
  .map-view-ride .inner-txt {
    padding: 15px;
  }
  .map-view-ride:after {
    right: -30px;
    border-width: 65px 0 65px 30px;
  }
  .all-rides-map-view-main .map-view-ride-map iframe, .all-rides-map-view-main .map-view-ride-map .map {
    height: 600px;
  }
}

@media screen and (max-width: 767px) {
  .all-rides-map-view-main .map-view-ride-map iframe, .all-rides-map-view-main .map-view-ride-map .map {
    height: 500px;
  }
  .all-rides-map-view-main .disp-tbl-cel {
    display: block;
    width: 100%;
  }
  .all-rides-map-view-main .banner-inner-txt {
    position: relative;
    margin-top: -50px;
    padding: 30px 0 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 255, 255, 0)), color-stop(10%, #ffffff), color-stop(10%, #000000), color-stop(10%, rgba(255, 255, 255, 0)), color-stop(10%, #ffffff), color-stop(10%, #ffffff), color-stop(10%, #000000), to(#000000));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, #ffffff 10%, #000000 10%, rgba(255, 255, 255, 0) 10%, #ffffff 10%, #ffffff 10%, #000000 10%, #000000 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 1%, #ffffff 10%, #000000 10%, rgba(255, 255, 255, 0) 10%, #ffffff 10%, #ffffff 10%, #000000 10%, #000000 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 1%, #ffffff 10%, #000000 10%, rgba(255, 255, 255, 0) 10%, #ffffff 10%, #ffffff 10%, #000000 10%, #000000 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, #ffffff 10%, #000000 10%, rgba(255, 255, 255, 0) 10%, #ffffff 10%, #ffffff 10%, #000000 10%, #000000 100%);
  }
  .map-view-ride {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .map-view-ride h3 {
    font-size: 16px;
    line-height: 16px;
  }
  .map-view-ride:hover h3, .map-view-ride.selected h3 {
    font-size: 18px;
  }
  .map-view-ride:hover .mvr-left, .map-view-ride.selected .mvr-left {
    width: 100px;
  }
  .map-view-ride {
    width: 100%;
    max-width: 100%;
  }
  .map-view-ride .mvr-right {
    display: none;
  }
  .map-view-ride:after {
    display: none;
  }
  .map-view-ride .mvr-left {
    width: 75px;
  }
  .map-view-ride .mvr-middle {
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: calc(100% - 80px);
  }
  .map-view-ride h3 {
    font-size: 16px;
  }
  .map-view-ride.selected, .map-view-ride:hover {
    width: 100%;
    max-width: 100%;
  }
  .map-view-ride.selected h3, .map-view-ride:hover h3 {
    font-size: 16px;
  }
  .map-view-ride.selected .mvr-left, .map-view-ride:hover .mvr-left {
    width: 75px;
  }
  .map-view-ride h3, .map-view-ride.selected h3 {
    margin-top: 9px;
  }
  .button-view-all-ride {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .button-view-all-ride .custom-btn {
    border-color: transparent;
    background: transparent;
    font-size: 18px;
    width: 100%;
    text-align: left;
  }
  .button-view-all-ride .custom-btn:before {
    font-size: 14px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .all-rides-map-view-main .map-view-ride-map iframe, .all-rides-map-view-main .map-view-ride-map .map {
    height: 350px;
  }
  .map-view-ride .mvr-left {
    width: 55px;
  }
  .map-view-ride .mvr-middle {
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  .map-view-ride.selected .mvr-left, .map-view-ride:hover .mvr-left {
    width: 55px;
  }
  .map-view-ride {
    background: #ffffff;
  }
  .map-view-ride .inner-txt {
    position: relative;
  }
  .map-view-ride .inner-txt .custom-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    background: transparent;
    text-indent: -999px;
    z-index: 5;
  }
  .map-view-ride .inner-txt .custom-btn:before {
    text-indent: 0px;
    margin: auto;
    -webkit-transform: translateZ(0) translateY(-50%);
       -moz-transform: translateZ(0) translateY(-50%);
            transform: translateZ(0) translateY(-50%);
    top: 50%;
  }
}
