/*specification*/
.specification-main {
  padding-bottom: 60px;
  background: #d5d5d5;
  border-bottom: solid 10px #86754d;
}

.specification-main .specif-bike {
  width: auto;
  display: inline-block;
  position: relative;
  padding: 15px;
}

.specification-main .specif-bike .specif-details {
  width: 100%;
  height: 15px;
  border: solid 2px #a3a3a3;
  border-top-color: transparent;
  position: relative;
  margin: 0 auto;
}

.specification-main .specif-bike .specif-details span {
  background: #d5d5d5;
  padding: 0 25px;
}

.specification-main .specif-bike .specif-details.spd-btm {
  max-width: 70%;
  margin-top: 40px;
}

.specification-main .specif-bike .specif-details.spd-rt {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 47%;
  right: -30%;
  max-width: 55%;
}

.specification-main .button-group {
  width: 100%;
  float: left;
  margin: 60px 0 0;
}

.specification-main .button-group .custom-btn {
  margin: 0 60px;
}

.specification-main .button-group .cb-bt-bdr {
  border-bottom-color: #000000;
  padding-left: 0;
  padding-right: 25px;
}

.specification-main .button-group .cb-bt-bdr:before {
  right: 0;
}

.specification-main .button-group .cb-bt-bdr:hover {
  color: #000000;
}

.specification-main .button-group .download-btn:before {
  -webkit-animation: initial;
     -moz-animation: initial;
       -o-animation: initial;
          animation: initial;
}

.specifi-txt {
  padding-right: 25px;
}

.specifi-txt h2 {
  font-size: 24px;
}

/*end of specification*/
@media screen and (max-width: 1400px) {
  .specifi-txt p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .specification-main {
    padding-bottom: 30px;
    border-bottom: none;
    background: #000000;
  }
  .specification-main .disp-tbl-cel {
    width: 100%;
    display: block;
  }
  .specification-main .cb-bt-bdr {
    border-color: transparent;
    border-bottom-color: #000000;
    padding: 10px 25px 10px 10px;
  }
  .specification-main .disp-tbl-cel:first-child {
    display: table-footer-group;
  }
  .specification-main .disp-tbl-cel:last-child {
    display: table-header-group;
  }
  .specification-main .specif-bike .specif-details.spd-rt {
    top: 40%;
    right: -24%;
    max-width: 50%;
  }
  .specification-main .button-group {
    margin: 25px 0;
  }
  .specification-main .specifi-txt {
    padding-right: 0;
  }
  .specification-main .specif-bike .specif-details span {
    font-size: 10px;
  }
  .specification-main .specif-bike .specif-details.spd-btm {
    max-width: 90%;
    margin-top: 25px;
  }
  .specification-main .specif-bike .specif-details span {
    background: #000000;
    color: #ffffff;
  }
  .specification-main .button-group .custom-btn {
    background: #ffffff;
    color: #000000;
  }
  .specification-main .re-title-head .re-title.bord-btm {
    border-bottom: solid thin #424242;
    color: #ffffff;
  }
  .specification-main .button-group .custom-btn {
    margin: 5px 25px;
    min-width: 200px;
    padding: 10px 30px 10px 15px;
  }
  .specification-main .button-group .cb-bt-bdr {
    padding-left: 15px;
    padding-right: 35px;
  }
  .specification-main .button-group .cb-bt-bdr:before {
    right: 10px;
  }
  /*accordion [START]*/
  .accordion {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
  }
  .accordion .acco-item {
    margin-bottom: 1px;
  }
  .accordion .acco-item .acco-heading {
    cursor: pointer;
    padding: 25px 15px;
    background: #212121;
  }
  .accordion .acco-item .acco-heading h2 {
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    color: #ffffff;
  }
  .faqs-box .accordion .acco-item .acco-heading {
    display: inline-block;
  }
  .accordion .acco-item.open .acco-heading,
  .accordion .acco-item:last-child .acco-heading {
    border: 0;
  }
  .accordion .acco-item .acco-heading {
    position: relative;
  }
  .accordion .acco-item .acco-heading:after {
    content: '\0043';
    font-size: 12px;
    color: #ffffff;
    font-family: 'reicons';
    position: absolute;
    width: 12px;
    height: 12px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .accordion .acco-item.open .acco-heading:after {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .accordion .acco-item .acco-content {
    display: none;
    background: #000000;
    padding: 15px;
  }
  .accordion .acco-item .acco-content p {
    font-size: 12px;
    color: #ffffff;
    margin: 0;
  }
  /*accordion [END]*/
}

@media screen and (max-width: 520px) {
  .specif-bike img {
    width: 275px;
  }
}
