/*inner page reviews reviews*/
.reviews-sub {
  text-align: center;
}

.rating-point {
  display: inline-block;
  font-size: 26px;
  vertical-align: middle;
  padding-left: 10px;
}

.rating-star-head {
  margin-top: 35px;
}

.reviews-sub .grid-box {
  margin-bottom: 30px;
}

.reviews-sub .grid-box h3 {
  font-size: 26px;
  margin: 25px 0 10px;
}

.reviews-sub .grid-box p {
  width: 323px;
  margin: 10px auto 0;
  height: 100px;
}

.reviews-sub .grid-box .inner-img {
  position: relative;
}

.reviews-sub .grid-box .inner-img img {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

.reviews-sub .grid-box .inner-img:before {
  position: absolute;
  left: 60%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 75%;
  height: 3px;
  background: #a5a5a5;
  z-index: 0;
}

.reviews-sub .grid-box:nth-child(3n) .inner-img:before {
  display: none;
}

.reviews-sub .custom-btn {
  text-transform: none;
}

.reviews-sub .rating-star-head {
  margin-top: 15px;
}

.reviews-sub .rating-point {
  font-size: 18px;
  padding-top: 3px;
}

.reviews-sub .re-title-head {
  margin-bottom: 35px;
}

.button-bottom {
  padding: 25px 0;
}

.carousel-reviews .slick-slide {
  width: 33.33%;
}

/*end of reviews*/
@media screen and (max-width: 1250px) {
  .reviews-sub .container-mdm {
    width: 100%;
  }
  .reviews-sub .grid-three .grid-box {
    width: 33%;
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .reviews-sub .grid-three .grid-box h3 {
    font-size: 22px;
    margin: 10px 0 15px;
  }
  .reviews-sub .grid-three .grid-box p {
    width: 100%;
    margin: 10px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .reviews-sub .grid-three .grid-box {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .reviews-sub .grid-three .grid-box {
    width: 49%;
  }
}

@media screen and (max-width: 767px) {
  .carousel-grid-three .slick-dots, .carousel-grid-four .slick-dots, .carousel-reviews .slick-dots {
    position: relative;
    bottom: 0;
    padding: 15px;
  }
  .reviews-sub {
    background: #212121 !important;
  }
  .reviews-sub .container-cus {
    max-width: 100%;
    padding: 0;
  }
  .reviews-sub .re-title-head .re-title {
    color: #ffffff;
  }
  .reviews-sub .rating-star-head .rating-star-main {
    display: none;
  }
  .reviews-sub .rating-star-head .rating-point {
    color: #ffffff;
    font-size: 20px;
  }
  .reviews-sub .re-title-head .re-title, .reviews-sub .rating-star-head {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 0;
  }
  .reviews-sub .inner-box {
    background: #212121;
    padding: 5px !important;
    margin-top: 15px;
  }
  .reviews-sub .inner-box .inner-img .box-circle {
    width: 97px;
    height: 97px;
  }
  .reviews-sub .inner-box .inner-txt {
    background: #ffffff;
    margin-top: -50px;
    padding: 50px 15px 15px;
  }
  .reviews-sub .grid-box {
    margin-bottom: 0px;
  }
  .reviews-sub .button-bottom {
    padding: 5px 0;
  }
  .reviews-sub .re-title-head {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .reviews-sub .grid-three .grid-box {
    width: 100%;
    display: block;
  }
}
