/*sub gallery*/
/*zoomify*/
.zoomify {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.zoomify.zoomed {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  position: relative;
  z-index: 1501;
  padding: 25px;
}

.zoomify-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1500;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.zoomify-shadow.zoomed {
  opacity: 1;
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}

/*end of zoomify*/
/*gallery main*/
.gallery-sub {
  width: 100%;
  float: left;
}

.gallery-sub .grid-four {
  overflow: visible;
}

.gallery-sub .grid-four .grid-box {
  background: #212121;
}

.gallery-view-more {
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.gallery-view-more h2 {
  color: #ffffff;
}

.carousel-thumb-gallery-dealership .slick-slide img {
  max-width: 100%;
  width: 100%;
}

/*end of gallery main*/
@media screen and (max-width: 1250px) {
  .gallery-view-more h2 {
    font-size: 16px;
  }
  .zoomify.zoomed {
    padding: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .gallery-sub .grid-four .grid-box {
    width: 33.33%;
  }
}

@media screen and (max-width: 767px) {
  .gallery-sub .grid-four .grid-box {
    width: 100%;
  }
  .gallery-sub .grid-four .grid-box img {
    width: 100%;
    max-width: initial;
  }
  .gallery-filter-mobile {
    width: 100%;
    float: left;
    padding: 25px 0;
    text-align: center;
  }
  .gallery-filter-mobile .custom-nav {
    display: inline-block;
    width: auto;
    float: none;
  }
  .gallery-filter-mobile .custom-nav li {
    padding: 0 15px;
  }
  .gallery-filter-mobile .custom-nav li a {
    color: #ffffff;
    text-transform: capitalize;
  }
  .gallery-filter-mobile .custom-nav li a .icon-arrow-forward {
    font-size: 10px;
  }
  .gallery-filter-mobile .custom-nav li a .icon-arrow-forward:before {
    content: '\0041';
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .gallery-filter-mobile .custom-nav li.filter-active a {
    color: #da291c;
  }
}
