/*trip-stories*/
.trip-stories .inner-txt {
  padding: 25px;
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}

.trip-stories h2 {
  color: #ffffff;
}

.trip-stories p {
  color: #ffffff;
  margin: 5px 0 15px;
}

.trip-stories .carousel .slick-slide img {
  width: 100%;
}

/*end of trip-stories*/
@media screen and (max-width: 1400px) {
  .trip-stories .inner-txt {
    padding: 25px;
  }
  .trip-stories p {
    margin: 5px 0 10px;
    font-size: 14px;
    line-height: 20px;
    line-height: normal;
  }
  .trip-stories h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1250px) {
  .trip-stories .inner-txt {
    padding: 15px;
  }
  .trip-stories p {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .trip-stories {
    background: #000000;
  }
  .trip-stories .inner-txt {
    position: relative;
    background: #000000;
    text-align: center;
    width: 100%;
    padding: 5px;
  }
  .trip-stories .inner-txt h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 15px 0 20px;
  }
  .trip-stories .inner-txt p {
    font-size: 14px;
    line-height: 18px;
    background: #D5D5D5;
    color: #000000;
    padding: 20px;
    margin: 0px 0 5px;
  }
  .trip-stories .inner-txt .custom-btn {
    display: none;
  }
  .trip-stories .slick-dots {
    display: none !important;
  }
}
