---
layout: base.hbs
---
<div class="btr-main">

<div class="fix_slider_holder">
	<div class="fix_slider">
		<div><img class="img-responsive" src="/dist/assets/images/banner-book-test-ride.jpg" alt="Royal Enfield"></div>
		<div><img class="img-responsive" src="/dist/assets/images/banner-book-test-ride.jpg" alt="Royal Enfield"></div>
		<div><img class="img-responsive" src="/dist/assets/images/banner-book-test-ride.jpg" alt="Royal Enfield"></div>
	</div>
	<h1>Book a Test Ride</h1> 
</div>
 

<div class="book-test-ride-main">
	<div class="sub-section"> 
		<div class="container-cus container-mdm">
			<div class="carousel carousel-btr-head">
				<div class="carousel-item">
					<div class="inner-box">
						<span class="icon-ribbon"></span>
						<p>Experience the 116 year old legacy of Royal Enfield.</p>
					</div>
				</div>
				<div class="carousel-item">
					<div class="inner-box carousel-item">
						<span class="icon-ribbon"></span>
						<p>Ride to see the perfect match for your personality.</p>
					</div>
				</div>
				<div class="carousel-item">
					<div class="inner-box carousel-item">
						<span class="icon-ribbon"></span>
						<p>Explore all features of the motorcycle before purchasing it.</p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="book-test-ride">
				<div class="book_testride_form">

					<div class="bk-tsrd-fm-hld">
						<div class="input-box">
							<input class="input-field" type="" name="" placeholder="Your First Name">
						</div>
						<div class="input-box">
							<input class="input-field" type="" name="" placeholder="Your Last Name">
						</div>
					</div>

					<div class="bk-tsrd-fm-hld">
						<div class="input-box">
							<input class="input-field" type="" name="" placeholder="Enter your Email">
						</div>
						<div class="input-box">
							<div class="td_bike_dd bike_test_ride_select">When do you want to Test ride?</div> 
						</div>
					</div>
					<!--select motorcyle [START]-->
					<div class="select_bike_drop">
						<div class="select_bike_drop_wrap">
							<label data-bike="Continental GT">
								<img src="/dist/assets/images/test-ride/gt.jpg">
								<p>Continental GT</p>
								<input type="radio" name="">
							</label>
							<label data-bike="Thunderbird 500">
								<img src="/dist/assets/images/test-ride/Thunderbird500.jpg">
								<p>Thunderbird 500</p>
								<input type="radio" name="">
							</label>
							<label data-bike="Thunderbird 350">
								<img src="/dist/assets/images/test-ride/Thunderbird350.jpg">
								<p>Thunderbird 350</p>
								<input type="radio" name="">
							</label>
							<label data-bike="Bullet 500">
								<img src="/dist/assets/images/test-ride/Bullet500.jpg">
								<p>Bullet 500</p>
								<input type="radio" name="">
							</label>
							<label data-bike="Bullet 350">
								<img src="/dist/assets/images/test-ride/Bullet350.jpg">
								<p>Bullet 350</p>
								<input type="radio" name="">
							</label>
							<label data-bike="Bullet 500">
								<img src="/dist/assets/images/test-ride/Bullet500.jpg">
								<p>Bullet 500</p>
								<input type="radio" name="">
							</label>
							<label data-bike="Thunderbird 500">
								<img src="/dist/assets/images/test-ride/Thunderbird500.jpg">
								<p>Thunderbird 500</p>
								<input type="radio" name="">
							</label>
						</div>
						<a class="bk_push_up"></a>
					</div>
					<!--select motorcyle [END]--> 

					<div class="bk-tsrd-fm-hld">
						<div class="input-box select-box">
							<select class="select-field">
								<option>Enter your Country</option>
							</select>
						</div>
						<div class="input-box select-box">
							<select class="select-field">
								<option>Enter your State</option>
							</select>
						</div>
					</div>

					<div class="bk-tsrd-fm-hld">
						<div class="input-box select-box">
							<select class="select-field">
								<option>Enter your city</option>
							</select>
						</div>
						<div class="input-box">
							<div class="td_bike_dd del_test_ride_select">Select the dealership</div> 
						</div>
					</div>

					<div class="dealer_dropdown">
						<label data-delername="TEKNIK MOTORS">
							<h3>TEKNIK MOTORS</h3>
							<p>18, 11th Main, 9th Block. Indira Nagar, Bangalore Karnataka  560038</p>
							<input type="radio" name="">
						</label>

						<label data-delername="TEKNIK MOTORS">
							<h3>TEKNIK MOTORS</h3>
							<p>18, 11th Main, 9th Block. Indira Nagar, Bangalore Karnataka  560038</p>
							<input type="radio" name="">
						</label>

						<label data-delername="TEKNIK">
							<h3>TEKNIK MOTORS</h3>
							<p>18, 11th Main, 9th Block. Indira Nagar, Bangalore Karnataka  560038</p>
							<input type="radio" name="">
						</label>

						<label data-delername="TEKNIK MOTORS">
							<h3>TEKNIK MOTORS</h3>
							<p>18, 11th Main, 9th Block. Indira Nagar, Bangalore Karnataka  560038</p>
							<input type="radio" name="">
						</label>

						<label data-delername="TEKNIK MOTORS">
							<h3>TEKNIK MOTORS</h3>
							<p>18, 11th Main, 9th Block. Indira Nagar, Bangalore Karnataka  560038</p>
							<input type="radio" name="">
						</label>
					</div>

					<div class="bk-tsrd-fm-hld">

						<div class="input-box select-box">
							<select class="select-field">
								<option>When do you want to Test ride?</option>
							</select>
						</div>
						<div class="input-box">
							<input class="input-field" type="" name="" placeholder="Enter your 10 digit mobile number">
						</div>
					</div>

				</div>
				
				<button class="custom-btn hvr-icon-01 cb-black ful-wid-btn-mobi ">Book a Test Ride</button>
			</div>
		</div>
	</div>
</div>
  
</div>