---
layout: base.hbs
---

<div class="motorcycle-models">
	<ul class="nav-grid-three">
        <li>
            <div class="nav-product-box">
                <a href="dist/continentalgt.html"><img class="img-responsive" src="/dist/assets/images/classic-squadron-blue.jpg" alt="">
                <div class="posi-abso nav-product-bottom">
                    <div class="nav-product-txt">
                        <h3>Classic Squadron Blue</h3>
                        <p>Inspired by ​the Royal Enfield motorcycles​ that have been<br> assisting air force corps across the world since ages.</p>
                        <button class="custom-btn">Know More</button>
                    </div>
                </div></a>
            </div>
        </li>
        <li>
            <div class="nav-product-box">
                <a href="dist/continentalgt.html"><img class="img-responsive" src="/dist/assets/images/classic-desert-storm.jpg" alt="">
                <div class="posi-abso nav-product-bottom">
                    <div class="nav-product-txt">
                        <h3>Classic Desert Storm</h3>
                        <p>Inspired from an era of wars when Royal Enfield<br> motorcycles would serve to soldiers battling in the desert.</p>
                        <button class="custom-btn">Know More</button>
                    </div>
                </div></a>
            </div>
        </li>
        <li>
            <div class="nav-product-box">
                <a href="dist/continentalgt.html"><img class="img-responsive" src="/dist/assets/images/classic-battle green.jpg" alt="">
                <div class="posi-abso nav-product-bottom">
                    <div class="nav-product-txt">
                        <h3>Classic Battle Green</h3>
                        <p>Made to pay homage to Army soldiers providing services<br> on their Royal Enfield motorcycles since World War II.</p>
                        <button class="custom-btn">Know More</button>
                    </div>
                </div></a>
            </div>
        </li>
        <li>
            <div class="nav-product-box">
                <a href="#"><img class="img-responsive" src="/dist/assets/images/classic-chrome.jpg" alt="">
                <div class="posi-abso nav-product-bottom">
                    <div class="nav-product-txt">
                        <h3>Classic Chrome</h3>
                        <p>Built of old-fashioned metal,with a design that<br> is a tribute to the retro look of post war British motorcycles.​</p>
                        <button class="custom-btn">Know More</button>
                    </div>
                </div></a>
            </div>
        </li>
        <li>
            <div class="nav-product-box">
                <a href="dist/continentalgt.html"><img class="img-responsive" src="/dist/assets/images/classic-500.jpg" alt="">
                <div class="posi-abso nav-product-bottom">
                    <div class="nav-product-txt">
                        <h3>Classic 500</h3>
                        <p>Armed with a potent 500cc engine and clothed in a post<br> war styling,​ it is known for its power, fuel efficiency and reliability.</p>
                        <button class="custom-btn">Know More</button>
                    </div>
                </div></a>
            </div>
        </li>
        <li>
            <div class="nav-product-box">
                <a href="#"><img class="img-responsive" src="/dist/assets/images/classic-350.jpg" alt="">
                <div class="posi-abso nav-product-bottom">
                    <div class="nav-product-txt">
                        <h3>Classic 350</h3>
                        <p>Born of a rich heritage and bred with royal elegance,<br> it can ride through flatten mountains and cross entire ranges​.</p>
                        <button class="custom-btn">Know More</button>
                    </div>
                </div></a>
            </div>
        </li>
    </ul>
</div>