---
layout: base.hbs
---

<div class="motorcycle-models">
	<ul class="nav-grid-two">
        <li>
            <div class="nav-product-box">
                <a href="dist/continental-gt.html"><img class="img-responsive" src="/dist/assets/images/models-continental-gt/continental-gt650.jpg" alt="">
                <div class="posi-abso nav-product-bottom">
                    <div class="nav-product-txt">
                        <h3>Continental GT 650</h3>
                        <p>Faster than a fast song, but not as fast as your beating heart  </p>
                        <button class="custom-btn">Know More</button>
                    </div>
                </div></a>
            </div>
        </li>
        <li>
            <div class="nav-product-box">
                <a href="dist/continental-gt.html"><img class="img-responsive" src="/dist/assets/images/models-continental-gt/continental-gt535.jpg" alt="">
                <div class="posi-abso nav-product-bottom">
                    <div class="nav-product-txt">
                        <h3>Continental GT</h3>
                        <p>The most fun you’ll ever have on a motorcycle</p>
                        <button class="custom-btn">Know More</button>
                    </div>
                </div></a>
            </div>
        </li>
    </ul>
</div>