---
layout: base.hbs
---
<!--secondary-sticky-header [START]-->
<section class="follow-sticky-header secondary-sticky-header">
	<div class="container-cus container-std">
		<div class="fsh-left">
			<a class="fsh-re" href="dist/index.html"><img src="/dist/assets/images/logo.png" alt="Logo"></a>
			<a class="fsh-head" href="">Continental GT</a>
		</div>
		<div class="fsh-right">
			<a class="custom-nav-trigger mobi-767"><span class="icon-arrow-forward"></span></a>
			<ul class="custom-nav custom-nav-bord-rt nav-sticky-subpage">
			    <li><a href="dist/continental-gt.html#colors">Colors</a></li>
			    <li><a href="dist/continental-gt.html#specifications">Specifications</a></li>
			    <li><a href="dist/continental-gt.html#reviews">Reviews</a></li>
			    <li><a href="dist/continental-gt.html#gallery">Gallery</a></li>
			</ul>
		</div>
		<!-- <div class="nav-book-ride">
			<a class="custom-btn hvr-icon-01" href="">Book a Test Ride</a>
			<a class="custom-btn hvr-icon-01" href="">Buy a Motorcycle</a>
		</div> -->
	</div>
</section>
<!--secondary-sticky-header [END]-->

<!--sliders with dots [START]-->
<section class="sub-section padding-none ">
	<div class="carousel carousel-slider-dots motorcycle-slider">
		<div>
			<!--banner [START]-->
			<div class="re-banner disp-tbl txt-align-btm-mobi">
				<div class="banner-inner-img disp-tbl-cel">
	    			<img class="img-responsive desk-767" src="/dist/assets/images/continental/gt/gt-banner.jpg" alt="Royal Enfield">
	    			<img class="img-responsive mobi-767" src="/dist/assets/images/continental/gt/gt-banner-mobi.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box align-rt">
									<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-logo.png" alt="Royal Enfield">
					    			<div class="clear"></div>
									<h1 class="re-title">A toast to the<br>good times of <br>motorcycling.</h1>
								</div>
							</div> 
						</div>
					</div>
			    </div>
			</div>
			<!--banner [END]-->
		</div>
		<div>
			<!--banner [START]-->
			<div class="re-banner disp-tbl txt-align-btm-mobi">
				<div class="banner-inner-img disp-tbl-cel">
	    			<img class="img-responsive desk-767" src="/dist/assets/images/continental/gt/gt-banner.jpg" alt="Royal Enfield">
	    			<img class="img-responsive mobi-767" src="/dist/assets/images/continental/gt/gt-banner-mobi.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box align-rt">
									<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-logo.png" alt="Royal Enfield">
					    			<div class="clear"></div>
									<h1 class="re-title">A toast to the<br>good times of <br>motorcycling.</h1>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
			<!--banner [END]-->
		</div>
		<div>
			<!--banner [START]-->
			<div class="re-banner disp-tbl txt-align-btm-mobi">
				<div class="banner-inner-img disp-tbl-cel">
	    			<img class="img-responsive desk-767" src="/dist/assets/images/continental/gt/gt-banner.jpg" alt="Royal Enfield">
	    			<img class="img-responsive mobi-767" src="/dist/assets/images/continental/gt/gt-banner-mobi.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box align-rt">
									<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-logo.png" alt="Royal Enfield">
					    			<div class="clear"></div>
									<h1 class="re-title">A toast to the<br>good times of <br>motorcycling.</h1>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
			<!--banner [END]-->
		</div>
	</div>
</section>
<!--sliders with dots [END]-->

<!--Book a Test Ride It will show only after 767px this option for only mobiles [START]-->
<div class="container-cus container-ful mobi-767">
	<a class="custom-btn hvr-icon-01 ful-wid-btn-mobi">Book a Test Ride</a>
</div>
<!--Book a Test Ride It will show only after 767px this option for only mobiles [END]-->

<!--banner [START]-->
<section class="re-banner disp-tbl re-video-wrap">
	<div class="banner-inner-img disp-tbl-cel">
		<img class="img-responsive desk-767" src="/dist/assets/images/continental/gt/gt-story.jpg" alt="Royal Enfield">
		<img class="img-responsive mobi-767" src="/dist/assets/images/continental/gt/gt-story-mobi.jpg" alt="Royal Enfield">
	    <div class="video-play-overlay">
	    	<a class="video-play-btn youtube-play" href="https://www.youtube.com/watch?v=DTbR1gWmxiA"><span class="icon-play"></span></a>
	    </div>
    </div>
    <div class="banner-inner-txt posi-abso disp-tbl-cel">
		<div class="disp-tbl">
			<div class="disp-tbl-cel">
    			<div class="container-cus container-std">
		    		<div class="txt-box align-rt">
						<h2 class="re-title">GT Story</h2>
						<p>It’s a machine with a story, a painstaking collaboration and a nod to motorcycling’s finest hour. It is also the best expression yet of a cultural phenomena that has refused to fade away - The Café Racer. </p>
					</div>
				</div>
			</div>
		</div>
    </div>
</section>
<!--banner [END]-->

<!--all featuers [START]-->
<section class="sub-section features-all-main">
	<div class="carousel carousel-sections-mobile">
		<div class="carousel-item">
			<!--banner [START]-->
			<div class="re-banner disp-tbl">
				<div class="banner-inner-img disp-tbl-cel">
			    	<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-welcome.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-lt">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box">
									<h2 class="re-title">Welcome to the 60’s</h2>
									<p>Retro inspired clip-on handlebars. Bump stop seat for maximum styling. On a stripped down classic racer silhouette, resonating the cafe culture.</p>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
			<!--banner [END]-->
		</div>
		
		<div class="carousel-item">
			<!--banner [START]-->
			<div class="re-banner disp-tbl ">
				<div class="banner-inner-img disp-tbl-cel">
			    	<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-crouch.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-rt">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box align-rt">
									<h2 class="re-title">Crouch like you mean it</h2>
									<p>Footrests and handle structured for an aerodynamic riding position. Recesses in fuel tank for the rider’s knees to ensure maximum speed and performance.</p>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
			<!--banner [END]-->
		</div>

		<div class="carousel-item">
			<!--banner [START]-->
			<div class="re-banner disp-tbl this-scroll-up">
				<div class="banner-inner-img disp-tbl-cel">
			    	<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-conquer.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-lt">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box">
									<h2 class="re-title">Conquer the corners</h2>
									<p>For swift twists and turns, trust the café-racer style double cradle frame and twin rear shock absorbers to do the job.</p>
								</div>
							</div>
						</div>
					</div>
			    </div>
				<div class="re-banner-caption">
					<div class="view-all-features">
						<a class="custom-btn hvr-icon-01 view-all-feature-btn">View All Features</a>
					</div>
				</div>
			</div>
			<!--banner [END]-->
		</div>

		<div class="carousel-item">
			<!--banner [START]-->
			<div class="re-banner disp-tbl feature-container-hide">
				<div class="banner-inner-img disp-tbl-cel">
			    	<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-rock-safe.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-lt">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box">
									<h2 class="re-title">Rock Safe</h2>
									<p>Brembo disc brakes for greater stopping power. With the Pirelli Sport Demon tyres, take those twisted turns with added cornering support.</p>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
			<!--banner [END]-->
		</div>
		
		<div class="carousel-item">
			<!--banner [START]-->
			<div class="re-banner disp-tbl feature-container-hide">
				<div class="banner-inner-img disp-tbl-cel">
			    	<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-ton-up.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-rt">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box align-rt">
									<h2 class="re-title">Ready For The Ton-Up</h2>
									<p>Get on the road and ready for ton-ups with the high-performance engine.</p>
								</div>
							</div>
						</div>
					</div>
			    </div>
				<div class="re-banner-caption">
					<div class="view-all-features">
						<a class="custom-btn hvr-icon-01 view-less-feature-btn">View Less Features</a>
					</div>
				</div>
			</div>
			<!--banner [END]-->
		</div>
	</div>
</section>
<!--all featuers [END]-->

<!--colors [START]-->
<section class="sub-section scroll-section showcase-bike-main bg-light-black" id="colors">
	<div class="re-title-head">
		<h3 class="re-title">Colours</h3>
	</div>
	<div class="container-cus container-std">
		<div class="carousel-colours-nested">
			<!--bike colours-->
			<div class="carousel-item">
				<div class="carousel carousel-showcase-bike">
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
				</div>
			</div>
			<!--end bike colours-->
			<!--bike colours-->
			<div class="carousel-item">
				<div class="carousel carousel-showcase-bike">
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
				</div>
			</div>
			<!--end bike colours-->
			<!--bike colours-->
			<div class="carousel-item">
				<div class="carousel carousel-showcase-bike">
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
					<div class="carousel-item"><img src="/dist/assets/images/continental/gt/gt-red-01.png"></div>
				</div>
			</div>
			<!--end bike colours-->
		</div>

		<div class="showcase-bike-thumb">
			<div class="container-cus container-std">
				<div class="sb-thumb-inner">
					<h4>Available in</h4>
					<!--bike colours thumb-->
					<div class="carousel-colours-thumb">
						<div class="carousel-item">
							<div class="inner-image"><img src="/dist/assets/images/continental/gt/gt-red-thumb.png" alt="gt-red"><p>GT Red</p></div>
						</div>
						<div class="carousel-item">
							<div class="inner-image"><img src="/dist/assets/images/continental/gt/gt-black-thumb.png" alt="gt-red"><p>GT Black</p></div>
						</div>
						<div class="carousel-item">
							<div class="inner-image"><img src="/dist/assets/images/continental/gt/gt-green-thumb.png" alt="gt-red"><p>GT Green</p></div>
						</div>
					</div>
					<!--end bike colours thumb-->
				</div>
			</div>
		</div>

		<!-- <div class="showcase-bike-thumb">
			<div class="container-cus container-std">
				<div class="sb-thumb-inner">
					<h4>Available in</h4>
					<a class="showcase-bike-red"><img src="/dist/assets/images/continental/gt/gt-red-thumb.png" alt="gt-red"><p>GT Red</p></a>
					<a class="showcase-bike-black"><img src="/dist/assets/images/continental/gt/gt-black-thumb.png" alt="gt-red"><p>GT Black</p></a>
					<a class="showcase-bike-green"><img src="/dist/assets/images/continental/gt/gt-green-thumb.png" alt="gt-red"><p>GT Green</p></a>
				</div>
			</div>
		</div> -->
	</div>
</section>
<!--colors [END]-->

<!--specification [START]-->
<section class="sub-section scroll-section specification-main" id="specifications">
	<div class="container-cus container-std">
		<div class="re-title-head">
			<h3 class="re-title bord-btm">Specification</h3>
		</div>
		<div class="disp-tbl">
			<div class="disp-tbl-cel wid-40">
				<div class="specifi-txt">
					<div class="accordion">
						<div class="acco-item">
							<div class="acco-heading"><h2>Engine</h2></div>
							<div class="acco-content">
								<p>Single Cylinder, 4 stroke, Air cooled, 535 cc,<br> 
								29.1 bhp @ 5100 rpm, 44 Nm @ 4000 rpm</p>
							</div>
						</div>
						<div class="acco-item">
							<div class="acco-heading"><h2>Chassis</h2></div>
							<div class="acco-content">   
								<p>Front Tyre: 100/90-18, 56 H Pirelli Sport Demon,
								Rear Tyre: 130/70-18, 63 H Pirelli Sport Demon,<br>
								Front Brake: Brembo 300mm Floating Disc,<br>
								Rear Brake: Brembo 2-Piston Floating Caliper,<br>
								240mm Disc, Single Piston Floating Caliper</p>
							</div>
						</div>
						<div class="acco-item">
							<div class="acco-heading"><h2>Brakes &amp; Tyres</h2></div>
							<div class="acco-content">   
								<p>Front Tyre: 100/90-18, 56 H Pirelli Sport Demon,
								Rear Tyre: 130/70-18, 63 H Pirelli Sport Demon,<br>
								Front Brake: Brembo 300mm Floating Disc,<br>
								Rear Brake: Brembo 2-Piston Floating Caliper,<br>
								240mm Disc, Single Piston Floating Caliper</p>
							</div>
						</div>
						<div class="acco-item">
							<div class="acco-heading"><h2>Dimensions</h2></div>
							<div class="acco-content">   
								<p>2060mm x 760mm (Without Mirrors) x 1070mm (Without Mirrors), <br>
								Fuel Capacity: 13.5 Ltrs<br>
								Kerb Weight: 184 Kgs<br>
								Ground Clearance: 140 mm</p>
							</div>
						</div>
						<div class="acco-item">
							<div class="acco-heading"><h2>Electrical</h2></div>
							<div class="acco-content">   
								<p>12 Volt, 14 Ah, 60/55 Wt</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="disp-tbl-cel wid-60 txt-center">
				<div class="specif-bike">
					<img class="img-responsive" src="/dist/assets/images/continental/gt/gt-specification.png" alt="specification">
					<div class="specif-details">
						<div class="posi-abso">
							<span>Length 2140 mm</span>
						</div>
					</div>
					<div class="specif-details spd-btm">
						<div class="posi-abso">
							<span>Wheelbase 1360 mm</span>
						</div>
					</div>
					<div class="specif-details spd-rt">
						<div class="posi-abso">
							<span>Height 1090 mm</span>
						</div>
					</div>
				</div>
				<div class="button-group txt-center">
					<a class="custom-btn hvr-icon-01 cb-black download-btn" href="">Download Specifications</a>
					<a class="custom-btn hvr-icon-01 cb-black cb-bt-bdr" href="">Online Configurator</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--specification [START]-->

<!--banner [START]-->
<section class="sub-section txt-align-btm-mobi">
	<div class="re-banner disp-tbl txt-align-btm-mobi">
		<div class="banner-inner-img disp-tbl-cel">
			<img class="img-responsive desk-767" src="/dist/assets/images/continental/gt/gt-ride.jpg" alt="Royal Enfield">
			<img class="img-responsive mobi-767" src="/dist/assets/images/continental/gt/gt-ride-mobi.jpg" alt="Royal Enfield">
	    </div>
	    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-rt">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
	    			<div class="container-cus container-std">
			    		<div class="txt-box txt-box-mdm align-rt txt-right">
							<h2 class="re-title">"This is a motorcycle with a lot of charisma –<br> a throwback from a bygone era." <span class="mobi-767 icon-arrow-down"></span> <p>- Autocar India</p></h3>
							<a class="custom-btn hvr-icon-01 border-white" href="">Learn More</a>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</section>
<!--banner [END]-->

<!--review [START]-->
<section class="sub-section scroll-section reviews-sub bg-light-gray" id="reviews">
	<div class="container-cus container-mdm">
		<div class="re-title-head">
			<h3 class="re-title">Reviews</h3>
			<div class="disp-tbl rating-star-head">
				<div class="rating-star-main">
					<div class="rating-star-box">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="rating-star-filled" style="width: 70%;">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<span class="rating-point">(50)</span>
			</div>
		</div>
		<div class="grid-three txt-center">
			<div class="carousel carousel-reviews">
				<div class="grid-box carousel-item">
					<div class="inner-box">
						<div class="inner-img">
							<div class="box-circle">
								<img src="/dist/assets/images/continental/gt/gt-profile-01.jpg" alt="">
							</div>
						</div>
						<div class="inner-txt">
							<h3>Suriya</h3>
							<div class="rating-star-main">
								<div class="rating-star-box">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="rating-star-filled" style="width: 70%;">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<p>This is the best bike,also my favorite.</p>
						</div>
					</div>
				</div>
				<div class="grid-box carousel-item">
					<div class="inner-box">
						<div class="inner-img">
							<div class="box-circle">
								<img src="/dist/assets/images/continental/gt/gt-profile-02.jpg" alt="">
							</div>
						</div>
						<div class="inner-txt">
							<h3>Jesus</h3>
							<div class="rating-star-main">
								<div class="rating-star-box">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="rating-star-filled" style="width: 70%;">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<p>This bike has good acceleration and awesome stopping ability. It grips the road in dry or wet surfaces. </p>
						</div>
					</div>
				</div>
				<div class="grid-box carousel-item">
					<div class="inner-box">
						<div class="inner-img">
							<div class="box-circle">
								<img src="/dist/assets/images/continental/gt/gt-profile-03.jpg" alt="">
							</div>
						</div>
						<div class="inner-txt">
							<h3>Lokendra</h3>
							<div class="rating-star-main">
								<div class="rating-star-box">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="rating-star-filled" style="width: 25%;">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<p>Bike is awesome having superior power with torque. Nice bike to entertain you in city ride.</p>
						</div>
					</div>
				</div>
				<div class="grid-box carousel-item">
					<div class="inner-box">
						<div class="inner-img">
							<div class="box-circle">
								<img src="/dist/assets/images/continental/gt/gt-profile-04.jpg" alt="">
							</div>
						</div>
						<div class="inner-txt">
							<h3>Suriya</h3>
							<div class="rating-star-main">
								<div class="rating-star-box">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="rating-star-filled" style="width: 100%;">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<p>This is the best bike,also my favorite.</p>
						</div>
					</div>
				</div>
				<div class="grid-box carousel-item">
					<div class="inner-box">
						<div class="inner-img">
							<div class="box-circle">
								<img src="/dist/assets/images/continental/gt/gt-profile-05.jpg" alt="">
							</div>
						</div>
						<div class="inner-txt">
							<h3>Jesus</h3>
							<div class="rating-star-main">
								<div class="rating-star-box">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="rating-star-filled" style="width: 50%;">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<p>This bike has good acceleration and awesome stopping ability. It grips the road in dry or wet surfaces. </p>
						</div>
					</div>
				</div>
				<div class="grid-box carousel-item">
					<div class="inner-box">
						<div class="inner-img">
							<div class="box-circle">
								<img src="/dist/assets/images/continental/gt/gt-profile-06.jpg" alt="">
							</div>
						</div>
						<div class="inner-txt">
							<h3>Lokendra</h3>
							<div class="rating-star-main">
								<div class="rating-star-box">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="rating-star-filled" style="width: 70%;">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<p>Bike is awesome having superior power with torque. Nice bike to entertain you in city ride.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="button-bottom txt-center">
		<a class="custom-btn hvr-icon-01 cb-black ful-wid-btn-mobi">View All Reviews</a>
	</div>
</section>
<!--review [END]-->

<!--gallery [START]-->
<section class="sub-section scroll-section gallery-sub bg-light-black" id="gallery"> 
	<div class="re-title-head">
		<h3 class="re-title">Gallery</h3>
	</div>
    <div class="grid-four carousel-gallery">
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-01.jpg" alt="" class="img-responsive img-thumbnail">
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-02.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="video-play-overlay">
    			<a class="video-play-btn youtube-play" href="https://www.youtube.com/watch?v=DTbR1gWmxiA"><span class="icon-play"></span></a>
		    </div>
			<!-- <div class="gallery-video-play">
			</div> -->
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-03.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="image-caption">
				<span>SHARED BY@ADDIC</span>
				<a href="" title="twitter" class="icon-tw"></a>
			</div>
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-04.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="image-caption">
				<span>SHARED BY@ADDIC</span>
				<a href="" title="twitter" class="icon-tw"></a>
			</div>
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-05.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="image-caption">
				<span>SHARED BY@ADDIC</span>
				<a href="" title="twitter" class="icon-tw"></a>
			</div>
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-06.jpg" alt="" class="img-responsive img-thumbnail">
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-07.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="image-caption">
				<span>SHARED BY@ADDIC</span>
				<a href="" title="twitter" class="icon-tw"></a>
			</div>
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-08.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="gallery-view-more posi-abso">
				<a href="">
				<div class="disp-tbl">
					<div class="disp-tbl-cel">
						<h2>+65 More</h2>
					</div>
				</div>
				</a>
			</div>
        </div>
    </div>

    <div class="container-cus container-std mobi-767">
    	<div class="gallery-filter-mobile">
    		<ul class="custom-nav">
    			<li class="filter-active"><a>all <span class="icon-arrow-forward"></span></a></li>
    			<li><a>images</a></li>
    			<li><a>videos</a></li>
			</ul>
    	</div>
    </div>
</section>
<!--gallery [END]-->

<section class="sub-section bg-light-black padding-none">
	<div class="re-title-head desk-767">
		<h3 class="re-title">Recommended Gear</h3>
	</div>
	<div class="re-banner disp-tbl txt-align-btm-mobi">
		<div class="banner-inner-img disp-tbl-cel">
			<img class="img-responsive desk-767" src="/dist/assets/images/continental/gt/gt-recommented.jpg" alt="Royal Enfield">
			<img class="img-responsive mobi-767" src="/dist/assets/images/continental/gt/gt-recommented-mobi.jpg" alt="Royal Enfield">
	    </div>
	    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-lt">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
	    			<div class="container-cus container-std">
			    		<div class="txt-box txt-left">
							<h2 class="re-title">Leathers, denims and
							a lot of attitude. 
							Look like the rockers 
							and racers from 60's. <span class="mobi-767 icon-arrow-down"></span></h3>
							<a class="custom-btn hvr-icon-01 border-white" href="">Know More</a>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</section>

<section class="sub-section bg-light-black" id="ride-route-map"> 
	<div class="re-title-head">
		<h3 class="re-title">Rides Around You</h3>
	</div>
	<!--Rides Details-->
	<div class="h-section all-rides-map-view-main">
		<div class="re-banner disp-tbl">
			<div class="banner-inner-img disp-tbl-cel map-view-ride-map">
		    	<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d248630.52142397212!2d77.5116425684111!3d13.17173650287263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C+Karnataka!3m2!1d12.9715987!2d77.5945627!4m5!1s0x3bb1e445ebfcea17%3A0x1639f72959196608!2sNandi+Hills%2C+Karnataka!3m2!1d13.370154!2d77.6834551!5e0!3m2!1sen!2sin!4v1516637519196" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>  -->

		    	<!--google map place here-->
		    	<div class="map">
				    <div id="map-canvas"></div>
				</div>
				<!--google map place here-->
		    </div>
		    <div class="banner-inner-txt posi-abso disp-tbl-cel">
	    		<div class="disp-tbl">
	    			<div class="disp-tbl-cel">
		    			<div class="container-cus container-std">
		    				<!--view ride-->
							<div class="map-view-ride selected">
								<div class="inner-txt">
									<div class="mvr-left">
	    								<img class="img-responsive" src="/dist/assets/images/rides/route-01.jpg" alt="Himalayan">
									</div>
									<div class="mvr-middle">
										<h3>Delhi to Chandigarh</h3>
										<ul class="custom-nav custom-nav-bord-rt">
											<li><a href="">400 KMS</a></li>
										</ul>
										<a class="custom-btn hvr-icon-01 cb-black" href="">View Route</a>
									</div>
									<div class="mvr-right txt-right">
	    								<img class="img-responsive" src="/dist/assets/images/icon-route-map.png" alt="Himalayan">
									</div>
								</div>
							</div>
		    				<!--end of view ride-->
		    				<!--view ride-->
							<div class="map-view-ride">
								<div class="inner-txt">
									<div class="mvr-left">
	    								<img class="img-responsive" src="/dist/assets/images/rides/route-02.jpg" alt="Himalayan">
									</div>
									<div class="mvr-middle">
										<h3>Chandigarh to Shimla</h3>
										<ul class="custom-nav custom-nav-bord-rt">
											<li><a href="">140 kms</a></li>
										</ul>
										<a class="custom-btn hvr-icon-01 cb-black" href="">View Ride</a>
									</div>
									<div class="mvr-right txt-right">
	    								<img class="img-responsive" src="/dist/assets/images/icon-route-map.png" alt="Himalayan">
									</div>
								</div>
							</div>
		    				<!--end of view ride-->
		    				<!--view ride-->
							<div class="map-view-ride">
								<div class="inner-txt">
									<div class="mvr-left">
	    								<img class="img-responsive" src="/dist/assets/images/rides/route-03.jpg" alt="Himalayan">
									</div>
									<div class="mvr-middle">
										<h3>Shimla to Manali</h3>
										<ul class="custom-nav custom-nav-bord-rt">
											<li><a href="">220 Kms</a></li>
										</ul>
										<a class="custom-btn hvr-icon-01 cb-black" href="">View Ride</a>
									</div>
									<div class="mvr-right txt-right">
	    								<img class="img-responsive" src="/dist/assets/images/icon-route-map.png" alt="Himalayan">
									</div>
								</div>
							</div>
		    				<!--end of view ride-->
							<div class="button-view-all-ride">
								<a class="custom-btn hvr-icon-01 cb-black" href="">View All Rides</a>
							</div>
						</div>
					</div>
				</div>
		    </div>
	    </div>
	</div>
	<!--End of Rides Details-->
</section>

<!--trip-stories [START]-->
<section class="sub-section bg-light-black trip-stories">
	<div class="re-title-head">
		<h3 class="re-title">Trip Stories</h3>
	</div>
	<div class="carousel carousel-grid-three">
		<div class="carousel-item">
			<div class="scale-image">
				<div class="inner-image">
					<img class="img-responsive" src="/dist/assets/images/trip-stories-01.jpg" alt="Trip Stories">
				</div>
				<div class="inner-txt">
					<h2>Solo trip through Europe</h2>
					<p>A transcontinental ride across the famous biking trails of Europe, making new friends and memories all along the way.</p>
					<a class="custom-btn hvr-icon-01">Find Out More</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="scale-image">
				<div class="inner-image">
					<img class="img-responsive" src="/dist/assets/images/trip-stories-02.jpg" alt="Trip Stories">
				</div>
				<div class="inner-txt">
					<h2>Weekend GT Ride</h2>
					<p>A weekend ride on my Continental GT around the outskirts of Miami.</p>
					<a class="custom-btn hvr-icon-01">Find Out More</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="scale-image">
				<div class="inner-image">
					<img class="img-responsive" src="/dist/assets/images/trip-stories-03.jpg" alt="Trip Stories">
				</div>
				<div class="inner-txt">
					<h2>#Reunion in the hills</h2>
					<p>Riding out to the hills of Manali to meet up with some of my riding mates from back in the day.</p>
					<a class="custom-btn hvr-icon-01">Find Out More</a>
				</div>
			</div>
		</div>
	</div>
	<!--Find Out More || Trip stories || It will show only after 767px this option for only mobiles [START]-->
	<div class="container-cus container-ful mobi-767">
		<a class="custom-btn hvr-icon-01 ful-wid-btn-mobi">Find Out More</a>
	</div>
	<!--Find Out More || Trip stories || It will show only after 767px this option for only mobiles [END]-->
</section>
<!--end of trip-stories [END]-->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUOtwBc8g2qHh_RAje7KS8TmAe3y3zbr0&v=3&sensor=true&libraries=places"></script>
<script type="text/javascript">
    function initialize() {

        var coords = new google.maps.LatLng(12.95396, 77.4908553);
        var options = {
            zoom: 10,
            center: coords,
            mapTypeControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map-canvas"), options);
        styleMap();
    }

    //style the map
    function styleMap() {
        var roadAtlasStyles = [
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                    { "saturation": -100 },
                    { "lightness": -8 },
                    { "gamma": 1.18 }
                ]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    { "saturation": -100 },
                    { "gamma": 1 },
                    { "lightness": -24 }
                ]
            }, {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "administrative",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "transit",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "road",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "administrative",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "landscape",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "poi",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
            }
        ]
        var styledMapOptions = {
        };
        var usRoadMapType = new google.maps.StyledMapType(roadAtlasStyles, styledMapOptions);
        map.mapTypes.set('usroadatlas', usRoadMapType);
        map.setMapTypeId('usroadatlas');
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>