---
layout: base.hbs
---
<!--secondary-sticky-header [START]-->
<section class="follow-sticky-header secondary-sticky-header">
	<div class="container-cus container-std">
		<div class="fsh-left">
			<a class="fsh-re" href="dist/index.html"><img src="/dist/assets/images/logo.png" alt="Logo"></a>
			<a class="fsh-head" href="">Stores</a>
		</div>
		<div class="fsh-right">
			<a class="custom-nav-trigger mobi-767"><span class="icon-arrow-forward"></span></a>
			<ul class="custom-nav custom-nav-bord-rt nav-sticky-subpage">
			    <li><a class="active" href="dist/dealers.html#find-stores">Find a Store</a></li>      
			    <li><a href="dist/dealers.html">Find a Service Centre</a></li>
			    <li><a href="dist/dealers.html#stores-arround-world">Stores Around the World</a></li>
			</ul>
		</div>
	</div>
</section>
<!--secondary-sticky-header [END]-->

<section class="sub-section" id="find-stores">
	<div class="re-banner disp-tbl txt-align-btm-mobi">
		<div class="banner-inner-img disp-tbl-cel">
	    	<img class="img-responsive" src="/dist/assets/images/dealers-stores-arround-world-02.jpg" alt="Royal Enfield">
	    </div>
	    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-rt">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
	    			<div class="container-cus container-std">
			    		<div class="txt-box">
							<h2 class="re-title">Stores From Around the World <span class="mobi-767 icon-arrow-down"></span></h2>
							<p>Present in more than 50 countries, Royal Enfield stores provide a glimpse of the company's rich motorcycle heritage.</p>
							<a href="dist/dealers-list.html" class="custom-btn hvr-icon-01">Explore East London Store</a>
						</div>
					</div>
				</div>
			</div>
	    </div>
		<!--floating arrow-->
		<div class="scroll-down-box">
			<div class="scroll-down-inner floating-delay">
		        <a class="scroll-down"><img src="/dist/assets/images/icon-arrow-down.png"></a>
		    </div>
		</div>
		<!--end of floating arrow-->
	</div>
</section>

<section class="sub-section this-scroll-up" id="stores-arround-world"> 
    <div class="wrapper-slider-progress">
    	<div class="carousel-slider-progress">
    		<div>
				<div class="re-banner disp-tbl txt-align-btm-mobi">
					<div class="banner-inner-img disp-tbl-cel">
				    	<img class="img-responsive" src="/dist/assets/images/dealers-stores-arround-world.jpg" alt="Royal Enfield">
				    </div>
				    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-lt">
						<div class="disp-tbl">
							<div class="disp-tbl-cel">
				    			<div class="container-cus container-std">
						    		<div class="txt-box align-rt">
										<h2 class="re-title">Stores From Around the World <span class="mobi-767 icon-arrow-down"></span></h2>
										<p class="desk-767">Present in more than 50 countries, Royal Enfield stores provide a glimpse into the company’s rich motorcycle heritage.</p>
										<a href="dist/dealers-list.html" class="custom-btn hvr-icon-01">Explore East London Store</a>
									</div>
								</div>
							</div>
						</div>
				    </div>
				</div>
		    </div>
    		<div>
				<div class="re-banner disp-tbl txt-align-btm-mobi">
					<div class="banner-inner-img disp-tbl-cel">
				    	<img class="img-responsive" src="/dist/assets/images/dealers-find-stores.jpg" alt="Royal Enfield">
				    </div>
				    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-lt">
						<div class="disp-tbl">
							<div class="disp-tbl-cel">
				    			<div class="container-cus container-std">
						    		<div class="txt-box">
										<h2 class="re-title">Stores From Around the World <span class="mobi-767 icon-arrow-down"></span></h2>
										<p class="desk-767">Present in more than 50 countries, Royal Enfield stores provide a glimpse into the company’s rich motorcycle heritage.</p>
										<a href="dist/dealers-list.html" class="custom-btn hvr-icon-01">Explore East London Store</a>
									</div>
								</div>
							</div>
						</div>
				    </div>
				</div>
		    </div>
    	</div>
		<div class="slider-progress">
			<div class="progress"></div>
		</div>
	</div>
</section>

<!--trip-stories [START]-->
<section class="sub-section bg-light-black trip-stories">
	<div class="carousel carousel-grid-three">
		<div class="carousel-item">
			<div class="scale-image">
				<img class="img-responsive" src="/dist/assets/images/finace-motorcycle.jpg" alt="Trip Stories">
			</div>
			<div class="inner-txt">
				<h2>Finance A Motorcycle</h2>
				<p>Owning a Royal Enfield has never been easier. We have various finance options to help you buy your dream motorcycle.</p>
				<a class="custom-btn hvr-icon-01">Find Out More</a>
			</div>
		</div>
		<div class="carousel-item">
			<div class="scale-image">
				<img class="img-responsive" src="/dist/assets/images/motorcycle-accessories.jpg" alt="Trip Stories">
			</div>
			<div class="inner-txt">
				<h2>Motorcycle Accessories</h2>
				<p>Designed specifically for Royal Enfield motorcycles, these accessories add convenience, utility and uniqueness to your ride.</p>
				<a class="custom-btn hvr-icon-01">Find Out More</a>
			</div>
		</div>
		<div class="carousel-item">
			<div class="scale-image">
				<img class="img-responsive" src="/dist/assets/images/lifestyle-gear.jpg" alt="Trip Stories">
			</div>
			<div class="inner-txt">
				<h2>Lifestyle Gear</h2>
				<p>Be safe in style. Enhance every riding experience with gear specially crafted to meet the needs of a Royal Enfield rider.</p>
				<a class="custom-btn hvr-icon-01">Find Out More</a>
			</div>
		</div>
	</div>
	<!--Find Out More || Trip stories || It will show only after 767px this option for only mobiles [START]-->
	<div class="container-cus container-ful mobi-767">
		<a class="custom-btn hvr-icon-01 ful-wid-btn-mobi">Find Out More</a>
	</div>
	<!--Find Out More || Trip stories || It will show only after 767px this option for only mobiles [END]-->
</section>
<!--end of trip-stories [END]-->