---
layout: base.hbs
---
<div class="re-banner disp-tbl">
	<div class="banner-inner-img disp-tbl-cel">
    	<img class="img-responsive" src="/dist/assets/images/banner-dealers-details.jpg" alt="Royal Enfield">
    </div>
</div>

<!--dealers-rating-details [START]-->
<section class="dealers-rating-details bg-gray">
	<div class="container-cus container-std">
		<div class="disp-tbl">
			<div class="disp-tbl-cel wid-60">
				<h1>Ajit Motors</h1>
				<div class="rating-star-main">
					<div class="rating-star-box">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="rating-star-filled" style="width: 50%;">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<span class="rating-point">(31)</span>
				<div class="grid-two">
					<div class="grid-box">
						<div class="addr-box">
							<p>Trimmo Road, New Sant nagar,<br> Gurdaspur, Punjab-143521</p>
						</div>
						<p>Phone: +0207 739 0343 <br>
						Email: <a href="mailto:ajitmotors@royalenfield.com">ajitmotors@royalenfield.com</a> </p>
					</div>
					<div class="grid-box">
						<p>Timings<br>09 AM - 07 PM (All days of the week)</p>
						<div class="store-facility">
							<div class="store-point">
								<span class="icon-re-store-point"></span>
								<p>Store</p>
							</div>
							<div class="store-point deactive">
								<span class="icon-re-service-point"></span>
								<p>Service &amp; Parts</p>
							</div>
						</div>
					</div>
				</div>
				<div class="button-group">
					<a href="#" class="custom-btn cb-black hvr-icon-01">Book an Appointment</a>
					<a href="#" class="custom-btn cb-black hvr-icon-01">Book a Service</a>
					<a href="#" class="custom-btn cb-black hvr-icon-01">Get Directions</a>
				</div>
			</div>

			<div class="disp-tbl-cel wid-40">
				<div class="review-desc txt-right">
					<div class="box-circle">
						<img class="img-responsive" src="/dist/assets/images/reviewer-01.jpg" alt="Royal Enfield">
					</div>
					<p>"We've seen a growing interest in motorcycles and motorcycling lifestyle since our launch. The future is bright for our community." </p>
					<h4 class="r-name">- Sandeep Singh</h4>
				</div>
			</div>
		</div>
	</div>
</section>
<!--dealers-rating-details [END]-->

<section class="sub-section">
	<div class="re-banner disp-tbl txt-align-btm-mobi-black-strip">
		<div class="banner-inner-img disp-tbl-cel">
	    	<img class="img-responsive" src="/dist/assets/images/ajith-motors.jpg" alt="Royal Enfield">
	    </div>
	    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-rt">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
	    			<div class="container-cus container-std">
			    		<div class="txt-box align-rt">
							<h2 class="re-title">Ajit Motors</h2>
							<p>Gurdaspur is a city of Punjab which is only 10 kms. away from international border of India &amp; Pakistan and is home to many passionate riders. Royal Enfield brand name in itself is an inspiration to many dealers. The showroom is centrally located, integrated with an after-sales service facility featuring service bays and a spare parts inventory. </p>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</section>

<!--gallery [START]-->
<section class="sub-section scroll-section gallery-sub bg-light-black" id="gallery"> 
	<div class="re-title-head">
		<h3 class="re-title">Gallery</h3>
	</div>
    <div class="grid-four carousel-gallery">
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-01.jpg" alt="" class="img-responsive img-thumbnail">
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-02.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="video-play-overlay">
    			<a class="video-play-btn youtube-play" href="https://www.youtube.com/watch?v=DTbR1gWmxiA"><span class="icon-play"></span></a>
		    </div>
			<!-- <div class="gallery-video-play">
			</div> -->
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-03.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="image-caption">
				<span>SHARED BY@ADDIC</span>
				<a href="" title="twitter" class="icon-tw"></a>
			</div>
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-04.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="image-caption">
				<span>SHARED BY@ADDIC</span>
				<a href="" title="twitter" class="icon-tw"></a>
			</div>
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-05.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="image-caption">
				<span>SHARED BY@ADDIC</span>
				<a href="" title="twitter" class="icon-tw"></a>
			</div>
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-06.jpg" alt="" class="img-responsive img-thumbnail">
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-07.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="image-caption">
				<span>SHARED BY@ADDIC</span>
				<a href="" title="twitter" class="icon-tw"></a>
			</div>
        </div>
        <div class="grid-box carousel-item">
			<img src="/dist/assets/images/continental/gt/gt-gallery-08.jpg" alt="" class="img-responsive img-thumbnail">
			<div class="gallery-view-more posi-abso">
				<a href="">
				<div class="disp-tbl">
					<div class="disp-tbl-cel">
						<h2>+65 More</h2>
					</div>
				</div>
				</a>
			</div>
        </div>
    </div>

    <div class="container-cus container-std mobi-767">
    	<div class="gallery-filter-mobile">
    		<ul class="custom-nav">
    			<li class="filter-active"><a>all <span class="icon-arrow-forward"></span></a></li>
    			<li><a>images</a></li>
    			<li><a>videos</a></li>
			</ul>
    	</div>
    </div>
</section>
<!--gallery [END]-->

<!--What’s New [START]-->
<section class="sub-section whats-new-main bg-gray"> 
	<div class="re-title-head">
		<div class="container-cus container-std">
			<h3 class="re-title">What’s New!</h3>
		</div>
	</div>
	<div class="container-cus container-ful">
		<!--What’s New list-box-->
		<div class="grid-three whats-new-box">
			<!--What’s New box-->
			<div class="grid-box scale-image">
				<div class="inner-box">
					<div class="inner-image">
						<a href="#"><img class="img-responsive" src="/dist/assets/images/whatsnew/whatsnew-01.jpg" alt="Royal Enfield"></a>
					</div>
					<div class="inner-content">
						<h2>BBQ night at the store</h2>
						<p>A bunch of old friends, riders and motorcycle lovers catching up at the store!</p>
						<ul class="list-auto">
							<li><i class="icon-date"></i><span>2nd Nov, 2017</span></li>
							<li><i class="icon-destination"></i><span>50 km</span></li>
							<li><i class="icon-time"></i><span>8 Hr ago</span></li>
						</ul>
						<a href="#" class="custom-btn cb-black hvr-icon-01">View this Ride</a>
					</div>
				</div>
			</div>
			<!--end of whats new box-->
			<!--What’s New box-->
			<div class="grid-box scale-image">
				<div class="inner-box">
					<div class="inner-image">
						<a href="#"><img class="img-responsive" src="/dist/assets/images/whatsnew/whatsnew-02.jpg" alt="Royal Enfield"></a>
					</div>
					<div class="inner-content">
						<h2>Short weekend ride</h2>
						<p>A run to the sea on the route from London to Brighton on the M23</p>
						<ul class="list-auto">
							<li><i class="icon-date"></i><span>2nd Nov, 2017</span></li>
							<li><i class="icon-destination"></i><span>50 km</span></li>
							<li><i class="icon-time"></i><span>8 Hr ago</span></li>
						</ul>
						<a href="#" class="custom-btn cb-black hvr-icon-01">View this Ride</a>
					</div>
				</div>
			</div>
			<!--end of whats new box-->
			<!--What’s New box-->
			<div class="grid-box scale-image">
				<div class="inner-box">
					<div class="inner-image">
						<a href="#"><img class="img-responsive" src="/dist/assets/images/whatsnew/whatsnew-03.jpg" alt="Royal Enfield"></a>
					</div>
					<div class="inner-content">
						<h2>Heritage ride to Redditch</h2>
						<p>Visiting the birthplace of Royal Enfield with one off ride to Redditch with plenty of stops in between.</p>
						<ul class="list-auto">
							<li><i class="icon-date"></i><span>2nd Nov, 2017</span></li>
							<li><i class="icon-destination"></i><span>50 km</span></li>
							<li><i class="icon-time"></i><span>8 Hr ago</span></li>
						</ul>
						<a href="#" class="custom-btn cb-black hvr-icon-01">View this Ride</a>
					</div>
				</div>
			</div>
			<!--end of whats new box-->
		</div>
		<!--end of What’s New list-box-->
		<!--What’s New list-box-->
		<div class="grid-three whats-new-box">
			<!--What’s New box-->
			<div class="grid-box scale-image">
				<div class="inner-box">
					<div class="inner-image">
						<a href="#"><img class="img-responsive" src="/dist/assets/images/whatsnew/whatsnew-04.jpg" alt="Royal Enfield"></a>
					</div>
					<div class="inner-content">
						<h2>Week Long Ride</h2>
						<p>A bunch of old friends, riders and motorcycle lovers catching up at the store!</p>
						<ul class="list-auto">
							<li><i class="icon-date"></i><span>2nd Nov, 2017</span></li>
							<li><i class="icon-destination"></i><span>50 km</span></li>
							<li><i class="icon-time"></i><span>8 Hr ago</span></li>
						</ul>
						<a href="#" class="custom-btn cb-black hvr-icon-01">View this Ride</a>
					</div>
				</div>
			</div>
			<!--end of whats new box-->
			<!--What’s New box-->
			<div class="grid-box scale-image">
				<div class="inner-box">
					<div class="inner-image">
						<a href="#"><img class="img-responsive" src="/dist/assets/images/whatsnew/whatsnew-05.jpg" alt="Royal Enfield"></a>
					</div>
					<div class="inner-content">
						<h2>Reunion with friends old and new</h2>
						<p>Curvy roads, misty sky and some old friends reunite for the first time covering the Bogota Highway.</p>
						<ul class="list-auto">
							<li><i class="icon-date"></i><span>2nd Nov, 2017</span></li>
							<li><i class="icon-destination"></i><span>50 km</span></li>
							<li><i class="icon-time"></i><span>8 Hr ago</span></li>
						</ul>
						<a href="#" class="custom-btn cb-black hvr-icon-01">View this Ride</a>
					</div>
				</div>
			</div>
			<!--end of whats new box-->
			<!--What’s New box-->
			<div class="grid-box scale-image">
				<div class="inner-box">
					<div class="inner-image">
						<a href="#"><img class="img-responsive" src="/dist/assets/images/whatsnew/whatsnew-06.jpg" alt="Royal Enfield"></a>
					</div>
					<div class="inner-content">
						<h2>Tree Plantation@ Mount Rue</h2>
						<p>Lining up 700 tress at the centre of the town with riders and their families.</p>
						<ul class="list-auto">
							<li><i class="icon-date"></i><span>2nd Nov, 2017</span></li>
							<li><i class="icon-destination"></i><span>50 km</span></li>
							<li><i class="icon-time"></i><span>8 Hr ago</span></li>
						</ul>
						<a href="#" class="custom-btn cb-black hvr-icon-01">View this Ride</a>
					</div>
				</div>
			</div>
			<!--end of whats new box-->
		</div>
		<!--end of What’s New list-box-->

		<div class="load-more txt-center">
			<div class="container-cus container-std">
				<a class="custom-btn hvr-icon-01 cb-black ful-wid-btn-mobi">Load More</a>
			</div>
		</div>
	</div>
</section>
<!--What’s New [END]-->

<!--reviewers [START]-->
<section class="sub-section reviewers-main"> 
	<div class="re-title-head">
		<div class="container-cus container-std">
			<h3 class="re-title">Reviews</h3>
		</div>
	</div>
	<div class="reviewers-box">
		<div class="reviewers-left">
			<div class="box-circle">
				<img class="img-responsive" src="/dist/assets/images/reviewer-02.jpg" alt="Royal Enfield">
			</div>
			<h3>Sagar Bhat</h3>
			<p>Cambridge Heath Road, London </p>
			<p>22nd January, 2017</p>
			<div class="rating-star-main">
				<div class="rating-star-box">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="rating-star-filled" style="width: 50%;">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<span class="rating-point">(4/5)</span>
		</div>
		<div class="reviewers-right">
			<h3>Fantastic, I’m happy to receive consistent good service! Thanks....</h3>
			<h4>INFORMATION</h4>
			<p>The experience was well, I was informed about the Finance options in quite some detail.</p>
			<h4>sales</h4>
			<p>All the information regarding sales, finance, maintaince and servicing was provided, it was a seamless exprience</p>
			<h4>test ride</h4>
			<p>I was provided with an immediate test ride, paper work was simple and I was could get my hands on the motorcycle without any wait.</p>
		</div>
	</div>
	<div class="txt-center">
		<a href="" class="custom-btn hvr-icon-01 cb-black">View All Reviews</a>
	</div>
</section>
<!--reviewers [END]-->

<div class="sub-section bg-light-black"> 
	<div class="re-title-head">
		<h3 class="re-title">Locate Us</h3>
	</div>
	
    <!--google map place here-->
    <div class="map">
        <div id="map-canvas"></div>
    </div>
    <!--google map place here-->
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUOtwBc8g2qHh_RAje7KS8TmAe3y3zbr0&v=3&sensor=true&libraries=places"></script>
<script type="text/javascript">
    //Google Maps
    var map;
    image = 'assets/images/icon-re-map.png';
    var markers = [];
    var locations = [["ONE Ride to Balaji Mandir Ausa", 1332, "18.4087934,76.56038280000007", "Prisha Motors, Ausa Road, Old Aadarsh Colony, Mantri Nagar, Latur, Maharashtra, India", "dealer", "1332", "dealer"]];


    function initialize() {
        var myLatlng = new google.maps.LatLng(20.5937, 78.9629);
        var mapOptions = {
            zoom: 7,
            center: myLatlng,
            opened: true,
            disableDefaultUI: true, // a way to quickly hide all controls
            zoomControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        }

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        styleMap();
        setMarkers(locations);
    }

    //style the map
    function styleMap() {
        var roadAtlasStyles = [
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                    { "saturation": -100 },
                    { "lightness": -8 },
                    { "gamma": 1.18 }
                ]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    { "saturation": -100 },
                    { "gamma": 1 },
                    { "lightness": -24 }
                ]
            }, {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "administrative",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "transit",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "road",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "administrative",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "landscape",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
                "featureType": "poi",
                "stylers": [
                    { "saturation": -100 }
                ]
            }, {
            }
        ]
        var styledMapOptions = {
        };
        var usRoadMapType = new google.maps.StyledMapType(roadAtlasStyles, styledMapOptions);
        map.mapTypes.set('usroadatlas', usRoadMapType);
        map.setMapTypeId('usroadatlas');
    }

    function setMarkers(locations) {
        clearOverlays();
        var infowindow = new google.maps.InfoWindow();
        var marker, i, contentString, count;
        for (i = 0; i < locations.length; i++) {


            var prtOfLatLng = locations[i][2].split(',');
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(prtOfLatLng[0], prtOfLatLng[1]),
                map: map,
                opened: true,
                animation: google.maps.Animation.DROP,  //use DROP or BOUNCE
                icon: image
            });
            markers.push(marker);
        }
    }

    function clearOverlays() {
        if (markers) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>