---
layout: base.hbs
---

<div class="explore-tags-main explore-tags-preview-main">
	<div class="tags-head-back">
		<div class="container-cus container-std">
			<a class="custom-btn hvr-icon-01 hvr-icon-back" href="dist/explore-tags.html">Back to all Tags</a>
		</div>
	</div>
	<div class="container-cus container-sml">
		<div class="tags-head">
			<a class="tags"><span class="txt-maroon">#</span>SundayFunday </a>
		</div>

		<!--masonry-grid [START]-->
		<div class="masonry-grid">
			<!--grid sizer-->
		    <div class="grid-sizer"></div>
		    <!--grid sizer-->
			<div class="grid-item">
		    	<a href="#">
				    <img src="/dist/assets/images/explore-tags/preview/01.jpg" alt="tag" /> 
				    <!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
			</div>
			<div class="grid-item">
		    	<a href="#">
				    <img src="/dist/assets/images/explore-tags/preview/02.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
			</div>
			<div class="grid-item">
		    	<a href="#">
			    	<img src="/dist/assets/images/explore-tags/preview/03.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
			</div>
		    <div class="grid-item">
		    	<a href="#">
			        <img src="/dist/assets/images/explore-tags/preview/04.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
		    </div>
		    <div class="grid-item">
		    	<a href="#">
			        <img src="/dist/assets/images/explore-tags/preview/05.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
		    </div>
		    <div class="grid-item grid-02">
		    	<a href="#">
			        <img src="/dist/assets/images/explore-tags/preview/06.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
		    </div>
		    <div class="grid-item grid-02">
		    	<a href="#">
			        <img src="/dist/assets/images/explore-tags/preview/07.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
		    </div>
		    <div class="grid-item">
		    	<a href="#">
			        <img src="/dist/assets/images/explore-tags/preview/09.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
		    </div>
		    <div class="grid-item">
		    	<a href="#">
			        <img src="/dist/assets/images/explore-tags/preview/08.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
		    </div>
		    <div class="grid-item">
		    	<a href="#">
			        <img src="/dist/assets/images/explore-tags/preview/05.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
		    </div>
		    <div class="grid-item">
		    	<a href="#">
			        <img src="/dist/assets/images/explore-tags/preview/06.jpg" alt="tag" /> 
					<!--image caption [START]-->
					<div class="image-caption">
						<span>SHARED BY <i>@SSMITHRIDES</i></span>
						<a href="" title="twitter" class="icon-tw"></a>
					</div>
					<!--image caption [END]-->
				</a>
		    </div>
		</div>
		<!--masonry-grid [END]-->
	</div>

	<div class="button-bottom load-more-bottom">
		<div class="container-cus container-std">
			<a href="#" class="custom-btn hvr-icon-01 cb-bt-bdr">Load More</a>
		</div>
	</div>
</div>