---
layout: base.hbs
---
<!--secondary-sticky-header [START]-->
<section class="follow-sticky-header secondary-sticky-header">
	<div class="container-cus container-std">
		<div class="fsh-left">
			<a class="fsh-re" href="dist/index.html"><img src="/dist/assets/images/logo.png" alt="Logo"></a>
			<a class="fsh-head" href="">Gear</a>
		</div>
		<div class="fsh-right">
			<a class="custom-nav-trigger mobi-767"><span class="icon-arrow-forward"></span></a>
			<ul class="custom-nav custom-nav-bord-rt nav-sticky-subpage">
			    <li><a href="">Protective Gear</a></li>
			    <li><a href="">Urban Gear</a></li>
			    <li><a href="">Essentials</a></li>
			    <li><a href="">Find Your Gear</a></li> 
			</ul>
		</div>
	</div>
</section>
<!--secondary-sticky-header [END]-->

<section class="sub-section"> 
	<div class="carousel carousel-slider-dots">
		<div>
			<div class="re-banner disp-tbl txt-align-btm-mobi">
				<div class="banner-inner-img disp-tbl-cel">
			    	<img class="img-responsive" src="/dist/assets/images/gear-slider-01.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel bg-gradient-rt">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box align-rt">
									<h2 class="re-title">Essentials <span class="mobi-767 icon-arrow-down"></span></h2>
									<p>Designed to help. Built to last. The range of accessories enhance your lifestyle while adding convenience to it.</p>
									<a href="" class="custom-btn hvr-icon-01">Shop Now</a>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<div>
			<div class="re-banner disp-tbl txt-align-btm-mobi">
				<div class="banner-inner-img disp-tbl-cel">
			    	<img class="img-responsive" src="/dist/assets/images/gear-slider-01.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box align-rt">
									<h2 class="re-title">Essentials <span class="mobi-767 icon-arrow-down"></span></h2>
									<p>Designed to help. Built to last. The range of accessories enhance your lifestyle while adding convenience to it.</p>
									<a href="" class="custom-btn hvr-icon-01">Shop Now</a>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<div>
			<div class="re-banner disp-tbl txt-align-btm-mobi">
				<div class="banner-inner-img disp-tbl-cel">
			    	<img class="img-responsive" src="/dist/assets/images/gear-slider-01.jpg" alt="Royal Enfield">
			    </div>
			    <div class="banner-inner-txt posi-abso disp-tbl-cel">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
			    			<div class="container-cus container-std">
					    		<div class="txt-box align-rt">
									<h2 class="re-title">Essentials <span class="mobi-767 icon-arrow-down"></span></h2>
									<p>Designed to help. Built to last. The range of accessories enhance your lifestyle while adding convenience to it.</p>
									<a href="" class="custom-btn hvr-icon-01">Shop Now</a>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
	</div>
</section>

<section class="sub-section bg-light-black categories-main">
	<div class="re-title-head">
		<h3 class="re-title">Categories</h3>
	</div>
	<div class="grid-three">
		<!--categories box-->
		<div class="grid-box">
			<div class="categories-box scale-image">
				<div class="categories-inner-img">
			    	<img class="img-responsive" src="/dist/assets/images/categories-gloves.jpg" alt="Royal Enfield">
			    </div>
			    <div class="categories-inner-txt posi-abso">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
				    		<div class="txt-box txt-center">
								<h3>Gloves</h3>
								<a href="" class="custom-btn hvr-icon-01">Shop Now</a>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<!--end of categories box-->
		<!--categories box-->
		<div class="grid-box">
			<div class="categories-box scale-image">
				<div class="categories-inner-img">
			    	<img class="img-responsive" src="/dist/assets/images/categories-helmets.jpg" alt="Royal Enfield">
			    </div>
			    <div class="categories-inner-txt posi-abso">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
				    		<div class="txt-box txt-center">
								<h3>Helmets</h3>
								<a href="" class="custom-btn hvr-icon-01">Shop Now</a>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<!--end of categories box-->
		<!--categories box-->
		<div class="grid-box">
			<div class="categories-box scale-image">
				<div class="categories-inner-img">
			    	<img class="img-responsive" src="/dist/assets/images/categories-boots.jpg" alt="Royal Enfield">
			    </div>
			    <div class="categories-inner-txt posi-abso">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
				    		<div class="txt-box txt-center">
								<h3>Boots</h3>
								<a href="" class="custom-btn hvr-icon-01">Shop Now</a>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<!--end of categories box-->
		<!--categories box-->
		<div class="grid-box">
			<div class="categories-box scale-image">
				<div class="categories-inner-img">
			    	<img class="img-responsive" src="/dist/assets/images/categories-jackets.jpg" alt="Royal Enfield">
			    </div>
			    <div class="categories-inner-txt posi-abso">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
				    		<div class="txt-box txt-center">
								<h3>Jackets</h3>
								<a href="" class="custom-btn hvr-icon-01">Shop Now</a>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<!--end of categories box-->
		<!--categories box-->
		<div class="grid-box">
			<div class="categories-box scale-image">
				<div class="categories-inner-img">
			    	<img class="img-responsive" src="/dist/assets/images/categories-belts.jpg" alt="Royal Enfield">
			    </div>
			    <div class="categories-inner-txt posi-abso">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
				    		<div class="txt-box txt-center">
								<h3>Belts</h3>
								<a href="" class="custom-btn hvr-icon-01">Shop Now</a>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<!--end of categories box-->
		<!--categories box-->
		<div class="grid-box">
			<div class="categories-box scale-image">
				<div class="categories-inner-img">
			    	<img class="img-responsive" src="/dist/assets/images/categories-tshits.jpg" alt="Royal Enfield">
			    </div>
			    <div class="categories-inner-txt posi-abso">
					<div class="disp-tbl">
						<div class="disp-tbl-cel">
				    		<div class="txt-box txt-center">
								<a href="" class="custom-btn hvr-icon-01 view-all-btn">View All Categories</a>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<!--end of categories box-->
	</div>
</section>

<section class="rides-events">
	<div class="container-cus container-ful">
		<div class="carousel carousel-grid-four">
			<div class="carousel-item">
				<div class="scale-image">
					<div class="inner-image">
						<img class="img-responsive" src="/dist/assets/images/protective-gear.jpg" alt="Ride">
					</div>
					<div class="posi-abso overlay-black">
						<div class="disp-tbl">
							<div class="disp-tbl-cel">
								<a class="custom-btn hvr-icon-01 ful-wid-btn-mobi" href="">Protective Gear</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="scale-image">
					<div class="inner-image">
						<img class="img-responsive" src="/dist/assets/images/urban-gear.jpg" alt="Events">
					</div>
					<div class="posi-abso overlay-black">
						<div class="disp-tbl">
							<div class="disp-tbl-cel">
								<a class="custom-btn hvr-icon-01 ful-wid-btn-mobi" href="">Urban Gear</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="scale-image">
					<div class="inner-image">
						<img class="img-responsive" src="/dist/assets/images/essentials.jpg" alt="Events">
					</div>
					<div class="posi-abso overlay-black">
						<div class="disp-tbl">
							<div class="disp-tbl-cel">
								<a class="custom-btn hvr-icon-01 ful-wid-btn-mobi" href="">Essentials</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="scale-image">
					<div class="inner-image"> 
						<img class="img-responsive" src="/dist/assets/images/find-your-gear.jpg" alt="Events">
					</div>
					<div class="posi-abso overlay-black">
						<div class="disp-tbl">
							<div class="disp-tbl-cel">
								<a class="custom-btn hvr-icon-01 ful-wid-btn-mobi" href="">Find your Gear</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
</script>