---
layout: base.hbs
---
<div class="sign-up-main">
	<div class="re-banner banner-sign-up">
		<div class="banner-inner-img">
	    	<!--[BANNER] Here Background Image-->
	    </div>
	    <div class="banner-inner-txt posi-abso">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
	    			<div class="container-cus container-std">
			    		<div class="txt-center">
							<h1 class="re-title">Log in to your <br> Royal Enfield Account</h1>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>

	<div class="sign-up-container">
		<div class="sub-section"> 
			<div class="container-cus container-mdm">
				<div class="carousel carousel-signup-head">
					<div class="carousel-item">
						<div class="inner-box"> 
							<span class="icon-ribbon"></span>
							<p>Interact with Royal Enfield owners across the globe.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-box carousel-item">
							<span class="icon-ribbon"></span>
							<p>Create your own space within the landscape of this community.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-box carousel-item">
							<span class="icon-ribbon"></span>
							<p>Find solutions, share similar experiences with community members.</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="sign-up-form login-form">
					<div class="container-cus container-std">
						<div class="grid-two">
							<div class="grid-box">
								<h2>Log in to your Royal Enfield Account</h2>
								<div class="input-box">
									<input class="input-field" type="text" name="" placeholder="Enter your email address">
									<!-- <p class="input-error">Please Enter your First Name</p> [ERROR MESSAGE IS HERE EXAMPLE]--> 
								</div>
								<div class="input-box">
									<input class="input-field" type="password" name="" placeholder="Password">
									<span class="show-password icon-invisible"></span>
								</div>
								<div class="input-box">
									<button class="custom-btn hvr-icon-01 cb-black login-btn">Log in</button>
									<a class="pass-btn" href="dist/login-forgot-password.html">Forgot Password?</a>
								</div>
							</div>
							<div class="grid-box">
								<h2>Or Sign up via</h2>
								<div class="sign-up-bottom">
									<div class="social-sign-up">
										<div class="divide-element">
											<a href="" class="custom-btn hvr-icon-01 fb">Sign-up with Facebook</a>
										</div>
										<div class="divide-element">
											<a href="" class="custom-btn hvr-icon-01 gg">Sign-up with Google</a>
										</div>
										<div class="divide-element">
											<a href="" class="custom-btn hvr-icon-01 tw">Sign-up with Twitter</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="login-create-acc">
							<h2>New to Royal Enfield.com? </h2>
							<a href="dist/signup.html" class="custom-btn hvr-icon-01 cb-black">Create an Account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>