---
layout: base.hbs
---
<div class="sign-up-main">
	<div class="re-banner banner-sign-up">
		<div class="banner-inner-img">
	    	<!--[BANNER] Here Background Image-->
	    </div>
	    <div class="banner-inner-txt posi-abso">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
	    			<div class="container-cus container-std">
			    		<div class="txt-center">
							<h1 class="re-title">Log in to your<br>Royal Enfield Account</h1>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>

	<div class="sign-up-container">
		<div class="sub-section"> 
			<div class="container-cus container-mdm">
				<div class="carousel carousel-signup-head">
					<div class="carousel-item">
						<div class="inner-box"> 
							<span class="icon-ribbon"></span>
							<p>Interact with Royal Enfield owners across the globe.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-box carousel-item">
							<span class="icon-ribbon"></span>
							<p>Create your own space within the landscape of this community.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-box carousel-item">
							<span class="icon-ribbon"></span>
							<p>Find solutions, share similar experiences with community members.</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="sign-up-form forgot-password-form">
					<div class="container-cus container-std">
						<div class="reset-password-box">
							<h2>Reset your Password</h2>
							<p>Please reset your Password, Make sure both password should be match</p>

							<div class="input-box">
								<input class="input-field" type="password" name="" placeholder="Enter your Password">
								<span class="show-password icon-invisible"></span>
								<!-- <p class="input-error">Please Enter your Password</p> [ERROR MESSAGE IS HERE EXAMPLE]--> 
							</div>
							<div class="input-box">
								<input class="input-field" type="password" name="" placeholder="Re-Enter your Password">
								<span class="show-password icon-invisible"></span>
							</div>

							<div class="divide-element">
								<button class="custom-btn cb-black reset-btn" id="reset-pass-submit">Submit</button>
							</div>
							<div class="divide-element">
								<a class="login-link" href="dist/login.html">Login</a>
							</div>
						</div>

						<div class="reset-pass-thank">
							<p>Thank you for submitting, Your password has been changed.</p>
							<p><a href="dist/login.html">Click here to Login</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>