---
layout: base.hbs
---
<div class="sign-up-main">
	<div class="re-banner banner-sign-up">
		<div class="banner-inner-img">
	    	<!--[BANNER] Here Background Image-->
	    </div>
	    <div class="banner-inner-txt posi-abso">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
	    			<div class="container-cus container-std">
			    		<div class="txt-center">
							<h1 class="re-title">Log in to your<br>Royal Enfield Account</h1>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>

	<div class="sign-up-container">
		<div class="sub-section"> 
			<div class="container-cus container-mdm">
				<div class="carousel carousel-signup-head">
					<div class="carousel-item">
						<div class="inner-box"> 
							<span class="icon-ribbon"></span>
							<p>Interact with Royal Enfield owners across the globe.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-box carousel-item">
							<span class="icon-ribbon"></span>
							<p>Create your own space within the landscape of this community.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-box carousel-item">
							<span class="icon-ribbon"></span>
							<p>Find solutions, share similar experiences with community members.</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="sign-up-form forgot-password-form">
					<div class="container-cus container-std">
						<h2>Forgot password?</h2>
						<p>We will send you a link to reset your password on your mail or an OTP to your registered mobile number</p>
						<div class="input-box">
							<input class="input-field" type="text" name="" placeholder="Enter email address/phone number">
							<!-- <p class="input-error">Please Enter your First Name</p> [ERROR MESSAGE IS HERE EXAMPLE]--> 
						</div>
						<div class="divide-element">
							<button class="custom-btn cb-black reset-btn" id="send-reset-link">Send reset link</button>
							<!-- <<<<<NOTE >>>>> If it's PHONE NUMBER otp page will be open once submit RESET PAGE WILL OPEN (LOGIN-OTP-PASSWORD.HTML) || If it's EMAIL ID sending links after click RESET PAGE WILL OPEN -->
						</div>
						<p class="check-mail-thank">Thank you for submitting, Please check your Mail</p>
						<div class="divide-element">
							<a class="login-link" href="dist/login.html">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>