---
layout: base.hbs
---
<div class="sign-up-main">
	<div class="re-banner banner-sign-up">
		<div class="banner-inner-img">
	    	<!--[BANNER] Here Background Image-->
	    </div>
	    <div class="banner-inner-txt posi-abso">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
	    			<div class="container-cus container-std">
			    		<div class="txt-center">
							<h1 class="re-title">Sign up for Royal Enfield</h1>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>

	<div class="sign-up-container">
		<div class="sub-section"> 
			<div class="container-cus container-mdm">
				<div class="carousel carousel-signup-head">
					<div class="carousel-item">
						<div class="inner-box"> 
							<span class="icon-ribbon"></span>
							<p>Interact with Royal Enfield owners across the globe.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-box carousel-item">
							<span class="icon-ribbon"></span>
							<p>Create your own space within the landscape of this community.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="inner-box carousel-item">
							<span class="icon-ribbon"></span>
							<p>Find solutions, share similar experiences with community members.</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="sign-up-form">
					<div class="container-cus container-std">
						<h2>Create an account on RoyalEnfield.com</h2>
						<div class="grid-two">
							<div class="grid-box">
								<div class="input-box">
									<input class="input-field" type="text" name="" placeholder="Enter your First Name">
									<!-- <p class="input-error">Please Enter your First Name</p> [ERROR MESSAGE IS HERE EXAMPLE]--> 
								</div>
								<div class="input-box">
									<input class="input-field" type="text" name="" placeholder="Enter your Last Name">
								</div>
								<div class="input-box">
									<input class="input-field" type="text" name="" placeholder="Primary Email">
								</div>
								<div class="input-box">
									<input class="input-field" type="number" name="" placeholder="Mobile Number">
								</div>
								<div class="input-box">
									<input class="input-field" type="password" name="" placeholder="Password">
									<span class="show-password icon-invisible"></span>
								</div>
							</div>
							<div class="grid-box">
								<div class="input-box txt-left">
									<p>Select your Gender</p>
									<div class="custom-radio">
	                                    <input type="radio" class="with-font" name="gender" id="male">
	                                    <label for="male"><span>male</span></label>
	                                </div>
									<div class="custom-radio">
	                                    <input type="radio" class="with-font" name="gender" id="female">
	                                    <label for="female"><span>female</span></label>
	                                </div>
								</div>
								<div class="input-box">
									<input class="input-field" id="datepicker_dob" type="text" name="" placeholder="Enter your Date of Birth" readonly="true">
								</div>
								<div class="input-box">
									<input class="input-field" type="text" name="" placeholder="Enter your City">
								</div>
								<div class="input-box">
									<p>Do you own a Royal Enfield Motorcycle?</p>
									<div class="custom-radio">
	                                    <input type="radio" class="with-font" name="moto" id="yes">
	                                    <label for="yes"><span>yes</span></label>
	                                </div>
									<div class="custom-radio">
	                                    <input type="radio" class="with-font" name="moto" id="no">
	                                    <label for="no"><span>no</span></label>
	                                </div>
								</div>
								<div class="input-box">
									<div class="td_bike_dd bike_test_ride_select">Select your Motorcycle</div> 
								</div>
							</div>
						</div>
					</div>

					<!--select motorcyle [START]-->
					<div class="signup-select-bike-container">
						<div class="select_bike_drop">
							<div class="select_bike_drop_wrap">
								<label data-bike="Continental GT">
									<img src="/dist/assets/images/test-ride/gt.jpg">
									<p>Continental GT</p>
									<input type="radio" name="">
								</label>
								<label data-bike="Thunderbird 500">
									<img src="/dist/assets/images/test-ride/Thunderbird500.jpg">
									<p>Thunderbird 500</p>
									<input type="radio" name="">
								</label>
								<label data-bike="Thunderbird 350">
									<img src="/dist/assets/images/test-ride/Thunderbird350.jpg">
									<p>Thunderbird 350</p>
									<input type="radio" name="">
								</label>
								<label data-bike="Bullet 500">
									<img src="/dist/assets/images/test-ride/Bullet500.jpg">
									<p>Bullet 500</p>
									<input type="radio" name="">
								</label>
								<label data-bike="Bullet 350">
									<img src="/dist/assets/images/test-ride/Bullet350.jpg">
									<p>Bullet 350</p>
									<input type="radio" name="">
								</label>
								<label data-bike="Bullet 500">
									<img src="/dist/assets/images/test-ride/Bullet500.jpg">
									<p>Bullet 500</p>
									<input type="radio" name="">
								</label>
								<label data-bike="Thunderbird 500">
									<img src="/dist/assets/images/test-ride/Thunderbird500.jpg">
									<p>Thunderbird 500</p>
									<input type="radio" name="">
								</label>
							</div>
							<a class="bk_push_up"></a>
						</div>
					</div>
					<!--select motorcyle [END]-->

					<div class="container-cus container-std">
						<!--REGISTER BUTTON-->
						<div class="container-cus container-ful txt-center">
							<button class="custom-btn hvr-icon-01 cb-black">Create an Account</button>
						</div>
						<!--REGISTER BUTTON-->

						<!--REGISTER VIA SOCIAL-->
						<div class="sign-up-bottom">
							<h2>Or Sign up via</h2>
							<div class="social-sign-up">
								<a href="" class="custom-btn hvr-icon-01 fb">Sign-up with Facebook</a>
								<a href="" class="custom-btn hvr-icon-01 gg">Sign-up with Google</a>
								<a href="" class="custom-btn hvr-icon-01 tw">Sign-up with Twitter</a>
							</div>

							<h2>Already have a Royal Enfield Account?</h2>
							<a href="dist/login.html" class="custom-btn hvr-icon-01 cb-black">Log in</a>
						</div>
						<!--REGISTER VIA SOCIAL-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>