// -------------------------------------
//   App
// -------------------------------------
/**
  * @name app
  * @desc The main sass file that is used to
   		  import and consolidate all the other
   		  sass across the entire app in their
   		  required order.
**/

// -------------------------------------
//   App - Base
// -------------------------------------


// -------------------------------------
//   App - Components
// -------------------------------------
@import "common";
@import "components/nav-main"; 
@import "components/header";
@import "components/footer";
@import "components/footer-secondary";
@import "components/now-trending";

@import "components/home";
@import "components/main-banner";
@import "components/motorcycles";
@import "components/latest-news";
@import "components/rides-events";
@import "components/rides-around-you";
@import "components/colours";
@import "components/specification";
@import "components/sub-reviews";
@import "components/sub-gallery";
@import "components/trip-stories";
@import "components/bike-dropdown";

//dealers listing
@import "components/dealers-list";
//dealers whats new
@import "components/dealers-whats-new";
@import "components/dealers-head-profile";
@import "components/reviewers-feedback";
@import "components/categories";
@import "components/signup";
@import "components/user-profile";
@import "components/book-test-ride";
@import "components/rides";
@import "components/explore-tags";
@import "components/datepicker-custom";

// 
@import "components/re-world";
@import "components/career";


.find-gear-head {
    text-align: center;
    margin-bottom: 55px;
    ul {
        display: inline-block;
        li {
            float: left;
            width: auto;
            position: relative;
            text-align: center;
            padding: 0 50px;
            a {
                display: inline-block;
                cursor: pointer;
            }
            &:before, &:after {
                content: '';
                position: absolute;
                top: 32px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            &:before {
                height: 1px;
                background: #d7d7d7;
                width: 100%;
                left: 125px;
                z-index: 0;
            }
            &:after {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: solid 2px #897352;
                z-index: 1;
                background: #ffffff;
            }
            &:last-child:before {
                display: none;
            }
            &:hover h3 {
                color: $maroon;
            }
            img {
                margin-bottom: 35px;
            }
        }
    }
}
/**/
