/*common styles || Need for all the page || This is should be keep first in the list of styles || 
Reset, Heading, Containers, Grids, Social icons, Source&online Videos, Popup, Carousel and Sub Section Styles...*/

@import "base/fonts";
@import "base/icons";


@import "base/colors";
@import "base/helpers";
@import "base/zindices";
@import "base/breakpoints";

@import "base/transitions";
@import "base/animations";

@import "base/typography";
@import "base/layout";
@import "base/variables";


// -------------------------------------
//   App - Modules
// -------------------------------------
@import "modules/button";
@import "modules/form";

/*reset||layout*/
*, :after,:before{
    box-sizing:inherit
}
body,html{
    box-sizing:border-box;
    height: 100%;
    width: 100%
}
body {
    font-family: $ms_r;
    overflow-x: hidden;
    font-weight: normal;
    background: $white;
}
p {
    font-family: $ms_r !important;
    color: #212020;
    font-size: 16px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: $gs-sb;
    color: $black;
}
a {
    text-decoration: none;
    color: #212020;
}
img {
    transition: all .3s ease;
    display: block;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a, img, div {
    outline: none !important;
}
.clear {
    clear: both;
}
.re-title, h1 {
    font-size: 34px;
    line-height: 34px;
    color: $white;
    margin-bottom: 5px;
}
.re-title-head {
    padding: 40px 0 15px;
    text-align: center;
    .re-title {
        color: $black;
        &.bord-btm {
            border-bottom: solid thin $black;
            padding-bottom: 25px;
        }
    }
}
h2 {
    font-size: 26px;
    line-height: 26px;
}
h3 {
    font-size: 22px;
    line-height: 22px;
}
h4 {
    font-size: 18px;
    line-height: 18px;
}
h4 {
    font-size: 16px;
    line-height: 16px;
}
.wrapper-contents {
    margin-top: 79.45px;
}
.container-cus {
    margin: 0 auto;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.container-cus:before, .container-cus:after {
    content: '';
    display: table;
    clear: both;
    box-sizing: border-box;
}
.container-ful {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.container-std {
    max-width: 95%;
}
.container-mdm {
    max-width: 80%;
}
.container-sml {
    max-width: 70%;
}
.disp-tbl {
    width: 100%;
    height: 100%;
    display: table;
}
.disp-tbl-cel {
    display: table-cell;
    vertical-align: middle;
}
.disp-tbl-block {
    display: block;
}
.posi-abso {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.wid-25 {width: 25%;}.wid-30 {width: 30%;}.wid-33 {width: 33.33%;}.wid-40 {width: 40%;}.wid-50 {width: 50%;}.wid-60 {width: 60%;}.wid-70 {width: 70%;}.wid-75 {width: 75%;}.wid-100 {width: 100%;}
.box-circle {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.img-responsive {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}
.txt-center {
    text-align: center;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.txt-maroon {
    color: $maroon;
    font-style: normal;
}
.txt-maroon-dark {
    color: $maroon_dark;
    font-style: normal;
}
.bg-black {
    background: $black; 
}
.bg-light-black {
    background: $light_black; 
}
.bg-white {
    background: $white;
}
.bg-gray {
	background: $gray;
}
.bg-light-gray {
    background: $light_gray;
}
.mobi-767 {
    display: none !important;
}
.desk-767 {
    display: inline-block !important;
}
.re-title-head.desk-767 {
    display: block !important;
}
.no-border {
    border: none;
}
.scale-image {
    overflow: hidden;
    line-height: 0;
    img {
        transition: all ease 1s;
        transform: scale(1);
    }
    &:hover img {
        transform: scale(1.02);
    }
}
.overlay-black {
    background: rgba(0, 0, 0, 0.47);
}
/*grid boxes*/
.grid-two, .grid-three, .grid-four, .grid-five, .grid-six, .grid-seven {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    .grid-box {
        float: left;
        position: relative;
        .inner-box {
            padding: 15px;
        }
    }
}
.grid-two .grid-box {
    width: 50%;
}
.grid-three .grid-box {
    width: 33.33%;
}
.grid-four .grid-box {
    width: 25%;
}
.grid-five .grid-box {
    width: 20%;
}
.grid-six .grid-box {
    width: 16.66%;
}
.grid-seven .grid-box {
    width: 14.28%;
}
/*end of grid boxes*/


/*social*/
.social-share {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: auto;
    float: none;
    li {
        width: auto;
        display: inline-block;
        margin-left: 10px;
        a svg {
            width: 25px;
            height: 25px;
            fill: #222021;
            -webkit-transition: all .6s ease;
            -moz-transition: all .6s ease;
            transition: all .6s ease;
        }
        &.fb a svg {
        }
        &.tw a svg {
            width: 30px;
        }
        &.ig a svg {
        }
        &.yt a svg {
        }
        &.fb a:hover svg {
            fill: #204385;
        }
        &.tw a:hover svg {
            fill: #27aae1;
        }
        &.ig a:hover svg {
            fill: #6a453b;
        }
        &.yt a:hover svg {
            fill: #d32322;
        }
    }
}
/*end of social*/

/*custom nav*/
.custom-nav  {
    width: 100%;
    float: left;
	li {
	    float: left;
	    padding: 0 10px;
        margin: 0;
	    position: relative;
	    a {
		    font-size: 16px;
		    cursor: pointer;
		    color: $black;
            display: inline-block;
            &:hover {
                color: $maroon;
            }
            &.active {
                color: $maroon;
            }
		}
        &.active {
            a {
                color: $maroon;
            }
        }
	}
}
.custom-nav-bord-rt {
	li {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            background: $black;
            width: 1px;
            height: 10px;
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
		&:last-child:before {
		    display: none;
		}
	}
}
/*end of custom nav*/

.video-source, .video-online  {
    position: relative;
    width: 100%;
    float: left;
}
.video-source { 
    .video-box {
        width: 100%;
        height: 92vh;
        position: relative;
        video {
            width: 100%;
            height: auto;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}
.video-online {
    .video-box {
        position: relative;
        width: 100%;
        padding-top: 56.25%; 
        top: -50px;
        left: 0%;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            margin: auto;
            // -webkit-filter: grayscale(100%);
            // -moz-filter: grayscale(100%);
            // -ms-filter: grayscale(100%);
            // -o-filter: grayscale(100%);
            // filter: grayscale(100%);
        }
    }
}

/*popup*/
.custom-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 999;
    &.is-visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }
}
.custom-popup-container {
    display: table;
    width: 100%;
    height: 100%;
    .custom-popup-middle {
        display: table-cell;
        vertical-align: middle;
    }
    .custom-popup-inner {
        position: relative;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        transform: translateY(-50px);
        -webkit-backface-visibility: hidden;
        transition-property: transform;
        transition-duration: 0.3s;
    }
}
.is-visible .custom-popup-container {
} 
.is-visible .custom-popup-container .custom-popup-inner {
    transform: translateY(0);
}
.custom-popup-container .custom-popup-close {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    background: #ffffff url('../images/icon-close.png') no-repeat;
    background-position: 50% 50%;
    transition: 0.6s;
    border: solid 2px #ffffff;
}
.custom-popup-container .custom-popup-close:hover {
    border: solid 2px #236823;
}
.custom-popup-inner h3 {
    font-size: 35px;
    text-transform: none;
    font-family: 'FuturaStd-Condensed';
    letter-spacing: normal;
}
/*end of custom popup*/

/*video-play-overlay*/
.video-play-overlay, .video-play-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.video-play-overlay {
    z-index: 9;
    background: rgba(0, 0, 0, 0.25);
    .video-play-btn {
        width: 100px;
        height: 100px;
        font-size: 100px;
        margin: auto;
        cursor: pointer;
        .icon-play {
            color: #ffffff;
            transition: 0.6s;
            &:hover {
                color: $maroon;
            }
        }
    }
}

.video-option {
    .re-title {
        position: relative;
        padding-bottom: 15px;
        &:before {
            position: absolute;
            bottom: 0px;
            right: auto;
            left: -480px;
            margin: auto;
            content: '';
            height: 1px;
            width: 820px;
            background: #ffffff;
        }
    }
    .video-play-overlay .video-play-btn {
        bottom: 90px;
    }
}
/*end of video-play-overlay*/


.bg-gradient-lt {
    background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
}
.bg-gradient-rt {
    background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
}
.bg-gradient-bt {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
}
/*gradient background for banner text. ***** incuding 'overlay-txt' class use the any one of these class to align 'left','right','bottom'*/
.bg-gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    &.left {
        background: linear-gradient(to right, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
    }
    &.right {
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    }
    &.bottom {
        // background: linear-gradient(to bottom, transparent 0%, black 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    }
}
/*end of gradient*/



/*carousel - buttons - dots*/
.carousel .slick-slide {
    outline: none;
}
.carousel .slick-slide {
    img {
        display: block;
        max-width: 100%;
    }
    .banner-inner-img img {
        width: 100%;
    }
    .banner-inner-txt img {
        width: auto;
    }
}
/*buttons*/
.carousel {
    .slick-prev, .slick-next {
        width: 80px;
        height: 80px;
        border: none;
        background: none;
        margin: 10px;
        display: inline-block;
        margin: auto;
        left: 0;
        right: 0;
        top: 45px;
        bottom: 0;
        z-index: 10;
        cursor: pointer;
        transition: all .6s ease;
        z-index: 9;
        border: solid thin #c9a864;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 16px;
            height: 8px;     
        }
    }
}
.carousel .slick-prev:before {
    background: url('../images/icon-arrow-left.png') no-repeat;
    background-position: 0 0;
}
.carousel .slick-next:before {
    background: url('../images/icon-arrow-right.png') no-repeat;
    background-position: 0 0;
}
.carousel .slick-prev:hover:before, .carousel .slick-next:hover:before {
    background-position: 0 -10px;
}
.carousel .slick-prev, .carousel .slick-next {
    left: 0;
    right: auto;
    top: auto;
    bottom: 10%;
}
.carousel .slick-next {
    left: 90px;
}   
.carousel .slick-prev.slick-disabled, .carousel .slick-next.slick-disabled, .carousel .slick-prev.slick-disabled:hover, .carousel .slick-next.slick-disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
}
.carousel .slick-prev.slick-disabled:hover, .carousel .slick-next.slick-disabled:hover {
    background: rgba(218, 181, 113, 0.5);
}
.carousel div {
    outline: none;
    font-size: 0;
}
.carousel .slick-prev:focus, .carousel .slick-next:focus {
    background: none;
}
.carousel .slick-prev:hover, .carousel .slick-next:hover {
    border: solid thin #84a197;
}
/*dots*/
.carousel {
    .slick-dots {
        position: absolute;
        bottom: 35px;
        left: 0;
        right: 0;
        text-align: center;
        li {
            display: inline-block;
            width: auto;
            vertical-align: middle;
            margin: 0 8px;
            font-size: 0;
            width: 12px;
            height: 12px;
            background: $light_black;
            border-radius: 50%;
            outline: none;
            border: none;
            transition: all .6s ease;
            button {
                display: none;
            }
            &:hover {
                background: $maroon;   
            }
            &.slick-active {
                background: $maroon;   
            }
        }
    }
}

/* progress bar */
.wrapper-slider-progress {
    position: relative;
}
.slider-progress {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.slider-progress .progress {
    width: 0%;
    height: 3px;
    background: #86754d;
    position: relative;
}
.slick-slide > div {
    font-size: 0;
}
/**/
.carousel-item {
    position: relative;
}

.scroll-down-box {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.74) 98%,rgba(0,0,0,0.74) 100%);
    .scroll-down-inner {
        position: absolute;
        bottom: 25px;
        width: 100%;
        text-align: center;
    }
    a {
        cursor: pointer;
    }
    img {
        display: inline-block;
    }
}

.floating {
    animation: floating 0.6s ease-in-out alternate infinite;
}
@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
.floating-delay {
    animation: floating_delay 1s ease-in-out alternate infinite;
}
@keyframes floating_delay {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

/**/

.sub-section {
    width: 100%;
    // padding-bottom: 60px;
    &:before {
        content: '';
        display: block;
        clear: both;
    }
    .re-title {
        font-size: 34px;
        line-height: 38px;
    }
    &.padding-none {
        padding: 0;
    }
}
.sub-section.bg-light-black {
    padding-bottom: 0px;
    .re-title-head {
        .re-title {
            color: $white;
        }
    }
}

/*image caption [START]*/
.image-caption {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 20px;
    color: $white;
    text-align: right;
    span, a {
        vertical-align: middle;
        font-size: 12px;
        margin-left: 10px;
        display: inline-block;
        color: $white;
    }
    a {
        font-size: 25px;
    }
    svg {
        width: 24px;
        path {
            fill: $white;
        }
    }
}
/*image caption [END]*/

/*YouTube video play popup [START]*/
#YouTube-player {
    display: none;
    background: rgba(0, 0, 0, 90);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    left: 0;
    top: 0;
    z-index: 999999;
    .yt-play-box {
        position: relative;
        width: 100%;
        padding-top: 56.25%; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    iframe {
        width: 100% !important;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
    }
    //YouTube close
    .yt-close {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 30px;
        line-height: normal;
        color: $white;
        z-index: 9;
        cursor: pointer;
        padding: 5px 25px;
        &:hover {
            color: $maroon;
        }
    }
}
/*YouTube video play popup [END]*/

/*google map*/
.map {
    width: 100%;
    height: 700px;
    #map-canvas {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

@media screen and (max-width: 1400px) {
    .map {
        height: 600px;
    }
}
@media screen and (max-width: 1300px) {
    .map {
        height: 550px;
    }
}
@media screen and (max-width: 767px) {
    .map {
        height: 500px;
    }
}
@media screen and (max-width: 600px) {
    .map {
        height: 350px;
    } 
}
/*google map*/

.mobile-link-only {
    pointer-events: none;
}

.list-auto {
    width: 100%;
    display: inline-block;
    li {
        width: auto;
        display: inline-block;
        margin-right: 25px;
        img, span {
            vertical-align: middle;
            display: inline-block;
        }
        span {
            padding-left: 20px;
        }
    }
}


/*masonry [START]*/
.masonry-grid {
    width: 100%;
}
/* clear fix */
.masonry-grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .grid-item ---- */
.masonry-grid .grid-sizer,
.masonry-grid .grid-item {
    width: 33.33%;
    &.grid-02 {
        width: 66.66%;
    }
    &.grid-01 {
        width: 100%;
    }
}
.masonry-grid .grid-item {
    float: left;
    position: relative;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    &:hover img {
        opacity: 1;
        transform: scale(1.1);
    }
}

/*caption*/
.masonry-grid .grid-item {
    .posi-abso {
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
        text-align: center;
    }
    .tag-name {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-family: $gs_sb;
        font-size: 32px;
        color: #ffffff;
    }
}

/*rating display*/
.rating-star-main {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}
.rating-star-box, .rating-star-filled {
    text-align: left;
    font-size: 0;
    span {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 0 2px;
    }
}
.rating-star-box {
    text-align: left;
    span {
        background: url('../assets/images/svg/star.svg') no-repeat;
    }
}
.rating-star-filled {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    span {
        background: url('../assets/images/svg/star-filled.svg') no-repeat;
    }
}

.view-all-features {
    padding-bottom: 15px;
}

@media screen and (max-width: 1250px) {
    .wrapper-contents {
        margin-top: 62px;
    }
    .gallery-caption {
        padding: 10px 15px;
        span, a {
            font-size: 10px;
            margin-left: 5px;
        }
        .gallery-caption svg {
            width: 15px;
        }
    }
}
@media screen and (max-width: 1199px) {
    .masonry-grid .grid-item .tag-name {
        font-size: 26px;
    }  
}
@media screen and (max-width: 767px) {
    .masonry-grid .grid-sizer,
    .masonry-grid .grid-item {
        width: 50%;
        &.grid-02 {
            width: 50%;
        }
    }  
    .masonry-grid .grid-item .tag-name {
        font-size: 22px;
    }
    .carousel-gallery-dealership {
        display: none;
    }
    .rating-star-main {
        width: 70px;
    }
    .rating-star-box span, .rating-star-filled span {
        width: 12px;
        height: 12px;
        margin: 0 1px;
    } 
    .carousel-showcase-bike .slick-slide img {
        transform: scale(1);
        padding-top: 15px;
    } 
    .masonry-grid .grid-item .tag-name {
        font-size: 18px;
    }
    .image-caption {
        padding: 10px 10px;
    }
    .image-caption span, .image-caption a {
        font-size: 8px;
        margin-left: 5px;
    }
}
/*masonry [END]*/

/*scroll*/
body::-webkit-scrollbar {
    width: 5px;
} 
body::-webkit-scrollbar-track {
    background-color: #5b5b5b;
}
body::-webkit-scrollbar-thumb {
    background-color: $light_black;
    outline: none;
}

.video-caption-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    h3 {
        color: $white;
        letter-spacing: 0.5px;
    }
    p {
        color: #dadada;
        margin: 5px 0 0;
    }
}
.footer-secondary {
    z-index: 5;
    position: relative;
}

@media screen and (max-width: 1700px) {
    .list-auto li span {
        padding-left: 10px;
    }
}

@media screen and (max-width: 1500px) {
    .re-title, h1 {
        font-size: 30px;
        line-height: 30px;
        color: #ffffff;
    }
    h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .sub-section .re-title {
        font-size: 30px;
        line-height: 30px;
    }
    .banner-inner-txt .txt-box p {
        font-size: 13px;
        line-height: 20px;
    }
    .list-auto li {
        margin-right: 15px;
        span {
            font-size: 14px;
        }
    }
}
@media screen and (max-width: 1400px) {
    .container-mdm {
        max-width: 90%;
    }
    .banner-inner-txt {
        .txt-box {
            .logo-re {
                width: 100px;
            }
            .logo-him {
                width: 150px;
            }
        }
    }
    .sub-section .re-title {
        font-size: 28px;
        line-height: 28px;
    }
}
@media screen and (max-width: 1250px) {
    .video-play-overlay .video-play-btn {
        width: 80px;
        height: 80px;
        font-size: 80px;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
    }
    .custom-btn, .custom-btn-02 {
        padding: 10px 30px 10px 15px;
    }
    .hvr-icon-01:before {
        right: 10px;
    }
    .list-auto li {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .carousel .slick-dots li {
        margin: 0 5px; 
    }
    .hvr-icon-back {
        padding: 9px 25px 9px 40px;
        &:before {
            right: auto;
            left: 10px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .re-title-head {
        padding: 25px 0 10px;
    }
    .sub-section .re-title {
        font-size: 26px;
        line-height: 26px;
    }
    .grid-seven .grid-box {
        width: 25%;
        margin-bottom: 15px;
    }
    .carousel .slick-track .carousel-item .animation-element {
        transition-delay: initial !important;
        transform: initial;
        opacity: 1;
        visibility: visible;
    }
    .select-field {
        background-position: 95% !important;
    }
    .image-caption a {
        font-size: 20px;
        vertical-align: bottom;
        line-height: normal;
    }
}

@media screen and (max-width: 1023px) {
    .re-banner {
        .container-mdm {
            max-width: 100%;
        }
        .banner-inner-txt .txt-box {
            width: 300px;
        }
    }
}

@media screen and (max-width: 767px) {
    .desk-767 {
        display: none !important;
    }
    .mobi-767 {
        display: block !important;
        width: 100%;
        max-width: initial;
    }
    .mobile-link-only {
        pointer-events: auto;
    }
    .container-std, .container-mdm {
        max-width: 100%;
    }
    .custom-btn, .custom-btn-02 {
        font-size: 12px;
    }
    .re-title, h1 {
        font-size: 24px;
        line-height: 26px;
        br {
            display: none;
        }
    }
    .custom-btn, .custom-btn-02 {
        padding: 7px 30px 7px 15px;
        &.hvr-icon-01:before {
            font-size: 10px;
        }
    }
    .input-field, .textarea-field, .select-field {
        font-size: 14px;
        border: solid 1px #8e8e8e;
        padding: 12px 15px;
    }
    .wrapper-contents {
        margin-top: 50px;
    }
    .container-std {
        width: 100%;
    }
    .carousel .slick-dots li {
        margin: 0 5px;
    }
    .scroll-down-box {
        img {
            width: 15px;
        }
        .scroll-down-inner {
            bottom: 60px;
        }
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    .re-title-head {
        padding: 25px 0 10px;
    }
    .re-title, .sub-section .re-title {
        font-size: 22px;
        line-height: normal;
    }
    .carousel-grid-three, .carousel-grid-four {
        .slick-dots {
            position: relative;
            bottom: 0;
            padding: 15px;
        }
    }
    .carousel .slick-dots {
        bottom: 10px;
        right: 10px;
        text-align: right;
        width: auto;
        left: auto;
    }
    .carousel .slick-dots li {
        border: none;
        background: $black;
        border: solid thin $light_black;
        position: relative;
        width: 10px;
        height: 10px;
    }
    .carousel .slick-dots li:hover, .carousel .slick-dots li.slick-active {
        background: $maroon;
        border-color: $maroon;
    }
    .grid-seven .grid-box {
        width: 33.33%;
    }
    .hvr-icon-back {
        padding: 9px 25px 9px 40px;
        &:before {
            right: auto;
            left: 10px;
        }
    }
    .video-play-overlay .video-play-btn {
        width: 50px;
        height: 50px;
        font-size: 50px;
    }
    .carousel-sections-mobile {
        background: $black;
        .re-banner {
            display: block;
            .disp-tbl-cel {
                display: block;
                width: 100%;
            }
        }
        .banner-inner-txt {
            position: relative;
            background: $black;
            .container-cus {
                padding: 0;
            }
            .txt-box {
                text-align: center;
                width: 95%;
                .re-title {
                    font-size: 24px;
                    line-height: 24px;
                    margin: 15px 0 10px;
                }
                p {
                    font-size: 12px;
                    line-height: 16px;
                    background: #D5D5D5;
                    color: $black;
                    padding: 20px;
                }
            }
        }
    }
    .ful-wid-btn-mobi {
        width: 100%;
        // border-color: #95989A;
        border-color: $white;
        background: $white !important;
        padding: 25px 25px;
        text-align: left;
        font-size: 18px;
        color: $black;
        &:before {
            right: 15px !important;
            font-size: 14px;
            margin-top: 5px;
        }
    }
    .sub-section {
        .scroll-down-box {
            display: none;
        }
    }
    .slider-progress {
        height: 3px;
        .progress {
            height: 3px;
        }
    }
    .re-banner {
        .bg-gradient-lt, .bg-gradient-rt {
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        }
    }
    #YouTube-player .yt-close {
        font-size: 18px;
    }
    body::-webkit-scrollbar {
        width: 3px;
    } 
    body::-webkit-scrollbar-track {
        background-color: #5b5b5b;
    }
    body::-webkit-scrollbar-thumb {
        background-color: $light_black;
        outline: none;
    }
    .ui-datepicker {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50% );
        box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.35);
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .re-title, h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .grid-seven .grid-box {
        width: 50%;
    }
    p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 320px) {
    .custom-nav li {
        padding: 0 5px;
    }
}
/*collections*/
.collections {
    width: 100%;
    float: left;
    text-align: center;
    .grid-three {
        border-bottom: solid 10px #86754d;
        .grid-box {
            padding: 30px 0;
        }
    }
    .collections-inner-img {
        height: 303px;
        position: relative;
        img {
            position: absolute;
            left: 0;
            right: 15%;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .collections-inner-txt {
        .custom-btn {
            position: absolute;
            right: 40px;
            bottom: 30px;
        }
    }
}
.divide-border {
    .grid-box {
        border-right: solid 2px #e5e3e3;
        &:last-child {
            border-right: none;
        }
    }
}
/*end of collections*/

