// -------------------------------------
//   Base - Breakpoints
// -------------------------------------
/**
    * @name breakpoints
    * @desc Used for setting breakpoint mixins
            used with all elements that spread
            across the entire app.
**/

// max widths
$mobile_w_tiny: 321px;
$mobile_w_sm: 480px;
$mobile_w:    768px;
$tablet_w_sm: 1024px;
$tablet_w:    1280px;

// -------------------------------------
//   Breakpoints - Mixins
// -------------------------------------

// upto small mobiles
@mixin mobile-sm {
    @media (max-width: #{$mobile_w_sm - 1px}) {
        @content;
    }
}

// upto standard mobiles




// upto small mobiles
@mixin mobile-tiny {
    @media (max-width: #{$mobile_w_tiny - 1px}) {
        @content;
    }
}

// upto standard mobiles
@mixin mobile {
    @media (max-width: #{$mobile_w - 1px}) {
        @content;
    }
}

// upto small tablets ( potrait )
@mixin tablet-sm {
    @media (max-width: #{$tablet_w_sm}) {
        @content;
    }
}

// upto standard tablets ( landscape )
@mixin tablet {
    @media (max-width: #{$tablet_w - 1px}) {
        @content;
    }
}



// upto large desktops
@mixin desktop-lg {
    @media (max-width: #{$desktop_lge - 1px}) {
        @content;
    }
}

// upto medium desktops
@mixin desktop-mdm {
    @media (max-width: #{$desktop_mdm}) {
        @content;
    }
}

// upto large desktops
@mixin desktop-sm {
    @media (max-width: #{$desktop_sml - 1px}) {
        @content;
    }
}

// upto large desktops
@mixin desktop-lap {
    @media (max-width: #{$desktop_std}) {
        @content;
    }
}

// -------------------------------------
//   Breakpoints - Min Width Mixins
// -------------------------------------
// above small mobiles
@mixin mobile-sm-up {
    @media (min-width: #{$mobile_w_sm}) {
        @content;
    }
}

@mixin mobile-sm-up1 {
    @media (min-width: #{$mobile_w_sm + 1px}) {
        @content;
    }
}

// above standard mobiles
@mixin mobile-up {
    @media (min-width: #{$mobile_w}) {
        @content;
    }
}

// above small tablets ( potrait )
@mixin tablet-sm-up {
    @media (min-width: #{$tablet_w_sm}) {
        @content;
    }
}

@mixin tablet-sm-up1 {
    @media (min-width: #{$tablet_w_sm + 1px}) {
        @content;
    }
}

// above standard tablets ( landscape )
@mixin tablet-up {
    @media (min-width: #{$tablet_w}) {
        @content;
    }
}


// upto medium desktops
@mixin desktop-mdm {
    @media (min-width: #{$desktop_mdm}) {
        @content;
    }
}

// above large desktops
@mixin desktop-lge {
    @media (min-width: #{$desktop_lge}) {
        @content;
    }
}

// -------------------------------------
//   Breakpoints- Content
// -------------------------------------
// These values will not show up in content,
// but can be queried by JavaScript to know
// which breakpoint is currently active.
// body:before {
//     content: "desktop"; display: none;
//     @include desktop-lg-up { content: "desktop-lg-up"; }

//     @include tablet    { content: "tablet";    }
//     @include tablet-sm { content: "tablet-sm"; }

//     @include mobile    { content: "mobile";    }
//     @include mobile-sm { content: "mobile-sm"; }
// }

// @media screen and (max-width: 1500px) {
//     .nav-primary a {
//         padding: 30px 15px;
//     }
// }

// max widths
$desktop_lge: 1920px;
$desktop_mdm: 1500px;
$desktop_std: 1400px;
$desktop_sml: 1200px;
$tablet: 1024px;
$tablet_sml: 768px;
// -------------------------------------
//   Breakpoints - Mixins
// -------------------------------------

// above large desktops
@mixin desktop-lge {
    @media (max-width: #{$desktop_lge}) {
        @content;
    }
}

// upto medium desktops
@mixin desktop-mdm {
    @media (max-width: #{$desktop_mdm}) {
        @content;
    }
}

// upto small desktops
@mixin desktop-sm {
    @media (max-width: #{$desktop_sml - 1px}) {
        @content;
    }
}

// upto standard tablets ( landscape )
@mixin tablet {
    @media (max-width: #{$tablet - 1px}) {
        @content;
    }
}

// upto small tablets ( potrait )
@mixin tablet-sml {
    @media (max-width: #{$tablet_sml}) {
        @content;
    }
}
