// -------------------------------------
//   Base - Fonts
// -------------------------------------
/**
    * @name fonts
    * @desc Used for setting available font types
            used with all elements that spread
            across the entire app.
**/

// base paths for the url
// used in the sass files
$base_path_fonts: "../assets/fonts/";
$base_path_icons: "../assets/icons/";

@font-face {
    font-family:'montserrat-regular';
    src: url($base_path_fonts + 'montserrat-regular.eot');
    src: url($base_path_fonts + 'montserrat-regular.eot#iefix') format('embedded-opentype'),
    url($base_path_fonts + 'montserrat-regular.woff') format('woff'),
    url($base_path_fonts + 'montserrat-regular.ttf') format('truetype'),
    url($base_path_fonts + 'montserrat-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-bold';
    src: url($base_path_fonts + 'Montserrat-Bold.eot?#iefix') format('embedded-opentype'), 
    url($base_path_fonts + 'Montserrat-Bold.otf') format('opentype'), 
    url($base_path_fonts + 'Montserrat-Bold.woff') format('woff'), 
    url($base_path_fonts + 'Montserrat-Bold.ttf') format('truetype'), 
    url($base_path_fonts + 'Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'guardiansans-regular';
    src: url($base_path_fonts + 'guardiansans-regular.eot');
    src: url($base_path_fonts + 'guardiansans-regular.eot?#iefix') format('embedded-opentype'),
    url($base_path_fonts + 'guardiansans-regular.woff') format('woff'),
    url($base_path_fonts + 'guardiansans-regular.ttf') format('truetype'),
    url($base_path_fonts + 'guardiansans-regular.svg#entypo') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'guardiansans-medium';
    src: url($base_path_fonts + 'guardiansans-medium.eot');
    src: url($base_path_fonts + 'guardiansans-medium.eot?#iefix') format('embedded-opentype'),
    url($base_path_fonts + 'guardiansans-medium.woff') format('woff'),
    url($base_path_fonts + 'guardiansans-medium.ttf') format('truetype'),
    url($base_path_fonts + 'guardiansans-medium.svg#entypo') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'guardiansans-semibold';
    src: url($base_path_fonts + 'guardiansans-semibold.eot');
    src: url($base_path_fonts + 'guardiansans-semibold.eot#iefix') format("embedded-opentype"),
    url($base_path_fonts + 'guardiansans-semibold.woff') format("woff"),
    url($base_path_fonts + 'guardiansans-semibold.ttf') format("truetype"),
    url($base_path_fonts + 'guardiansans-semibold.svg') format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'reicons';
    src: url($base_path_fonts + 're-icons.eot');
    src: url($base_path_fonts + 're-icons.eot?#iefix') format('embedded-opentype'),
         url($base_path_fonts + 're-icons.woff') format('woff'),
         url($base_path_fonts + 're-icons.ttf') format('truetype'),
         url($base_path_fonts + 're-icons.svg#re-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
   font-family: 'reicons';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.icon-arrow-forward:before{content:'\0041';}
.icon-button-arrow:before{content:'\0042';}
.icon-arrow-down:before{content:'\0043';}
.icon-search:before{content:'\0044';}
.icon-globe:before{content:'\0045';}
.icon-fb:before{content:'\0046';}
.icon-tw:before{content:'\0047';}
.icon-yt:before{content:'\0048';}
.icon-ig:before{content:'\0049';}
.icon-hand-point:before{content:'\004a';}
.icon-map-store-point:before{content:'\004b';}
.icon-thread:before{content:'\004c';}
.icon-ride-out:before{content:'\004d';}
.icon-star:before{content:'\004e';}
.icon-star-filled:before{content:'\004f';}
.icon-date:before{content:'\0050';}
.icon-play:before{content:'\0051';}
.icon-download:before{content:'\0052';}
.icon-destination:before{content:'\0053';}
.icon-distance:before{content:'\0054';}
.icon-duration:before{content:'\0055';}
.icon-origin:before{content:'\0056';}
.icon-price:before{content:'\0057';}
.icon-terrain:before{content:'\0058';}
.icon-re-store-point:before{content:'\0059';}
.icon-re-service-point:before{content:'\005a';}
.icon-after_sales:before{content:'\0061';}
.icon-country_side:before{content:'\0062';}
.icon-customisation:before{content:'\0063';}
.icon-desert:before{content:'\0064';}
.icon-dirt_track:before{content:'\0065';}
.icon-highway:before{content:'\0066';}
.icon-off_road:before{content:'\0067';}
.icon-members:before{content:'\0068';}
.icon-motorcycle:before{content:'\0069';}
.icon-motorcycle_maintainance:before{content:'\006a';}
.icon-new_to_motorcycling:before{content:'\006b';}
.icon-post:before{content:'\006c';}
.icon-ios-person:before{content:'\006d';}
.icon-time:before{content:'\006e';}
.icon-eye:before{content:'\006f';}
.icon-close:before{content:'\0070';}
.icon-visible:before{content:'\0071';}
.icon-invisible:before{content:'\0072';}
.icon-ribbon:before{content:'\0073';}
.icon-call:before{content:'\0074';}
.icon-chat:before{content:'\0075';}
.icon-faq:before{content:'\0076';}
.icon-forum:before{content:'\0077';}
.icon-mail:before{content:'\0078';}
.icon-rsa:before{content:'\0079';}