@font-face {
	font-family: "icons-new-re";
	src: url('../assets/fonts/icons-new-re.eot');
	src: url('../assets/fonts/icons-new-re.eot?#iefix') format('eot'),
		url('../assets/fonts/icons-new-re.woff') format('woff'),
		url('../assets/fonts/icons-new-re.ttf') format('truetype'),
		url('../assets/fonts/icons-new-re.svg#icons-new-re') format('svg');
}

.icon__re:before {
	font-family: "icons-new-re";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}


.icon__re-arrow-down:before {
	content: "\E001";
}

.icon__re-arrow-forward:before {
	content: "\E002";
}

.icon__re-button-arrow:before {
	content: "\E003";
}

.icon__re-call:before {
	content: "\E004";
}

.icon__re-fb:before {
	content: "\E005";
}

.icon__re-hand-point:before {
	content: "\E006";
}

.icon__re-in:before {
	content: "\E007";
}

.icon__re-map-route:before {
	content: "\E008";
}

.icon__re-map-store-point:before {
	content: "\E009";
}

.icon__re-motorcycle:before {
	content: "\E00A";
}

.icon__re-ride-out:before {
	content: "\E00B";
}

.icon__re-seartch:before {
	content: "\E00C";
}

.icon__re-service:before {
	content: "\E00D";
}

.icon__re-twitter:before {
	content: "\E00E";
}

.icon__re-world:before {
	content: "\E00F";
}

.icon__re-xxxmotorcycle:before {
	content: "\E010";
}

.icon__re-yt:before {
	content: "\E011";
}
