// -------------------------------------
//   Base - Layout
// -------------------------------------
/**
    * @name layout
    * @desc Used for specifying basic layout styles
            used with common elements that spread
            spread across the entire app.
**/


$base_path_images: "../assets/images/";
$base_html_w_min: 320px;
$base_html_h_min: 100vh;

$header_w: 990px;
$header_h: 114px;
$header_w_mob: 100%;
$header_h_mob: 55px;

$page_loader_size: 80px;
$page_loader_size_mob: 70px;