// -------------------------------------
//   Base - Transitions
// -------------------------------------
/**
    * @name tranisition
    * @desc Used for management for transitions to be
            used with all elements that spread
            across the entire app.
**/

// -------------------------------------
//   Transitions - Default
// -------------------------------------
// default transition times
$trans_time: 0.5s;
$trans_time_slow: (0.5s * 1.3);
$trans_time_fast: (0.5s * 0.6);
$trans_time_instant: (0.5s * 0.4);

// default transition delays
$trans_delay: ($trans_time / 2);
$trans_delay_slow: ($trans_time / 1);
$trans_delay_fast: ($trans_time / 3);
$trans_delay_none: 0;

// default transition easings
$ease: ease;
$ease_linear: linear;
$ease_in_out: ease-in-out;

// custom transition easings
$ease_in_out_quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ease_in_out_sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// mixin to create default tranitions
// e.g. @input @include transitions(color)
// e.g. @output transition: color 0.35s ease
@mixin transitions($props...) {
    // create an emoty list
    $transitions: ();

    // append each property to list
    @each $prop in $props {
        $transitions: append($transitions, ($prop $trans_time_fast $ease_in_out_quad), comma);
    }

    // assign list to attribute
    transition: $transitions;
}

/*animations*/
.slide-left {
    opacity: 0;
    transition: all 500ms linear;
    transform: translate3d(-35px, 0px, 0px);
}
.slide-left.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
.slide-right {
    opacity: 0;
    transition: all 500ms linear;
    transform: translate3d(35px, 0px, 0px);
}
.slide-right.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
.slide-up {
    opacity: 0;
    transition: all 1s ease-out;
    transform: translate3d(0px, 35px, 0px);
    backface-visibility: hidden;
}
.slide-up.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    backface-visibility: hidden;
}
.fade-in {
    opacity: 0;
    transition: all 700ms ease-out;
    backface-visibility: hidden;
}
.fade-in.in-view { 
    opacity: 1;
}
/**/


.carousel .slick-track {
    .carousel-item .animation-element {
        transition-delay: .1s;
    }
    .carousel-item:nth-child(1) .animation-element {
        transition-delay: .3s;
    }
    .carousel-item:nth-child(2) .animation-element {
        transition-delay: .5s;
    }
    .carousel-item:nth-child(3) .animation-element {
        transition-delay: .7s;
    }
    .carousel-item:nth-child(4) .animation-element {
        transition-delay: .9s;
    }
    .carousel-item:nth-child(5) .animation-element {
        transition-delay: 1.1s;
    }
    .carousel-item:nth-child(6) .animation-element {
        transition-delay: 1.3s;
    }
}

.icons-discrib .grid-five {
    .grid-box:nth-child(1) .animation-element {
        transition-delay: .1s;
    }
    .grid-box:nth-child(2) .animation-element {
        transition-delay: .3s;
    }
    .grid-box:nth-child(3) .animation-element {
        transition-delay: .5s;
    }
    .grid-box:nth-child(4) .animation-element {
        transition-delay: .7s;
    }
    .grid-box:nth-child(5) .animation-element {
        transition-delay: .9s;
    }
    .grid-box:nth-child(6) .animation-element {
        transition-delay: 1.1s;
    }
}