// -------------------------------------
//   Base - Variables
// -------------------------------------

//colors's
$black: #000000;
$light_black: #212121;
$white: #ffffff;
$gray: #e5e3e3;
$dark_gray: #4f4f4f;
$light_gray: #f2f2f2;
$maroon: #da291c;
$maroon_dark: #c62b1e;
$brown: #86754d;
$gray_bg: #d5d5d5;
$f_gray: #5d5d5d;

//alignment's
$lt: left;
$rt: right;
$ct: center;

//font family
$ms_r: "montserrat-regular";
$ms_b: "montserrat-bold";
$gs_r: "guardiansans-regular";
$gs_m: "guardiansans-medium";
$gs_sb: "guardiansans-semibold";