<div class="clear"></div>
<div class="footer-secondary">
	<div class="container-cus container-mdm">
		<div class="grid-five txt-center">
			<div class="grid-box">
				<div class="inner-box">
					<span class="icon-hand-point"></span>
					<h4><a class="custom-btn hvr-icon-01">Book a Test Ride</a></h4>
				</div>
			</div>
			<div class="grid-box">
				<div class="inner-box">
					<img src="/dist/assets/images/svg/motorcycle.svg" alt="">
					<h4><a class="custom-btn hvr-icon-01">Book a Test Ride</a></h4>
				</div>
			</div>
			<div class="grid-box">
				<div class="inner-box">
					<span class="icon-map-store-point"></span>
					<h4><a class="custom-btn hvr-icon-01">Find a Store</a></h4>
				</div>
			</div>
			<div class="grid-box">
				<div class="inner-box">
					<span class="icon-re-service-point"></span>
					<h4><a class="custom-btn hvr-icon-01">Book a Service</a></h4>
				</div>
			</div>
			<div class="grid-box">
				<div class="inner-box">
					<span class="icon-map-store-point"></span>
					<h4><a class="custom-btn hvr-icon-01">Ride Out</a></h4>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="">
	<div class="f-top">
		<div class="container-cus container-std">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
					<p>Subscribe to Newsletter</p>
					<div class="subscribe-box">
						<input class="input-field" type="text" name="" placeholder="Your email ID">
						<button class="custom-btn-02">Submit</button>
					</div>
				</div>
				<div class="disp-tbl-cel f-social-right">
					<p>Join the Conversation</p>
					<ul class="custom-nav social-share f-social-share">
						<li><a href="" title="facebook"><span class="icon-fb"></span></a></li>
						<li><a href="" title="twitter"><span class="icon-tw"></span></a></li>
						<li><a href="" title="youtube"><span class="icon-yt"></span></a></li>
						<li><a href="" title="instagram"><span class="icon-ig"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="f-middle">
		<div class="container-cus container-mdm">
			<div class="f-box">
				<h3 class="f-title"><span class="icon-arrow-down"></span> Motorcycles</h3>
				<ul class="f-nav">
					<li><a href="dist/continental-gt-models.html">Continental GT</a></li>
					<li class="f-has-children">
						<a>Thunderbird<span class="icon-arrow-down"></span></a>
						<ul class="f-nav-sub">
							<li><a href="">Thunderbird 500</a></li>
							<li><a href="">Thunderbird 350</a></li>
						</ul>
					</li>
					<li><a href="">Himalayan</a></li>
					<li class="f-has-children">
						<a>Classic<span class="icon-arrow-down"></span></a>
						<ul class="f-nav-sub">
							<li><a href="">Classic Squadron Blue</a></li>
							<li><a href="">Classic Desert Storm</a></li>
							<li><a href="">Classic Battle Green</a></li>
							<li><a href="">Classic Chrome</a></li>
							<li><a href="">Classic 500</a></li>
							<li><a href="">Classic 350</a></li>
							<li><a href="">Classic Stealth Black</a></li>
							<li><a href="">Classic Gunmetal Grey</a></li>
						</ul>
					</li>
					<li class="f-has-children">
						<a>Bullet<span class="icon-arrow-down"></span></a>
						<ul class="f-nav-sub">
							<li><a href="">Bullet 500</a></li>
							<li><a href="">Bullet 350</a></li>
							<li><a href="">Bullet Es</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="f-box">
				<h3 class="f-title"><span class="icon-arrow-down"></span> Rides &amp; Events</h3>
				<ul class="f-nav">
					<li><a href="">Create a Ride</a></li>
					<li><a href="">Rides</a></li>
					<li><a href="">Events</a></li>
				</ul>
			</div>
			<div class="f-box">
				<h3 class="f-title"><span class="icon-arrow-down"></span> Support</h3>
				<ul class="f-nav">
					<li><a href="">Service Center</a></li>
					<li><a href="">Stores</a></li>
					<li><a href="">Owner Manual</a></li>
					<li><a href="">Contact Us</a></li>
					<li><a href="">Book A Test Ride</a></li>
				</ul>
			</div>
			<div class="f-box">
				<h3 class="f-title"><span class="icon-arrow-down"></span> About Us</h3>
				<ul class="f-nav">
					<li><a href="">About Royal Enfield</a></li>
					<li><a href="">About Eicher Motors</a></li>
					<li><a href="">History</a></li>
					<li><a href="">Factory Tour</a></li>
				</ul>
			</div>
			<div class="f-box">
				<h3 class="f-title"><span class="icon-arrow-down"></span> Media</h3>
				<ul class="f-nav">
					<li><a href="">Campaigns</a></li>
					<li><a href="">News</a></li>
					<li><a href="">Media Kit</a></li>
					<li><a href="">Publications</a></li>
				</ul>
			</div>
			<div class="f-box">
				<h3 class="f-title"><span class="icon-arrow-down"></span> Careers</h3>
				<ul class="f-nav">
					<li><a href="">Our Culture</a></li>
					<li><a href="">Job Openings</a></li>
				</ul>
			</div>
			<div class="f-box">
				<h3 class="f-title"><span class="icon-arrow-down"></span> Our World</h3>
				<ul class="f-nav">
					<li><a href="">Forum</a></li>
					<li><a href="">Trip Stories</a></li>
					<li><a href="">Social Hub</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="f-bottom">
		<div class="container-cus container-full">
			<div class="disp-tbl">
				<div class="disp-tbl-cel">
					<p>&copy; 2018. Royal Enfield.</p>
				</div>
				<div class="disp-tbl-cel">
					<ul class="custom-nav custom-nav-bord-rt">
						<li><a href="">Cookies</a></li>
						<li><a href="">Imprint</a></li>
						<li><a href="">Data Protection</a></li>
						<li><a href="">Privacy</a></li> 
						<li><a href="">Legal Notices</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<!--quick links [START]-->
<div class="quick-links-box open">
    <div class="quick-links"> 
        <ul>
            <li><a href="dist/explore-tags.html"><i class="txt-maroon">#</i>WheelsAndWaves<span></span></a></li>
            <li><a href="dist/explore-tags.html"><i class="txt-maroon">#</i>TripStories<span></span></a></li>
            <li><a href="dist/explore-tags.html"><i class="txt-maroon">#</i>Himalayan<span></span></a></li>
            <li><a href="dist/explore-tags.html"><i class="txt-maroon">Explore all tags</i></a></li>
        </ul>
    </div>
    <div class="quick-links-btn">
        <a class="custom-btn hvr-icon-01">Now Trending</a>
    </div>
</div>
<!--quick links [END]-->

<!--YouTube play popup [START]-->	
<div id="YouTube-player">
    <div class="yt-play-box"></div>
    <div class="yt-close"><span class="icon-close"></span></div>
</div>
<!--YouTube play popup [END]-->	

<!--floating with scroll to Top [START]-->	
{{!-- <div class="scroll-top-start-box">
	<div class="floating-delay">
        <a class="scroll-top-start"><img src="/dist/assets/images/icon-scroll-top.png"></a>
    </div>
</div> --}}
<!--floating with scroll to Top [END]-->	