<!-- browser meta data -->
<base href="/">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

<!-- default meta data -->
<title> Royal Enfield - India </title>
<meta name="description" content="Welcome to Royal Enfield">
<link rel="shortcut icon" href="dist/assets/images/fav.png">

<!-- schema.org meta data -->
<meta itemprop="name" content="Royal Enfield - India">
<meta itemprop="keywords" content="royal enfield india">
<meta itemprop="description" content="Welcome to Royal Enfield">
<meta itemprop="image" content="">

<!-- twitter card meta data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@author_handle">

<meta name="twitter:title" content="Royal Enfield - India">
<meta name="twitter:description" content="Welcome to Royal Enfield - India">
<meta name="twitter:image:src" content="">

<!-- open graph meta data -->
<meta property="og:type" content="article" />
<meta property="og:title" content="Royal Enfield - India" />
<meta property="og:description" content="Welcome to Royal Enfield - India"/>
<meta property="og:image" content=""/>

