<!--nav main-->
<nav class="nav">
    <div class="container-cus container-std">
        <button class="nav-hamburger">
            <span>Menu</span>
        </button> 
        <a class="login-mobi" href="dist/login.html">
            Login <span class="icon-arrow-down"></span>
        </a>
        <ul class="nav-primary">
            <!--Search for mobile-->
            <li class="nav-head-mobi">
                <div class="disp-tbl">
                    <div class="disp-tbl-cel mobi-top-story">
                        <a href="dist/explore-tags.html"># <span>Top Stories</span></a>
                    </div>
                    <div class="disp-tbl-cel mobi-search">
                        <div class="mobi-search-box">
                            <button class="icon-search"></button>
                            <input class="input-field" type="text" placeholder="Search">
                            <span class="icon-close"></span>
                        </div>
                    </div>
                </div>
            </li>
            <!--Search for mobile-->
            <li><a href="">Since 1901</a></li>
            <li class="has-children">
                <a>Motorcycles
                <span class="icon-arrow-down"></span>
                </i></a>
                <ul class="nav-secondary">
                    <li class="has-sub-children">
                        <a>I'm looking for</a>
                        <ul class="nav-children nav-grid-three active">
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-interceptor.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Interceptor</h3>
                                            <p>Built for the sand, the surf, the sun and the soul</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="dist/continental-gt-models.html"><img class="img-responsive" src="/dist/assets/images/nav/nav-continental.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Continental GT</h3>
                                            <p>Most fun on two wheels</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-himalayan.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Himalayan</h3>
                                            <p>Built for all roads. Built for no roads</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-thunderbird.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Thunderbird</h3>
                                            <p>The definitive highway tourer</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="dist/classic-models.html"><img class="img-responsive" src="/dist/assets/images/nav/nav-classic.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Classic</h3>
                                            <p>Timeless design and dependability</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-bullet.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Bullet</h3>
                                            <p>Power. Love. Respect. Since 1932</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub-childrenn"><a>Find a Motorcycle</a>
                        <!-- <ul class="nav-children nav-grid-three">
                            <li>one</li>
                            <li>two</li>
                            <li>three</li>
                        </ul> -->
                    </li>
                    <li><a>Book a Test Ride</a></li> 
                    <li><a>Owners Manual</a></li>
                    <li><a>Book a Service Appointment</a></li>
                    <li><a>Service Manual</a></li>
                    <li><a>Customisers</a></li>
                    <li><a>Customisers</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a>Locate Us<span class="icon-arrow-down"></span></a>
                <ul class="nav-secondary nav-ful-wid">
                    <li class="has-sub-children">
                        <ul class="nav-children nav-grid-two active">
                            <li class="has-sub-children">
                                <div class="nav-product-box">
                                    <a href="dist/dealers.html"><img class="img-responsive" src="/dist/assets/images/nav/nav-locate-us-store.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Royal Enfield Stores</h3>
                                            <p>Faster than a fast song, but not as fast as your beating heart  </p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li class="has-sub-children">
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-locate-us-service.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Royal Enfield Service Centres</h3>
                                            <p>The most fun you’ll ever have on a motorcycle</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a>Rides<span class="icon-arrow-down"></span></a>
                <ul class="nav-secondary nav-ful-wid">
                    <li class="has-sub-children">
                        <ul class="nav-children nav-grid-three active">
                            <li class="has-sub-children">
                                <div class="nav-product-box">
                                    <a href="dist/rides-marquee.html"><img class="img-responsive" src="/dist/assets/images/nav/nav-ride-marquee.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Marquee Ride</h3>
                                            <p>Experience adventure &amp; thrill by riding through some of the most demanding &amp; memorable terrains, all through the year.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li class="has-sub-children">
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-ride-events.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Riding Events</h3>
                                            <p>Music, workshops, trials, races and more. Celebrate the spirit of riding &amp; brotherhood at Royal Enfield events. </p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li class="has-sub-children">
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-ride-outs.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Ride Outs</h3>
                                            <p>Create your own ride, plan your routes &amp; invite your friends. This a place to iniate rides and group up with fellow riders.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a>Gear<span class="icon-arrow-down"></span></a>
                <ul class="nav-secondary nav-ful-wid">
                    <li class="has-sub-children">
                        <ul class="nav-children nav-grid-two active">
                            <li class="has-sub-children">
                                <div class="nav-product-box">
                                    <a href="dist/gear.html"><img class="img-responsive" src="/dist/assets/images/nav/nav-gear-riding.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Riding Gear</h3>
                                            <p>Gear up to ride anywhere</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li class="has-sub-children">
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-gear-moto-acces.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Motorcycle Accessories</h3>
                                            <p>Accessories for all motorcycling needs</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a>Our World <span class="icon-arrow-down"></span></a>
                <ul class="nav-secondary">
                    <li class="has-sub-children">
                        <a>Popular Posts</a>
                        <ul class="nav-children nav-grid-three active">
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-forum.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Forum</h3>
                                            <p>Interact with like-minded people as part <br> of the ever-growing Royal Enfield community online.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-trip.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Trip Stories</h3>
                                            <p>Inspire or be inspired. Read travelogues <br> from riders around the globe or share your own story.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-tour.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Garage Cafe</h3>
                                            <p>This is where Royal Enfield unravels itself into glimpses from its heritage. </p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-media.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Media</h3>
                                            <p>Know the latest updates on Royal Enfield <br> including news and reviews from across the globe.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-careers.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Careers</h3>
                                            <p>Become a part of one of the world’s <br> oldest motorcycle manufacturers.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-tour.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Tour Operators</h3>
                                            <p>Register to be a part <br> of the Royal Enfield fraternity.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-customisers.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Customizers</h3>
                                            <p>Highlight your creativity, showcase <br> and share your customized Royal Enfield.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div></a>
                                </div>
                            </li> -->
                        </ul>
                    </li>
                    <li><a href="#0">How to maintain my motorcycle?</a></li>  
                    <li><a href="#0">How to customise the motorcycle for a ride to Ladakh?</a></li>  
                    <li><a href="#0">How to clean chain spocket in GT?</a></li>  
                    <li><a href="#0">How does one change battery water?</a></li>  
                </ul>
            </li> 
            <li class="has-children">
                <a>support<span class="icon-arrow-down"></span></a>
                <ul class="nav-secondary">
                    <li class="has-sub-children"> 
                        <a>I’m looking for</a>
                        <ul class="nav-children nav-grid-three active">
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-forum.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Chat with us</h3>
                                            <p>Chat with us between 09 AM to 07 PM on any day for assistance.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div>
                                    <div class="posi-abso np-overlay">
                                        <span class="icon-chat"></span>
                                    </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-trip.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Call us</h3>
                                            <p>Dial our stores and service centres for quick and easy assistance.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div>
                                    <div class="posi-abso np-overlay">
                                        <span class="icon-call"></span>
                                    </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-tour.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Write to us</h3>
                                            <p>Email us if you need support or have feedback on our motorcycles.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div>
                                    <div class="posi-abso np-overlay">
                                        <span class="icon-mail"></span>
                                    </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-media.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Forum</h3>
                                            <p>Interact with like-minded people of Royal Enfield community online.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div>
                                    <div class="posi-abso np-overlay">
                                        <span class="icon-forum"></span>
                                    </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-careers.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>FAQ’s</h3>
                                            <p>Find answers to the most commonly asked questions by the community/by the users.</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div>
                                    <div class="posi-abso np-overlay">
                                        <span class="icon-faq"></span>
                                    </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-product-box">
                                    <a href="#"><img class="img-responsive" src="/dist/assets/images/nav/nav-careers.jpg" alt="">
                                    <div class="posi-abso nav-product-bottom">
                                        <div class="nav-product-txt">
                                            <h3>Road Side Assistance</h3>
                                            <p>​Find out all about our emergency roadside assistance program​.​</p>
                                            <button class="custom-btn">Know More</button>
                                        </div>
                                    </div>
                                    <div class="posi-abso np-overlay">
                                        <span class="icon-rsa"></span>
                                    </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#0">Service Centres</a></li>  
                    <li><a href="#0">Owners Manual</a></li>  
                    <li><a href="#0">FAQ’s</a></li>  
                </ul>
            </li>
            <li class="nav-login"><a href="dist/login.html">Log in <span class="icon-arrow-down"></span>
            </a></li>
            <li class="nav-search"><a>
                <span class="icon-search"></span>
                <span class="search-close"><img src="/dist/assets/images/svg/close.svg"></span>
            </a></li>
            <li class="nav-globe"><a href="#">
                <span class="icon-globe"></span>
                <span class="icon-arrow-down"></span>
            </a></li>  
        </ul>
        <!-- primary-nav -->
        <a href="dist/index.html"><img class="logo" src="/dist/assets/images/logo.svg" alt="Royal Enfield"></a>
    </div>
    <div class="search-bar">
        <input class="input-field" type="text" placeholder="Search for Anything" autofocus="autofocus">
    </div>
</nav>