<!--nav top-->
<div class="nav-top bg-black">
	<div class="container-cus container-std txt-right">
		<ul class="custom-nav custom-nav-bord-rt">
	        <li><a href="#">Buy a Motorcycle</a></li>
	        <li><a href="dist/logged-in.html">Log in
                <span class="icon-arrow-down">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 7.9 4.6" style="enable-background:new 0 0 7.9 4.6;" xml:space="preserve">
                        <g>
                            <path d="M3.9,3.2C4,3.2,4,3.1,3.9,3.2c1.1-1.1,2-2.1,3-3c0,0,0,0,0.1-0.1C7.1,0,7.3,0,7.4,0.1c0.1,0.1,0.3,0.3,0.4,0.4
                                c0.1,0.1,0.1,0.2,0,0.4c0,0-0.1,0.1-0.1,0.1C6.5,2.1,5.3,3.3,4.2,4.4c0,0-0.1,0.1-0.1,0.1C4,4.6,3.9,4.6,3.8,4.5c0,0,0,0-0.1-0.1
                                C2.5,3.3,1.3,2.1,0.1,0.9C0,0.7,0,0.6,0.1,0.4c0.1-0.1,0.2-0.2,0.3-0.3C0.6,0,0.7,0,0.9,0.1C1.8,1,2.7,1.9,3.6,2.8
                                C3.7,2.9,3.8,3.1,3.9,3.2z"/>
                        </g>
                    </svg>
                </span>
	        </a></li>
	        <li><a href="#">
	        	<span class="icon-call">
	        		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13.3px" height="12.6px" viewBox="0 0 13.3 12.6" enable-background="new 0 0 13.3 12.6" xml:space="preserve">
						<g id="Nav_Bar">
							<path d="M10.3,12.6L10.3,12.6c-1.3-0.1-2.5-0.5-3.8-1.4C3.9,9.5,1.9,7.3,0.7,4.7C0.5,4.3,0.4,3.9,0.3,3.5c-0.4-1.7-0.1-2.3,1.4-3.3
								C1.8,0.1,1.9,0,2.1,0c1.1-0.2,1.6,0.6,2.1,1.3l0.2,0.2c0.6,0.8,0.6,1.4,0,2.1c-0.7,0.9-0.8,1,0,1.8c1,1.1,2.1,2.2,3.2,3.1
								C7.8,8.9,8,9,8.2,9c0.2,0,0.4-0.2,0.8-0.5c0.4-0.4,0.8-0.6,1.1-0.6c0.3,0,0.7,0.1,1,0.3c0.2,0.1,0.3,0.2,0.5,0.3
								c0.8,0.6,1.3,1.1,1.3,1.7c0,0.6-0.5,1.3-1.5,2.1c-0.2,0.1-0.4,0.2-0.7,0.2C10.5,12.6,10.4,12.6,10.3,12.6L10.3,12.6z M2.4,0.4
								c-0.1,0-0.2,0-0.2,0C2.1,0.4,2,0.5,1.9,0.5c-1.3,1-1.6,1.4-1.2,2.9c0.1,0.4,0.2,0.7,0.4,1.1c1.2,2.6,3.1,4.7,5.7,6.4
								c1.2,0.8,2.3,1.2,3.5,1.3c0.1,0,0.1,0,0.2,0c0.2,0,0.3-0.1,0.5-0.1c1-0.7,1.4-1.3,1.4-1.8c0-0.4-0.4-0.9-1.1-1.4
								c-0.1-0.1-0.3-0.2-0.4-0.3c-0.7-0.4-1-0.4-1.6,0.2c-0.4,0.4-0.7,0.6-1,0.6c-0.3,0-0.5-0.1-0.9-0.5C6.1,7.9,5,6.9,4,5.7
								c-0.9-1-0.8-1.3,0-2.3c0.5-0.5,0.5-1,0-1.6C4,1.7,3.9,1.6,3.9,1.5C3.5,0.9,3.1,0.4,2.4,0.4z"/>
						</g>
					</svg>
	        	</span>
	        	Support
	        </a></li>
	        <li><a href="#">
	        	<span class="icon-globe">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.1px"
						 height="12.1px" viewBox="0 0 12.1 12.1" enable-background="new 0 0 12.1 12.1" xml:space="preserve">
					<g id="GT_Banner">
						<g transform="translate(0,-952.3622)">
							<path d="M6,952.4c-3.3,0-6,2.7-6,6c0,3.3,2.7,6,6,6s6-2.7,6-6C12.1,955.1,9.4,952.4,6,952.4z M6,952.6c3.2,0,5.8,2.6,5.8,5.8
								c0,3.2-2.6,5.8-5.8,5.8s-5.8-2.6-5.8-5.8C0.2,955.2,2.8,952.6,6,952.6z"/>
							<path d="M6.2,958.1c-0.2,0-0.4,0-0.5,0.1c-0.3,0.2-0.6,0.5-0.6,0.8c0,0.3,0.1,0.5,0.3,0.7c0.2,0.2,0.5,0.2,0.7,0.3
								c0.1,0,0.2,0,0.3,0s0.1,0,0.1,0c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.2-0.1,0.2c0,0,0,0.1,0,0.1
								c0.2,0.3,0.3,0.7,0.3,1.1c0,0,0,0.1,0,0.1c0.2,0.2,0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2c0,0,0,0,0-0.1c0.1-0.4,0.2-0.8,0.2-1.4
								c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1-0.1,0.3-0.2c0,0,0.1-0.1,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1c0-0.1,0.1-0.2,0.1-0.2
								c0-0.1,0-0.1-0.1-0.1c0,0,0,0,0,0l-0.3,0L7.8,959l0-0.3c0-0.1-0.1-0.1-0.1-0.1c0,0,0,0,0,0l-0.2,0.1l-0.8-0.2l-0.1-0.3
								c0,0,0-0.1-0.1-0.1C6.5,958.1,6.3,958.1,6.2,958.1L6.2,958.1z M6.2,958.3c0.1,0,0.2,0,0.2,0l0.1,0.2c0,0,0,0.1,0.1,0.1l0.9,0.2
								c0,0,0,0,0.1,0l0.1,0l0,0.2c0,0,0,0,0,0l0.3,0.5c0,0,0.1,0.1,0.1,0l0.2,0c0,0,0,0.1,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0
								C8,960,7.9,960,7.9,960.1c-0.1,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0.1c0,0.6,0,0.9-0.2,1.3c-0.1,0.1-0.3,0.1-0.4,0.2
								c-0.1,0-0.2,0-0.3-0.1c0-0.4-0.1-0.8-0.3-1.1c0,0,0.1-0.1,0.1-0.2c0-0.1,0-0.2,0-0.2s0-0.2-0.1-0.2c-0.1-0.1-0.2-0.1-0.3-0.1
								c-0.1,0-0.2,0-0.2,0c-0.3-0.1-0.5-0.1-0.7-0.2c-0.1-0.1-0.2-0.3-0.2-0.5c0-0.3,0.3-0.5,0.5-0.7C5.8,958.3,6,958.3,6.2,958.3
								L6.2,958.3z"/>
							<path d="M8,957.5C8,957.5,8,957.5,8,957.5l-0.5,0.1c0,0-0.1,0-0.1,0.1c0,0.1,0,0.3,0.1,0.5l-0.1,0.2c0,0,0,0.1,0,0.1c0,0,0,0,0,0
								c0.4,0.2,0.5,0.4,0.7,0.6c0,0,0,0,0,0l0.1,0.2c0,0,0,0,0,0c0.1,0.1,0.1,0.1,0.2,0.2c0.1,0.1,0.2,0.1,0.3,0c0,0,0,0,0.1,0
								c0.1-0.2,0.2-0.4,0.2-0.5c0-0.1,0-0.3,0-0.4c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1s0,0-0.1,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0
								c0,0,0,0,0,0c-0.1-0.2-0.2-0.4-0.3-0.5C8.3,957.8,8.2,957.6,8,957.5C8,957.5,8,957.5,8,957.5L8,957.5z M7.9,957.7
								c0.1,0.1,0.2,0.2,0.2,0.3c0.1,0.1,0.1,0.3,0.3,0.6c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0
								c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2-0.1,0.3c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.2-0.2l-0.1-0.2h0c-0.1-0.2-0.3-0.4-0.7-0.6l0.1-0.2
								c0,0,0-0.1,0-0.1c-0.1-0.1-0.1-0.2-0.1-0.3L7.9,957.7L7.9,957.7z"/>
							<path d="M8,953.9c-0.1,0-0.3,0-0.4,0c-0.1,0-0.2,0.1-0.3,0.1l-0.5,0.2c0,0-0.1,0-0.1,0.1l-0.1,0.2c0,0.1,0,0.1,0.1,0.1
								c0,0,0,0,0,0H7l0.2,0.1c0,0,0.1,0,0.1,0l0.1-0.1l-0.2,0.8l-0.2,0l-0.3-0.5c0,0-0.1-0.1-0.1,0c0,0,0,0,0,0l-0.8,0.7
								c0,0,0,0.1,0,0.1l0,0.1l-0.3,0.3c0,0,0,0,0,0.1l0,0.3c0,0.1,0,0.1,0.1,0.1c0,0,0,0,0,0l0.4,0c0,0,0,0,0,0c0.2,0,0.4-0.2,0.4-0.4
								c0-0.1,0-0.1,0-0.2c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0.1,0.2,0.2,0.3,0.2c0,0,0,0,0,0l0.2,0.1c0,0,0.1,0,0.1,0l0.3-0.2
								c0,0,0.1-0.1,0-0.1c0,0,0,0,0,0l-0.2-0.2l1-0.5l0.1,0L8.5,956c0,0,0,0.1,0,0.1l0.2,0.4l-0.2,0c0,0,0,0,0,0l-0.8,0.2
								c0,0-0.1,0-0.1,0.1l0,0.4c0,0,0,0.1,0.1,0.1l0.7,0.2l0.7,0.7l0.1,1.1c0,0.1,0,0.1,0.1,0.1h0.2l0.2,0.1c0,0,0.1,0,0.1,0l0.9-0.4
								c0,0,0.1-0.1,0.1-0.1l-0.1-0.4c0,0-0.1-0.1-0.1-0.1l-0.2,0l-0.3-0.2l0-0.1l0.4,0.2c0,0,0,0,0,0l0.3,0.1l0.3,1.6
								c0,0.1,0.1,0.1,0.1,0.1c0,0,0.1,0,0.1-0.1c0.5-1.2,0.4-2.7-0.2-3.9c-0.4-0.7-0.8-1.5-1.5-2c0,0-0.1,0-0.1,0l-0.1,0.1l-0.2-0.1
								c0,0,0,0,0,0c-0.2,0-0.5-0.1-0.7-0.2C8.2,953.9,8.1,953.9,8,953.9L8,953.9z M7.9,954.1c0.1,0,0.2,0.1,0.4,0.1
								c0.2,0.1,0.5,0.2,0.8,0.2l0.2,0.1c0,0,0.1,0,0.1,0l0.1-0.1c0.6,0.4,1,1.1,1.4,1.8c0.5,1,0.6,2.2,0.3,3.3l-0.2-1.2
								c0,0,0-0.1-0.1-0.1l-0.3-0.1l-0.5-0.3c0,0-0.1,0-0.1,0c0,0,0,0,0,0.1l0,0.4c0,0,0,0.1,0,0.1l0.3,0.3c0,0,0,0,0.1,0l0.2,0l0.1,0.3
								l-0.8,0.4l-0.2-0.1c0,0,0,0,0,0H9.4l-0.1-1c0,0,0,0,0-0.1l-0.8-0.7c0,0,0,0,0,0l-0.7-0.2l0-0.3l0.7-0.2l0.3,0c0.1,0,0.1,0,0.1-0.1
								c0,0,0,0,0,0L8.7,956l0.3-0.4c0,0,0-0.1,0-0.1c0,0,0,0-0.1,0l-0.4,0c0,0,0,0,0,0l-1.2,0.6c0,0-0.1,0.1,0,0.1c0,0,0,0,0,0l0.2,0.2
								l-0.2,0.1l-0.1-0.1c-0.1-0.1-0.2-0.2-0.3-0.2c-0.2-0.1-0.4-0.3-0.5-0.4c0,0-0.1,0-0.1,0c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0,0.3
								c-0.1,0.1-0.2,0.2-0.3,0.2l-0.3,0l0-0.2l0.4-0.3c0,0,0-0.1,0-0.1l0-0.1l0.6-0.6l0.3,0.5c0,0,0.1,0.1,0.1,0l0.3-0.1
								c0,0,0.1,0,0.1-0.1l0.3-1c0-0.1,0-0.1-0.1-0.1c0,0,0,0-0.1,0l-0.3,0.1l-0.2-0.1c0,0,0,0,0,0H6.9l0,0l0.4-0.1c0,0,0,0,0,0
								c0.1,0,0.2-0.1,0.3-0.1C7.7,954.1,7.8,954.1,7.9,954.1L7.9,954.1z"/>
							<path d="M1.6,961.2c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0c0.3,0.5,0.7,0.9,1.3,1.6c0,0,0,0,0.1,0
								c0.1,0,0.1,0,0.2,0s0.2,0,0.3-0.1c0,0,0-0.1,0-0.1l-0.1-0.1c0-0.2,0-0.4,0.1-0.6c0,0,0-0.1,0-0.1c0,0-0.1-0.1-0.2-0.2
								c0,0,0,0-0.1,0l-0.5,0c-0.1-0.1-0.2-0.2-0.2-0.3c-0.1-0.1-0.1-0.1-0.2-0.1c0,0,0,0,0,0C1.8,961.3,1.7,961.2,1.6,961.2L1.6,961.2z
								 M1.6,961.5c0.1,0,0.2,0,0.3,0c0,0,0.1,0,0.1,0.1c0,0,0.1,0.1,0.2,0.3c0,0,0,0,0.1,0l0.5,0c0,0,0.1,0.1,0.1,0.1
								c-0.1,0.2-0.2,0.4-0.1,0.7c0,0,0,0,0,0l0,0.1c0,0,0,0,0,0c0,0-0.1,0-0.1,0C2.2,962.2,1.9,961.9,1.6,961.5L1.6,961.5z"/>
							<path d="M2.7,953.9C2.7,953.9,2.7,953.9,2.7,953.9L2.7,953.9C2.7,954,2.7,954,2.7,953.9C2.7,954,2.7,954,2.7,953.9
								c-0.6,0.4-1.1,0.9-1.7,1.8c0,0,0,0,0,0c0,0.1-0.1,0.4-0.1,0.4c0,0.1,0,0.1,0.1,0.1c0,0,0.1,0,0.1,0c0,0,0.1-0.2,0.3-0.4
								c0.1-0.1,0.1-0.2,0.2-0.3c0,0,0.1-0.1,0.1-0.1s0,0,0,0c0.3-0.1,0.4-0.1,0.5-0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2-0.1
								c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0-0.1-0.1-0.1-0.1-0.1c0,0,0,0-0.1,0c0,0,0,0,0,0c0.1,0,0.1,0,0.2-0.1c0,0,0.1,0,0.1,0
								c0,0,0.1,0,0.1-0.1c0,0,0,0,0-0.1c0-0.1-0.1-0.3-0.1-0.3c0-0.1,0-0.2,0-0.3h0c0,0,0,0,0,0C2.8,954,2.8,953.9,2.7,953.9
								C2.7,953.9,2.7,953.9,2.7,953.9L2.7,953.9z M2.6,954C2.6,954,2.6,954,2.6,954L2.6,954L2.6,954L2.6,954z M2.6,954.3
								c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0.1,0.3c0,0,0,0,0,0c0,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0.1
								c0,0,0,0.1,0,0.1c0,0,0,0,0,0c-0.1,0-0.3,0-0.4,0.1C2,954.8,2.3,954.5,2.6,954.3L2.6,954.3z"/>
							<path d="M4.7,954.3C4.7,954.3,4.7,954.4,4.7,954.3l-0.5,0.8l-0.4,0c-0.1,0-0.1,0-0.1,0.1c0,0,0,0,0,0.1l0.3,0.5c0,0,0.1,0.1,0.1,0
								l0.8-0.1c0.1,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0L5,955.1l0.3,0c0.1,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0l-0.2-0.4c0,0,0-0.1-0.1-0.1
								L4.7,954.3C4.8,954.3,4.7,954.3,4.7,954.3L4.7,954.3z M4.8,954.6l0.2,0.1l0.1,0.3l-0.3,0c-0.1,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0
								l0.1,0.4l-0.7,0.1l-0.2-0.3l0.2,0c0,0,0.1,0,0.1-0.1L4.8,954.6z"/>
						</g>
					</g>
					</svg>
	        	</span>
                <span class="icon-arrow-down">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 7.9 4.6" style="enable-background:new 0 0 7.9 4.6;" xml:space="preserve">
                        <g>
                            <path d="M3.9,3.2C4,3.2,4,3.1,3.9,3.2c1.1-1.1,2-2.1,3-3c0,0,0,0,0.1-0.1C7.1,0,7.3,0,7.4,0.1c0.1,0.1,0.3,0.3,0.4,0.4
                                c0.1,0.1,0.1,0.2,0,0.4c0,0-0.1,0.1-0.1,0.1C6.5,2.1,5.3,3.3,4.2,4.4c0,0-0.1,0.1-0.1,0.1C4,4.6,3.9,4.6,3.8,4.5c0,0,0,0-0.1-0.1
                                C2.5,3.3,1.3,2.1,0.1,0.9C0,0.7,0,0.6,0.1,0.4c0.1-0.1,0.2-0.2,0.3-0.3C0.6,0,0.7,0,0.9,0.1C1.8,1,2.7,1.9,3.6,2.8
                                C3.7,2.9,3.8,3.1,3.9,3.2z"/>
                        </g>
                    </svg>
                </span>
	        </a></li>
		</ul>   
	</div>
</div>