// -------------------------------------
//   Module - Button
// -------------------------------------
/**
  	* @name button
  	* @desc Styles for the button module.
**/

$btn_h: 46px;
$btn_w: 140px;
$btn_max_w : 500px;
$btn_w_mob: 280px;
$btn_w_mob_sm: 150px;

$btn_w_tab: 200px;
$btn_w_tab_sm: 170px;

$btn_margin: 2em;
$btn_padding: 5px;

$btn_font_size: 14px;
$btn_font_height: 1em;

$btn-border_w: 1px;
$btn-border_r: 5px;

.button {
	cursor: pointer;
	span {
	}
	i {
	}
}

/*button group*/
.custom-btn, .custom-btn-02 {
    font-family: $ms_r;
    font-size: 14px;
    text-align: center;             
    line-height: normal;
    display: inline-block;
    padding: 9px 40px 9px 25px;
    color: $white;
    font-weight: normal;
    border: solid thin $white;
    cursor: pointer;
    text-transform: none;
    border-radius: 0;
    transition: all 0.6s ease;
    outline: none;
    text-transform: none;
    background: none;
    letter-spacing: normal;
    position: relative;
    background: rgba(255, 255, 255, 0);
}
.custom-btn:hover { 
    color: $black;
    background-color: $white;
}
/* Icon Wobble Horizontal */
.hvr-icon-01 {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-duration: 0.6s;
	&:before {
	    content: "\0041";
	    position: absolute;
	    right: 15px;
	    padding: 0 1px;
	    transform: translateZ(0);
        margin-top: 3px;
        font-size: 13px;
	}
	&:hover:before,
	&:focus:before,
	&:active:before {
	    animation-name: hvr-icon-wobble-horizontal;
	    animation-duration: 1s;
	    animation-timing-function: ease-in-out;
	    animation-iteration-count: 1;
	}
}
@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        transform: translateX(2px);
    }
    33.3% {
        transform: translateX(-1px);
    }
    49.95% {
        transform: translateX(1px);
    }
    66.6% {
        transform: translateX(-1px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}
/* Icon Down */
.hvr-icon-back {
    padding: 9px 25px 9px 40px;
    &:before {
        right: auto;
        left: 15px;
        transform: translateZ(0) rotate(180deg);
    }
}

/* Icon Down */
.hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    &:before {
        content: "\0041";
        position: absolute;
        right: 15px;
        padding: 0 1px;
        transform: translateZ(0) rotate(90deg);
        margin-top: 3px;
        font-size: 13px;
    }
    &:hover:before, &:focus:before, &:active:before {
        animation-name: hvr-icon-down;
        animation-duration: 0.75s;
        animation-timing-function: ease-out;
    }
}
/* Icon Down */
@keyframes hvr-icon-down {
    0%, 50%, 100% {
        transform: translateY(0) rotate(90deg);
    }
    25%, 75% {
        transform: translateY(3px) rotate(90deg);
    }
}

.border-black {
    border: solid thin $black;
}
.border-white {
    border: solid thin $white;
}
.custom-btn-02 {
    background: $black;
    font-family: $ms_r;
    color: $white;
    text-transform: capitalize;
}
.cb-black {
    color: $black;
    border: solid thin $black;
    &:hover {
        background: $black;
        color: $white;
    }
}
.download-btn {
    &:before {
        content: "\0052";
        font-weight: bold;
    }
}
.cb-bt-bdr {
    border-color: transparent;
    border-bottom-color: $white;
    padding: 10px 25px 10px 0;
    &:before {
        right: 0;
    }
    &:hover {
        background: transparent;
        color: $white;
    }
}

/*end of button group*/
