
/*form's*/
.input-field, .textarea-field, .select-field {
    font-family: $ms_r;
    font-size: 14px;
    color: $light_black;
    width: 100%;
    height: auto;
    border: solid 2px #656565;
    border-radius: 0;
    background: #d5d5d5;
    padding: 20px 20px;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    appearance: none;
    transition: 0.2s ease all;
}
.select-field {
    background: url('/dist/assets/images/svg/arrow-down.svg') no-repeat !important;
    background-size: 15px !important;
    background-position: 97% !important;
}
.select-box {
    .select-field {
        background: none !important;
    }
    &:before {
        content: '\0043';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto;
        font-family: 'reicons';
        font-size: 14px;
        height: 14px;
        line-height: normal;
    }
}
::-webkit-input-placeholder {
    color: #a7a7a7;
}
:-moz-placeholder {
    color: #a7a7a7;
}
::-moz-placeholder {
    color: #a7a7a7;
}
:-ms-input-placeholder {
    color: #a7a7a7;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
input:-webkit-autofill,textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    background: #cecece;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
select::-ms-expand {
    display: none !important;
}
select {
    -moz-outline: none;
}
select {
    -moz-appearance: none !important;
}
::-ms-clear {
    width: 0;
    height: 0;
}
::-ms-reveal {
    width: 0;
    height: 0;
}

/*border effect*/
.input-box {
    position: relative;
    line-height: 0px;
    margin-bottom: 20px;
    text-align: left;
}
.input-field ~ .focus-border:before,
.input-field ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $maroon;
    transition: 0.6s;
}
.input-field ~ .focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}
.input-field ~ .focus-border i:before,
.input-field ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: $maroon;
    transition: 0.6s;
}
.input-field ~ .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}
.input-field:focus ~ .focus-border:before,
.input-field:focus ~ .focus-border:after {
    width: 100%;
    transition: 0.3s;
}
.input-field:focus ~ .focus-border i:before,
.input-field:focus ~ .focus-border i:after {
    height: 100%;
    transition: 0.4s;
}

/*checkbox*/
.input-box {
    p {
        font-size: 14px;
        margin: 0 0 18px;
    }
}
.custom-radio {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
.custom-radio label, .custom-checkbox label {
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 0px;
    position: relative;
}
.custom-radio input[type=radio].with-font,
.custom-checkbox input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.custom-radio input[type=radio].with-font ~ label:before,
.custom-checkbox input[type=checkbox].with-font ~ label:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid thin #656565;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.custom-radio input[type=radio].with-font ~ label:after,
.custom-checkbox input[type=checkbox].with-font ~ label:after {
    content: "";
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(218, 41, 28, 0);
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 2px;
    bottom: 0;
    margin: auto;
}
.custom-radio input[type=radio].with-font:checked ~ label:before,
.custom-checkbox input[type=checkbox].with-font:checked ~ label:before {
    border-color: $maroon;
}
.custom-radio input[type=radio].with-font:checked ~ label:after,
.custom-checkbox input[type=checkbox].with-font:checked ~ label:after {
    background: $maroon;
}
.custom-radio input[type=radio].with-font:focus ~ label:before,
.custom-radio input[type=checkbox].with-font:focus ~ label:before,
.custom-radio input[type=radio].with-font:focus ~ label,
.custom-radio input[type=checkbox].with-font:focus ~ label {} .custom-radio label {
    color: #555555;
    font-size: 14px;
    cursor: pointer;
    text-transform: capitalize;
}
.custom-radio label.active, .custom-checkbox label.active {
    color: #ef5994;
}
.custom-radio span {
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
    .custom-radio input[type=radio].with-font ~ label:before, .custom-checkbox input[type=checkbox].with-font ~ label:before {
        width: 15px;
        height: 15px;
    }
    .custom-radio input[type=radio].with-font ~ label:after, .custom-checkbox input[type=checkbox].with-font ~ label:after {
        width: 7px;
        height: 7px;
        left: 4px;
    }
    .custom-radio label {
        color: #555555;
        font-size: 14px;
        cursor: pointer;
        text-transform: capitalize;
    }
    .hvr-icon-01:before {
        font-size: 14px;
        right: 15px;
    }
    .custom-radio {
        margin-right: 15px;
    }
}
.input-box .input-error {
    color: $maroon !important;
    font-size: 12px !important;
    padding: 0 !important;
    margin: 5px 0 0px !important;
}
/*end of form's*/