<!DOCTYPE html>

<!-- html -->
<html lang="en" class="app__html">

<!-- head -->
<head>
    {{> head }}

    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- custom:css -->



    <!-- endcustom -->

</head><!-- head end -->

<!-- body -->
<body class="app__body">


    <!-- header -->
    {{> header }}

        <div class="wrapper-contents">

            {% body %}

        </div>



    <!-- footer -->
    {{> footer }}

    <!-- custom:js -->
  
    <!-- endcustom -->

    <!-- bower:js -->
    <!-- endbower -->

 

    <!-- inject:js -->
    <!-- endinject -->

</body><!-- body end -->


</html><!-- html end -->